{% extends account_type|add:"/layouts/base_layout.html" %}
{% load static %}
{% block title %}پیام ها{% endblock %}
{% block name %}
    {{ request.user.expertuser.expertform }}
    {{ request.user.industryuser.profile }}
    {{ request.user.researcheruser.researcherprofile }}
{% endblock name %}

{% block dialog %}
    {% with account_type|add:"/layouts/message_show.html" as dialog_template %}
        {% include  dialog_template %}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 text-right">
            <h3 class="h3 p-top-15">پیام ها</h3>
        </div>
    </div>
    <div class="row" style="height: 80vh">
        <div class="col-md-4 text-right lg-left-border">
            <div class="project-info-tabs">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                     aria-orientation="vertical">
                    <a class="nav-link active fs-15" id="news-message" data-toggle="pill"
                       role="tab" aria-selected="true">
                        اخبار
                    </a>
                    <a class="nav-link fs-15" id="notice-message" data-toggle="pill"
                       role="tab" aria-selected="false">
                        اطلاعیه
                    </a>
                    <a class="nav-link fs-15" id="alert-message" data-toggle="pill"
                       role="tab" aria-selected="false">
                        اخطار
                    </a>
                </div>
            </div>
            <div class="tab-content cover-page">
                {% for message in other_messages %}
                    <div class="card {% if not message.3 %}new{% endif %} box flow-root-display hover-enable w-100 {% if message.0.type == 0 %}notice-message{% elif message.0.type == 1 %}alert-message{% else %}news-message{% endif %}" id="{{ message.0.id }}">
                        <div class="box-header">
                            <h6>
                                {{ message.0.title }}
                            </h6>
                            <span class="new-message">new</span>
{#                            <div class="data-code">#}
{#                                <span>{{ message.0.code }}</span>#}
{#                            </div>#}
                            <div class="data-modified">
                                <span>{{ message.1 }}</span>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-12 text-justify">
                                    <span>{{ message.0.get_short_text }}</span>
                                </div>
                                {#                                <div class="col-2">#}
                                {#                                    <button class="default-btn preview-message" id="{{ message.0.id }}">#}
                                {#                                        مشاهده#}
                                {#                                    </button>#}
                                {#                                </div>#}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-8 message-expand">
            <div class="card box flow-root-display w-100 preview-message">
                <div class="box-header text-right">
                    <h6></h6>
                    <span class="back-arrow">
                        <i class="fas fa-arrow-right fa-lg"></i>
                    </span>
                    <span class="new-message"></span>
                    <div class="data-code">
                        <span></span>
                    </div>
                    <div class="data-modified">
                        <span></span>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row mbottom-lg-25">
                        <div class="col-12 text-justify">
                            <pre></pre>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-left">
                            <div class="attachment"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="message-connect">
                <span>نیاز به راهنمایی دارید؟</span>
                <span class="telegram">
                    <a href="https://t.me/ChamT_admin">
                        <i class="fab fa-telegram-plane"></i>
                    </a>
                </span>
                <span class="phone">
                    <a href="tel:+989301510096">
                        <i class="fas fa-phone"></i>
                    </a>
                </span>
                <span class="email">
                    <a  href="mailto:info@chamranteam.ir">
                        <i class="fas fa-envelope"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
    {#    <div class="card info-card messaging">#}
    {#        <div class="row">#}
    {#            <div class="col-lg-12">#}
    {#                <div class="custom-border-title">#}
    {#                    <span class="title">جدیدترین خبر ها</span>#}
    {#                    <span class="title-back"></span>#}
    {#                    <div class="row slide-messages">#}
    {#                        {% for message in top_3 %}#}
    {#                            <div class="col-lg-4 slide-message">#}
    {#                                <div class="messages-container">#}
    {#                                    <div class="card#}
    {#                                    {% if message.0.type == 0 %}#}
    {#                                        notice-message#}
    {#                                    {% elif message.0.type == 1 %}#}
    {#                                        alert-message#}
    {#                                    {% else %}#}
    {#                                        news-message#}
    {#                                    {% endif %}#}
    {#                                ">#}
    {#                                        <div class="message-head">#}
    {#                                            <div class="icon">#}
    {#                                                <img src="#}
    {#                                            {% if  message.0.type == 0 %}#}
    {#                                                {% static 'img/tick.svg' %}#}
    {#                                            {% elif message.0.type == 1 %}#}
    {#                                                {% static 'img/close.svg' %}#}
    {#                                            {% else %}#}
    {#                                                {% static 'img/megaphone.png' %}#}
    {#                                            {% endif %}#}
    {#                                            " alt="message-type-icon">#}
    {#                                            </div>#}
    {#                                            <div class="date">{{ message.1 }}</div>#}
    {#                                        </div>#}
    {#                                        <div class="message-body">#}
    {#                                            <div class="title">#}
    {#                                                <span>{{ message.0.title }}</span>#}
    {#                                            </div>#}
    {#                                            <div class="text">#}
    {#                                                <span>{{ message.0.get_short_text }}</span>#}
    {#                                            </div>#}
    {#                                            <button id="{{ message.0.id }}">مشاهده</button>#}
    {#                                            <div class="message-code">{{ message.0.code }}</div>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        {% endfor %}#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#    <div class="card info-card messaging">#}
    {#        <div class="row">#}
    {#            <div class="col-lg-12">#}
    {#                <div class="custom-border-title">#}
    {#                    <span class="title">لیست پیام ها</span>#}
    {#                    <span class="title-back"></span>#}
    {#                    <div class="row">#}
    {#                        <div class="search-message">#}
    {#                            <form method="post" action="">#}
    {#                                {% csrf_token %}#}
    {#                                <button type="submit">#}
    {#                                    <i class='fas fa-search fa-lg'></i>#}
    {#                                </button>#}
    {#                                <input type="text" name="search" class="search_message" required>#}
    {#                            </form>#}
    {#                        </div>#}
    {#                        {% for message in other_messages %}#}
    {#                            <div class="col-lg-12">#}
    {#                                <div class="card text-right#}
    {#                                {% if message.0.type == 0 %}#}
    {#                                    notice-message-sm#}
    {#                                {% elif message.0.type == 1 %}#}
    {#                                    alert-message-sm#}
    {#                                {% else %}#}
    {#                                    news-message-sm#}
    {#                                {% endif %}#}
    {#                            ">#}
    {#                                    <div class="message-head-sm">#}
    {#                                        <div class="title">#}
    {#                                            <span>{{ message.0.title }}</span>#}
    {#                                            <span class="sub-header">{{ message.2 }}</span>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <div class=" message-body-sm">#}
    {#                                        <span class="body">{{ message.0.get_short_text }}</span>#}
    {#                                        <button id="{{ message.0.id }}">مشاهده</button>#}
    {#                                        <span class="message-code">{{ message.0.code }}</span>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        {% endfor %}#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
{% endblock %}