{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>ورود</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="card">
    <img src="{% static 'img/logo.png' %}" alt="ChamranLogo">
    <p class="ChamranTeam">چمران تیم</p>
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="username">
            <label for="username">نام کاربری</label>
            {{ form.username|attr:"id:username"}}
            {{ form.username.errors }}
            <!-- <input type="text" id="username" name="username" value=""> -->
            <i class="fas fa-user-alt fa-lg"></i>
        </div>
        <div class="password">
            <label for="password">رمز عبور</label>
            <!-- <input type="password" id="password" name="password" value=""> -->
            {{ error }}
            {{ form.password|attr:"id:password"}}
            {{ form.password.errors }}
            <i class="fas fa-lock fa-lg"></i>
            <button type="submit" name="enter" class="Enter-btn">ورود</button>
        </div>
    </form>
    <a href="#" class="forget-pass">رمز عبور خود را فراموش کرده اید؟</a>
    <!-- <form method="POST" action=
        <div class="signUp-div">
            <input type="radio" name="user-type" id="researcher" value="researcher">
            <label for="researcher" class="user-type researcher text-center">
                <img src="{% static 'img/research.png' %}" alt="researcher">
                پژوهشگر
            </label>
            <input type="radio" name="user-type" id="expert" value="expert">
            <label for="expert" class="user-type expert text-center">
                <img src="{% static 'img/mind.png' %}" alt="expert">
                استاد
            </label>
            <input type="radio" name="user-type" id="industry" value="industry">
            <label for="industry" class="user-type industry text-center">
                <img src="{% static 'img/settings.png' %}" alt="industry">
                صنعت
            </label>
        </div>
        <div class="email">
            <label for="email">پست الکترونیکی</label>
            <input type="text" id="email" name="email" value="">
            <i class="fas fa-at fa-lg"></i>
        </div>
        <button type="button" name="enter" class="Enter-btn">ورود</button>
      </form> -->
    <div class="hr"></div>
    <p class="new-user">کاربر جدید هستید؟ <a href="#" onclick='signUp()'>عضویت</a></p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>
