{% extends "base.html" %}
{% load widget_tweaks %}
{% block page %}
    بازیابی رمز عبور
{% endblock %}
{% block content %}
    <form method="post" action="" novalidate class="recover-pass">
        {% csrf_token %}
            <div class="email">
                <label for="email">پست الکترونیکی</label>
                {{ form.username|attr:"id:email" }}
                {{ form.username.errors }}
                <i class="fas fa-user-alt fa-lg"></i>
            </div>
        <button type="submit" name="sign_up" class="Enter-btn">بازیابی</button>
    </form>
{% endblock content %}