/*
P.S: if you like my content maybe you will become a donator and donate some money? That helps me to create new awesome materials. https://www.paypal.me/melnik909
*/

.RB-rating{
    --uiRatingSize: var(--ratingSize, 20px);
    --uiRatingColor: var(--ratingColor, #eee);
    --uiRatingColorActive: var(--ratingColorActive, #ffcc00);
    --uiRatingStroke: var(--ratingStroke, #222);
    --uiRatingStrokeWidth: var(--ratingStrokeWidth, 1px);
    font-size: var(--uiRatingSize);
    color: var(--uiRatingColor);
    position: relative;
    text-align: center;
    overflow: hidden;
}
.RB-rating > span{
    display: inline-block;
}
.rated {
    color: var(--uiRatingColorActive);
}

.rating__item{
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.rating__item{
    padding-left: .25em;
    padding-right: .25em;
}

.rating__star{
    display: block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    stroke: var(--uiRatingStroke);
    stroke-width: var(--uiRatingStrokeWidth);
}