@import "fontiran.css";
@import "comments.css";
/* index.html*/
h5{
  color: #6F7285;
}
hr{
  color: #6F7285;
}
.project-card{
  padding: 5px 10px 42px 5px;
  color: #707070;
  height: 215px;
  z-index: 0;
}
.project-card > h6{
  font-weight: 600;
  color: #262626;
  min-height: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
  z-index: 3;
}
.project-card > svg{
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.1;
  height: 180px;
  z-index: 1;
}
.bottom-line{
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-border-radius: 0 0 0.25em 0.25em;
  -moz-border-radius: 0 0 0.25em 0.25em;
  border-radius: 0 0 0.25em 0.25em;
  background-color: #ffffff;
  width: calc( 100% - 3px );
  height: 45px;
  z-index: 2;
  border-top: 1px solid rgba(0,0,0,.125);
  /*box-shadow: 0 0 10px #707070;*/
}
.status-line{
  position: absolute;
  top: -1px;
  right: -2px;
  width: 5px;
  height: calc(100% + 1px);
  background-color: #bdbdbd;
  border:none;
  border-radius: 0 0.25em 0.25em 0;
}
.status-line.active{
  background-color: #57e32c !important;
}
.status-line.check{
  background-color: #ffa534 !important;
}
.status-line.refuse{
  background-color: #ff4545 !important;
}
.chamran-btn-info{
  border-radius: 0.25em;
  border: 1px solid #FFD700;
  color: #FFD700;
  background-color: #fff;
  padding: 5px 10px;
  outline: none;
  box-shadow: 0 0 5px 1px #e3e3e3;
  position: absolute;
  left: 5px;
  bottom: 5px;
  z-index: 3;
}
.chamran-btn-info:hover{
  background-color: #FFD700;
  color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.chamran-btn-info:focus{
  outline-color: #FFD700;
}
.timetable{
  position: absolute;
  bottom: 12px;
  right: 40px;
  z-index: 3;
}
.active-circle{
  position: absolute;
  bottom: 15px;
  right: 10px;
  height: 15px;
  width: 15px;
  background-color: #57e32c;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  animation: active-ripple 3s infinite;
  z-index: 3;
}
@keyframes active-ripple {
  0% {
    box-shadow: 0 0 0 1px rgba(87,227,44, 0.8),
                0 0 0 1px rgba(87,227,44, 0.4),
                0 0 0 1px rgba(87,227,44, 0.3);
                /*0 0 0 6px rgba(60,205,25, 0.3);*/
  }
  100% {
    box-shadow: 0 0 0 2px rgba(87,227,44, 0.8),
                0 0 0 5px rgba(87,227,44, 0.3),
                0 0 0 8px rgba(87,227,44, 0.1);
                /*0 0 0 8px rgba(60,205,25, 0.3);*/
  }
}
.check-circle{
  position: absolute;
  bottom: 15px;
  right: 10px;
  height: 15px;
  width: 15px;
  color: #ffa534;
  z-index: 3;
}
.refuse-circle{
  position: absolute;
  bottom: 15px;
  right: 10px;
  height: 15px;
  width: 15px;
  color: #ff4545;
  z-index: 3;
}
.default-circle{
  position: absolute;
  bottom: 15px;
  right: 10px;
  height: 15px;
  width: 15px;
  color: #bdbdbd;
  z-index: 3;
}
/* end index.html*/
/* showProject.html*/
.close{
  position: absolute;
  top: 5px;
  left: 5px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #bdbdbd;
}
.close:after,.close:before{
  background-color: #bdbdbd;
  content: "";
  display: block;
  right: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(50%) translateY(-50%) rotate(-45deg);
  transform-origin: center center;
}
.close:after{
  height: 1px;
  width: 50%;
}
.close:before{
  height: 50%;
  width: 1px;
}
.close:hover{
  cursor: pointer;
  border:1px solid #ff4545;
}
.close:hover:after,.close:hover:before{
  background-color: #ff4545;
}
.vote-question{
    border: 1px solid #bdbdbd;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 10px;
    height: 30px;
    width: 30px;
    color: #bdbdbd;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.16);
    z-index: 1;
}
.vote-question:hover{
    color: #3ccd1c;
    border-color: #3ccd1c;
    box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.16);
    cursor: pointer;
}
.vote-question > span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    font-size: 22px;
    font-weight:300;
}
.vote-question-text{
    position: absolute;
    top: 35px;
    left: 25px;
    border: 1px solid #3ccd1c;
    border-radius: 0 5px 5px 5px;
    padding: 5px;
    background-color: #fff;
    color: #3ccd1c;
    -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.16);
    font-size: 13px;
    max-width: 50%;
    z-index: 2;
    display: none;
}
.vote-question-text:before{
    content: '';
    position: absolute;
    top: -5px;
    left: -1px;
    height: 5px;
    width: 5px;
    border-left: 1px solid #3ccd1c;
    background-color: #fff;
}
.vote-question-text:after{
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    height: 5px;
    width: 5px;
    border-bottom: 1px solid #3ccd1c;
    border-bottom-left-radius: 10px;
    background-color: #fff;
}
input.vote-select + label{
    position: relative;
    top: 50%;
    transform: translateY(50%);
}
input.vote-select.l +{
    position: relative;
    top: 0%;
    left: 0%;
    /*-webkit-transform: translate(-50%, -50%);*/
    /*-moz-transform: translate(-50%, -50%);*/
    /*-ms-transform: translate(-50%, -50%);*/
    /*-o-transform: translate(-50%, -50%);*/
    /*transform: translate(-50%, -50%);*/
    width: 15px;
    height: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
input.vote-select[value='0'] + label{
    height: 40px;
    width: 40px;
    border: 1px solid #ff0505;
    background-color: #ffffff;
}
input.vote-select[value='0'] + label:hover, input.vote-select[value='0']:checked + label{
    background-color: #ff0505;
    cursor: pointer;
}
input.vote-select[value='1'] + label{
    height: 30px;
    width: 30px;
    border: 1px solid #ff0505;
    background-color: #ffffff;
}
input.vote-select[value='1'] + label:hover, input.vote-select[value='1']:checked + label{
    background-color: #ff0505;
    cursor: pointer;
}
input.vote-select[value='2'] + label{
    height: 20px;
    width: 20px;
    border: 1px solid #fff600;
    background-color: #ffffff;
}
input.vote-select[value='2'] + label:hover, input.vote-select[value='2']:checked + label{
    background-color: #fff600;
    cursor: pointer;
}
input.vote-select[value='3'] + label{
    height: 30px;
    width: 30px;
    border: 1px solid #009639;
    background-color: #ffffff;
}
input.vote-select[value='3'] + label:hover, input.vote-select[value='3']:checked + label{
    background-color: #009639;
    cursor: pointer;
}
input.vote-select[value='4'] + label{
    height: 40px;
    width: 40px;
    border: 1px solid #009639;
    background-color: #ffffff;
}
input.vote-select[value='4'] + label:hover, input.vote-select[value='4']:checked + label{
    background-color: #009639;
    cursor: pointer;
}
.vote-content{
    display: flex;
    padding-right: 25px;
    font-weight: 300;
    color: #000;
}
.swiper-slide > .vote-content > .number{
    position: absolute;
    top: 0;
    right: 0;
}
.vote-select-label{
    margin: 5px;
    top: 0;
    right: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.establish-time , .time-left{
    width: fit-content;
    position: absolute;
    top: -20px;
}
.establish-time{
    left: 180px;
}
.time-left{
    left: 50px;
}
.establish-time > .time-head , .time-left > .time-head {
    background-color: #3CCD1C;
    color: #fff;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    border: 1px solid #bdbdbd;
    border-bottom: none;
    padding: 0 5px;
    text-align: center;
}
.establish-time > .time-body , .time-left > .time-body{
    background-color: #F8FDF7;
    color: #707070;
    border: 1px solid #bdbdbd;
    padding: 0 5px;
    text-align: center;
}
.custom-border-title{
    border: 1px solid #bdbdbd;
    border-radius: 0.25em;
    background-color: #f8fdf7;
    padding: 45px 10px 25px 10px;
}
span.title{
    position: absolute;
    top: -11px;
    right: 35px;
    padding: 1px 5px;
    color: #707070;
    z-index: 2;
}
span.title-back{
    position: absolute;
    top: -20px;
    right: 20px;
    height: 36px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #fff;
}
.shadow-back{
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.16), 0 0 5px 0 #ffffff00;
}
.project-info-innerDiv{
    border: 1px solid #bdbdbd;
    background-color: #fff;
    border-radius: 0.25em;
    position: relative;
}
.project-info-tabs{
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    padding: 2px;
    width: 43px;
}
.project-info-content{
    width: calc(100% - 43px);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid #bdbdbd;
}
.nav-pills > .nav-link{
    position: relative;
    background-color: #707070;
    color: #fff!important;
    padding: 5px 2px;
    margin: 1px 2px 1px 0;
    border-radius: 0 0.25em 0.25em 0;
    width: 40px;
    height: 90px;
}
.nav-pills > .nav-link.active , .nav-pills > .nav-link:hover{
    background-color: #3CCD1C;
    color: #fff;
  cursor: pointer;
}
.nav-pills > .nav-link::after {
	content: 'شاخص ها';
	position: absolute;
	top: 50%;
	left: 50%;
	width: max-content;
	transform: translate(-50%,-50%) rotate(90deg);
}
.nav-pills > .nav-link:first-child::after{
  content: 'شاخص ها';
}
.nav-pills > .nav-link:nth-child(2)::after{
  content: 'راهکارها';
}
.nav-pills > .nav-link:nth-child(3)::after{
  content: 'منابع مورد نیاز';
}
.nav-pills > .nav-link:nth-child(4)::after{
  content: 'قوانین';
}
.question-mark{
    height: 100%;
}
.question{
    font-weight: bold;
    color: #3CCD1C;
    padding-right: 2px;
}
.answer{
    font-weight: 300;
    padding-right: 20px;
}
.accept-btn , .refuse-btn{
    padding: 10px 5px;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    color: #fff;
    /*box-shadow: 5px 5px 5px 20px #000;*/
}
.accept-btn:hover , .refuse-btn:hover {
    box-shadow: none;
}
.accept-btn{
    background-color: #3CCD1C;
}
.refuse-btn {
    background-color: #ff4545;
}
span.border-span{
  display: inline-block;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  border: 1px solid #bdbdbd;
  padding: 2px 5px;
  background-color: #F8FDF7;
  color: #707070;
  font-weight: 300;
  font-size: 12px;
  margin: 3px 5px;
}
.comments {

}
.comment-profile > img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.comment-body{
  width: calc(100% - 60px);
  position: absolute;
  padding: 5px;
  bottom: 0;
  height: 100%;
  border-radius: 0.25em;
  border: 1px solid #bdbdbd;
  background-color: #ffffff;
}
.my-comment , .your-comment {
  position: relative;
  margin: 10px auto;
}
.my-comment > .comment-profile {
  position: relative;
  right: 0;
  bottom: 0;
}
.my-comment > .comment-body {
  left: 0;
}
.your-comment > .comment-profile {
  position: relative;
  left: 0;
  bottom: 0;
}
.your-comment > .comment-body {
    right: 0;
}
.delete-comment {
  position: absolute;
  top: 5px;
  left: 5px;
  color: #bdbdbd;
}
.delete-comment:hover {
  cursor: pointer;
  color: #ff4545;
}
/*end showProject.html*/
.selected_keys{
  display: flex;
  padding: 5px;
}
.key-item{
  display: block;
  color: #6f7285;
  background-color: #fdfdfd;
  padding: 5px;
  margin: 0 5px;
  border-radius: 2px;
  border: 1px solid #bdbdbd;
}
.key-item:hover{
  color: #3CCD1C;
  border: 1px solid #3CCD1C;
}
.key-item > i{
  padding-right: 10px;
  cursor: pointer;
}
.key-item > i:hover{
  color: #00b613;
}
.attach-input{
  display: none;
}
.attach-label{
  position: relative;
  top: auto;
  right: auto;
  border-radius: 0.25rem;
  border: 1px dashed #bdbdbd;
  background-color: #fdfdfd;
  color: #6f7285;
  padding: 11px 50px;
  margin: 10px 0;
  height: 50px;
}
.attach-label:hover , .attach-label:focus{
  border: 1px dashed #3CCD1C;
  background-color: #fff;
  color: #3CCD1C;
  cursor: pointer;
  padding: 11px 50px;
  margin: 10px 0;
  height: 50px;
}
div.inputTags-list span.inputTags-item{
  background-color: #3CCD1C;
}
.inputTags-field{
  margin: 0;
}
.inputTags-field:focus{
  background-color: #fff!important;
}
.inputTags-list{
  background-color: #fdfdfd;
  border: 1px solid #bdbdbd!important;
  padding: 0!important;
}
/*
 * Vote
 */
.vote{
    position: absolute;
    top: 40px;
    left: 5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #bdbdbd;
    color: #bdbdbd;
    z-index: 100;
}
.vote:hover{
    color: #3ccd1c;
    border-color: #3ccd1c;
    cursor: pointer;
}
.vote > span.dots{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 0;
    width: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border:2px solid #bdbdbd;
    background-color: #bdbdbd;
    transition: 0.3s;
}
.vote > span.dots:after{
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    border:2px solid #bdbdbd;
    background-color: #bdbdbd;
    transition: 0.3s;
}
.vote > span.dots:before{
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 0;
    height: 0;
    transform: translate(-40%, -200%);
    border-radius: 50%;
    border:2px solid #bdbdbd;
    background-color: #bdbdbd;
    transition: 0.3s;
}
.vote > span.dots.expand{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 0;
    width: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border:2px solid transparent;
    background-color: transparent;
}
.vote > span.dots.expand:after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 8px;
    height: 3px;
    transform: translate(-70%, -50%) rotate(45deg);
    border-radius: 2px;
    border: none;
    background-color: #3ccd1c;
}
.vote > span.dots.expand:before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 8px;
    height: 3px;
    transform: translate(-10%, -40%) rotate(135deg);
    border-radius: 2px;
    border:none;
    background-color: #3ccd1c;
}
.vote-dialog{
    position: absolute;
    top: 80px;
    left: 20px;
    height: 75px;
    width: 200px;
    border-radius: 0 5px 5px 5px;
    border: 1px solid #bdbdbd;
    color: #bdbdbd;
    z-index: 100;
    padding-top: 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
    display: none;
}
.vote-dialog:before{
    content: '';
    position: absolute;
    top: -10px;
    left: -1px;
    height: 10px;
    width: 10px;
    border-left: 1px solid #bdbdbd;

    background-color: #fff;
}
.vote-dialog:after{
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    height: 10px;
    width: 10px;
    border-bottom: 1px solid #bdbdbd;
    border-bottom-left-radius: 10px;
    background-color: #fff;
}
.vote-dialog > div.card{
    padding: 10px;
    margin: 5px;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.2);
}
.vote-dialog > div.card:hover{
    border-color: #3ccd1c;
    color: #3ccd1c;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
}
.vote-dialog > div.card.expert-back:after{
    background-image: url("../img/mind.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position-x: right;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.3;
}
.vote-dialog > div.card.expert-back.hover:after{
    background-image: url("../img/mind_hover.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position-x: right;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.3;
}
.swiper-wrapper{
    direction: ltr;
}
.swiper-slide{
    direction: rtl;
}
.prev-button.disabled{
    box-shadow: none;
}
.prev-button.disabled:hover{
    border-color: #bdbdbd;
    color: #bdbdbd;
    cursor: default;
}
.next-button.disabled{
    box-shadow: none;
}
.next-button.disabled:hover{
    border-color: #bdbdbd;
    color: #bdbdbd;
    cursor: default;
}
.vote-check+label{
    position: relative;
    padding: 5px;
    top: 0;
    right: 0;
    min-width: 45px;
    text-align: center;
    border: 1px solid #6f7285;
    border-radius: 5px 0 5px 0;
    transition: all ease-in-out 0.3s;
}
.vote-check+label:hover, .vote-check:checked+label{
    border: 1px solid #3CCD1C;
    border-radius: 20px;
    color: #3CCD1C;
    cursor: pointer;
}

/*
 * Mesages
*/
.news-message {

}
.search-message {
    position: absolute;
    top: -15px;
    left: 25px;
    width: 100%;
}
.search-message button{
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    left: 0;
}
.search-message input.search_message{
    -webkit-transition: ease 0.5s;
    -moz-transition: ease 0.5s;
    -ms-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
}
.news-message:hover, .alert-message:hover, .notice-message:hover {
    -webkit-box-shadow: 0px 0px 10px 0 rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 0px 10px 0 rgba(0,0,0,0.16);
    box-shadow: 0px 0px 10px 0 rgba(0,0,0,0.16);
    cursor: pointer;
}
.news-message-sm, .notice-message-sm, .alert-message-sm {
    padding: 5px 5px 5px 65px;
    margin: 5px auto;
    border-right: 5px solid #707070;
    min-height: 70px;
}
.notice-message-sm {
    border-right-color: #3ccd1c;
}
.alert-message-sm {
    border-right-color: #ff4545;
}
.message-head {
    position: relative;
    background-color: #707070;
    color: #fff;
    min-height: 200px;
    min-width: 100px;
}
.alert-message > .message-head {
    background-color: #ff4545;
}
.notice-message > .message-head {
    background-color: #3ccd1c;
}
.message-head > .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.message-head > .icon > img {
    width: 100px;
    border-radius: 0;
}
.alert-message >.message-head > .icon > img {
    width: 80px;
}
.message-head > data {
    position: absolute;
    top: 5px;
    left: 10px;
}
.message-body {
    background-color: #ffffff;
    color: #000;
    text-align: center;
    padding: 5px;
}
.message-body > .title, .message-head-sm > .title {
    font-size: 14px;
    font-weight: 400;
}
.message-body > .body {
    text-align: justify;
}
.message-body > .message-code, .message-body-sm > .message-code {
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-size: 12px;
}
.message-body > button {
    border: 1px solid #707070;
    color: #707070;
    padding: 5px 10px;
    background-color: #ffffff;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.16);
    margin: 15px auto;
    outline: none;
}
.alert-message > .message-body > button{
    border-color: #ff4545;
    color: #ff4545;
}
.notice-message > .message-body > button{
    border-color: #3ccd1c;
    color: #3ccd1c;
}
.message-body > button:hover {
    -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.16);
}
.message-body-sm > button{
    position: absolute;
    top: 50%;
    left: 5px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    outline: none;
    border: 1px solid #707070;
    -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.16);
}
.alert-message-sm button {
    border-color: #ff4545;
    color: #ff4545;
}
.notice-message-sm button {
    border-color: #3ccd1c;
    color: #3ccd1c;
}
.message-body-sm > button:hover{
    -webkit-box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.16);
    -moz-box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.16);
    box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.16);
}
/*
* Message Dialog
 */
.message-innerDiv{
    padding: 10px;
    text-align: right;
}
.message-show .dialog{
    width: 50%;
    padding: 0;
}
.message-show-image > img{
    border-radius: 0.25em;
    width: 100%;
    margin: 5px auto;
}
.message-show-head > .title {
    font-size: 17px;
    font-weight: 400;
}
.message-show-head > .date {
    display: block;
    float: left;
    color: #3ccd1c;
    font-weight: 500;
}
.message-show-body{
    line-height: 25px;
}
.message-show-body > .message-writer{
    font-weight: 400;
}
.message-connect{
    margin-top: 5px;

}
.message-connect > span {
    margin: 5px;
}
.message-connect .fa-phone, .message-connect .fa-telegram-plane{
  border: 1px solid transparent;
  padding: 6px;
  background-color: transparent;
  border-radius: 3px;
}
.message-connect .fa-phone:hover, .message-connect .fa-telegram-plane:hover{
  cursor: pointer;
  color: #3ccd1c;
  border: 1px solid #3ccd1c;
  padding: 6px;
  background-color: transparent;
  border-radius: 3px;
}
.message-writer {
    text-align: left;
}
.message-show-head > .icon > img{
    border-radius: 0;
    height: 30px;
}
.message-show-head .title {
    display: inline;
    font-size: 14px;
    font-weight: 400;
    padding-right: 10px;
}
.notice-message-show .message-show-head{
    background-color: #3ccd1c;
    color: #ffffff;
    padding: 5px 10px 5px 5px;
}
.message-show-body{
    padding: 5px 10px;
}
.message-show-body .body{
    direction: rtl;
    text-align: justify;
    padding: 5px;
}
.message-show-body .message-info {
    text-align: left;
    font-size: 11px;
}
.message-show-body .message-info i.fa-calendar-alt {
    padding-left: 5px;
}
.message-show-body .message-info > div{
    display: inline-block;
    direction: rtl;
}
.message-show-body .message-connect{
    direction: rtl;
    font-size: 11px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.message-show .close{
    opacity: 1;
    border-color: #ffffff;
}
.message-show .close:after{
    background-color: #ffffff;
}
.message-show .close:before{
    background-color: #ffffff;
}
.message-show .close:hover{
    opacity: 1;
    border-color: #ff4545;
}
.message-show .close:hover:after{
    background-color: #ff4545;
}
.message-show .close:hover:before{
    background-color: #ff4545;
}