{% extends "industry/layouts/base_layout.html" %}
{% load static %}
{% load gregorian_to_jalali %}
{% block title %}پروژه ها{% endblock %}

{% block dialog %}
    {% if user.industryuser.status == 'signed_up' %}
        {% include 'industry/layouts/initial_information.html' %}
    {% endif %}
    {% include 'industry/layouts/showProject.html' %}
    {% include 'industry/layouts/vote_dialog.html' %}
    {% include 'industry/layouts/expertResume.html' %}
{% endblock %}

{% block name %}{{ request.user.industryuser.industryform }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 text-right">
            <h3 class="h3 p-top-15 border-bottom">پروژه ها</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-right">
            {% for project in projects %}
                {% if project.status == 0 %}
                    <div class="card box flow-root-display w-100">
                        <div class="box-header">
                            <h6>{{ project.project_form.project_title_persian }}</h6>
                            <span class="check-status"></span>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-6">

                                </div>
                                <div class="col-6">
                                    <button class="preview-project default-btn" type="button"
                                            id="{{ project.id }}">مشاهده
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#                    <div class="col-lg-6 col-md-6">#}
                    {#                        <div class="card project-card text-right">#}
                    {#                            <h6> {{ project.project_form.project_title_persian }}</h6>#}
                    {#                            <div class="employer"><i class="far fa-envelope"></i> پیام ها</div>#}
                    {#                            <button class="preview-project default-btn show-btn show-project" type="button"#}
                    {#                                    id="{{ project.id }}">مشاهده#}
                    {#                            </button>#}
                    {#                            <div class="timetable"><i></i> در حال بررسی!</div>#}
                    {#                            <div class="check-circle"><i class="fas fa-spinner fa-pulse fa-lg"></i></div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                {% elif project.status == 1 %}
                    <div class="card box flow-root-display w-100">
                        <div class="box-header">
                            <h6>{{ project.project_form.project_title_persian }}</h6>
                            <span class="active-status">
                                <i class="fas fa-spinner fc-white center-abs"></i>
                            </span>
                            <div class="notification">
                                <i class="far fa-comment-alt center-abs"></i>
                                {% if project.industryUnseenCommentCount %}
                                    <span>{{ project.industryUnseenCommentCount }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-6">

                                </div>
                                <div class="col-6">
                                    <button class="preview-project default-btn" type="button"
                                            id="{{ project.id }}">مشاهده
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#                    <div class="col-lg-6 col-md-6">#}
                    {#                        <div class="card project-card text-right">#}
                    {#                            <h6> {{ project.project_form.project_title_persian }}</h6>#}
                    {##}
                    {#                            {% if project.industryUnseenCommentCount != 0 %}#}
                    {#                                <div class="employer">#}
                    {#                                    <i class="far fa-envelope"></i>#}
                    {#                                    پیام ها#}
                    {#                                    <span class="unseen-msg">{{ project.industryUnseenCommentCount }}</span>#}
                    {#                                </div>#}
                    {#                            {% else %}#}
                    {#                                <div class="employer"><i class="far fa-envelope"></i> پیام ها</div>#}
                    {#                            {% endif %}#}
                    {#                            <button class="preview-project default-btn show-btn show-project" type="button"#}
                    {#                                    id="{{ project.id }}">مشاهده#}
                    {#                            </button>#}
                    {#                            <div class="timetable"><i class="fas fa-hourglass-half"></i> {{ project.time_left }}#}
                    {#                            </div>#}
                    {#                            <div class="active-circle"></div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                {% elif project.status == 2 %}
                    <div class="card box flow-root-display w-100">
                        <div class="box-header">
                            <h6>{{ project.project_form.project_title_persian }}</h6>
                            <span class="active-status"></span>
                            <div class="notification">
                                <i class="far fa-comment-alt center-abs"></i>
                                {% if project.industryUnseenCommentCount %}
                                    <span>{{ project.industryUnseenCommentCount }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6 col-8">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="text-center">
                                                <div class="label">مهلت</div>
                                                <div class="value">
                                                    <span>{{ project.time_left }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="text-center">
                                                <div class="label">استاد</div>
                                                <div class="value">
                                                    {% if project.expert_accepted %}
                                                        <span>{{ project.expert_accepted.expertform }}</span>
                                                    {% else %}
                                                        <span>نامشخص</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-4">
                                    <button class="preview-project default-btn" type="button"
                                            id="{{ project.id }}">مشاهده
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#                    <div class="col-lg-6 col-md-6">#}
                    {#                        <div class="card project-card text-right">#}
                    {#                            <h6> {{ project.project_form.project_title_persian }}</h6>#}
                    {##}
                    {#                            {% if project.industryUnseenCommentCount != 0 %}#}
                    {#                                <div class="employer">#}
                    {#                                    <i class="far fa-envelope"></i>#}
                    {#                                    پیام ها#}
                    {#                                    <span class="unseen-msg">{{ project.industryUnseenCommentCount }}</span>#}
                    {#                                </div>#}
                    {#                            {% else %}#}
                    {#                                <div class="employer"><i class="far fa-envelope"></i> پیام ها</div>#}
                    {#                            {% endif %}#}
                    {##}
                    {#                            {% if project.expert_accepted %}#}
                    {#                                <div class="employer">#}
                    {#                                    <i class="fas fa-user-tie"></i>#}
                    {#                                    استاد#}
                    {#                                    {{ project.expert_accepted.expertform }}#}
                    {#                                </div>#}
                    {#                            {% endif %}#}
                    {#                            <button class="preview-project default-btn show-btn show-project" type="button"#}
                    {#                                    id="{{ project.id }}">مشاهده#}
                    {#                            </button>#}
                    {#                            <div class="timetable"><i class="fas fa-hourglass-half"></i> {{ project.time_left }}#}
                    {#                            </div>#}
                    {#                            <div class="active-circle"></div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                {% elif project.status == 3 %}
                    <div class="card box flow-root-display w-100">
                        <div class="box-header">
                            <h6>{{ project.project_form.project_title_persian }}</h6>
                            <span class="reject-status"></span>
                            <div class="notification">
                                <i class="far fa-comment-alt center-abs"></i>
                                {% if project.industryUnseenCommentCount %}
                                    <span>{{ project.industryUnseenCommentCount }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="text-center">
                                                <div class="label">استاد</div>
                                                <div class="value">
                                                    {% if project.expert_accepted %}
                                                        <span>{{ project.expert_accepted.expertform }}</span>
                                                    {% else %}
                                                        <span>نامشخص</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <button class="preview-project default-btn" type="button"
                                            id="{{ project.id }}">مشاهده
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#                    <div class="col-lg-6 col-md-6">#}
                    {#                        <div class="card project-card text-right">#}
                    {#                                <div class="status-line refuse"></div>#}
                    {#                            <h6><i class="fas fa-file-alt"></i>#}
                    {#                                {{ project.project_form.project_title_persian }}</h6>#}
                    {#                            <div class="employer"><i class="far fa-envelope"></i> پیام ها</div>#}
                    {#                            {% if project.expert_accepted %}#}
                    {#                                <div class="employer">#}
                    {#                                    <i class="fas fa-user-tie"></i>#}
                    {#                                    استاد#}
                    {#                                    {{ project.expert_accepted.expertform }}#}
                    {#                                </div>#}
                    {#                            {% endif %}#}
                    {#                            <button class="preview-project default-btn show-btn show-project" type="button"#}
                    {#                                    id="{{ project.id }}">نمایش#}
                    {#                            </button>#}
                    {#                            <div class="timetable"><i></i> معلق!</div>#}
                    {#                            <div class="refuse-circle">#}
                    {#                                <i class="fas fa-ban fa-lg"></i>#}
                    {#                            </div>#}
                    {#                            <div class="bottom-line"></div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                {% elif project.status == 4 %}
                    <div class="card box flow-root-display w-100">
                        <div class="box-header">
                            <h6>{{ project.project_form.project_title_persian }}</h6>
                            <span class="complete-status">
                                <i class="fas fa-check center-abs fc-white"></i>
                            </span>
                            <div class="notification">
                                <i class="far fa-comment-alt center-abs"></i>
                                {% if project.industryUnseenCommentCount %}
                                    <span>{{ project.industryUnseenCommentCount }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="text-center">
                                                <div class="label">مهلت</div>
                                                <div class="value">
                                                    <span>{{ project.time_left }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="text-center">
                                                <div class="label">استاد</div>
                                                <div class="value">
                                                    {% if project.expert_accepted %}
                                                        <span>{{ project.expert_accepted.expertform }}</span>
                                                    {% else %}
                                                        <span>نامشخص</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <button class="preview-project default-btn" type="button"
                                            id="{{ project.id }}">مشاهده
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#                    <div class="col-lg-6 col-md-6">#}
                    {#                        <div class="card project-card text-right">#}
                    {#                            <h6><i class="fas fa-file-alt"></i>#}
                    {#                                {{ project.project_form.project_title_persian }}</h6>#}
                    {#                            <div class="employer"><i class="far fa-envelope"></i> پیام ها</div>#}
                    {#                            {% if project.expert_accepted %}#}
                    {#                                <div class="employer">#}
                    {#                                    <i class="fas fa-user-tie"></i>#}
                    {#                                    استاد#}
                    {#                                    {{ project.expert_accepted.expertform }}#}
                    {#                                </div>#}
                    {#                            {% endif %}#}
                    {#                            <button class="preview-project default-btn show-btn" type="button"#}
                    {#                                    id="{{ project.id }}">نمایش#}
                    {#                            </button>#}
                    {#                            <div class="timetable"><i class="fas fa-check-double"></i> تکمیل شد</div>#}
                    {#                            <div class="default-circle"><i class="fas fa-check-circle fa-lg"></i></div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                {% endif %}
            {% empty %}
                <div class="no-project-container">
                    <div class="no-project">
                        <img src="{% static 'img/no_project.svg' %}" alt="logo" class="icon">
                        <h4>متاسفانه، هنوز پروژه ای ثبت نکرده اید!</h4>
                        <p>برای ثبت پروژه های خود و سپردن آن ها به متخصصین حوزه شما، لطفا از طریق</p>
                        <span>
                                <i class="fas fa-plus-circle"></i>
                                <span>ثبت پروژه جدید</span>
                            </span>
                        <p>در منوی سمت راست، اقدام نمایید.</p>
                    </div>
                </div>
            {% endfor %}
        </div>
{#        <div class="col-lg-3"></div>#}
    </div>
{% endblock %}