{% extends "industry/layouts/base_layout.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}پذیرش پروژه{% endblock %}
{% block header %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css"/>
    <link rel="stylesheet" href="{% static 'industry/css/inputTags.min.css' %}">
{% endblock %}
{% block name %}{{ request.user.industryuser.industryform }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 text-right">
            <h3 class="h3 border-bottom p-top-15">ثبت پروژه جدید</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div class="card box flow-root-display w-100">
                    <div class="box-header text-right">
                        <h6>اطلاعات اولیه</h6>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="id_project_title_persian">عنوان پروژه (به فارسی)</label>
                                {% if form.project_title_persian.errors %}
                                    {% render_field form.project_title_persian class="error w-100" %}
                                {% else %}
                                    {% render_field form.project_title_persian class="w-100" %}
                                {% endif %}
                                <div class="error">
                                    <span class="error-body">{% render_field form.project_title_persian.errors %}</span>
                                </div> 
                            </div>
                            <div class="col-lg-6">
                                <label for="id_project_title_english">عنوان پروژه (به لاتین)</label>
                                {% if forms.project_title_english.errors %}
                                    {% render_field form.project_title_english class="error w-100" %}
                                {% else %}
                                    {% render_field form.project_title_english class="w-100" %}
                                {% endif %}
                                <div class="error">
                                    <span class="error-body">{% render_field forms.project_title_english.errors %}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mbottom-10" style="margin-top: 5px">
                            <div class="col-lg-12 text-right">
                                <label for="id_key_words">کلیدواژه ها</label>
                                {% if form.key_words.erros %}
                                    {% render_field form.key_words class="error w-100" %}
                                {% else %}
                                    {% render_field form.key_words class="w-100" %}
                                {% endif %}
                                <div class="error">
                                    <span class="error-body">{% render_field form.key_words.erros class="w-100" %}</span>
                                </div>
                                
                                <div class="div-info">
                                    * پس از وارد کردن کلیدواژه کلید Enter را فشار دهید، برای حذف کلیدواژه های قبلی می
                                    توانید
                                    از آیکون حذف بهره ببرید.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-right">
                                <span class="sub-header" style="position: relative">روش تحقیق : </span>
                                <div class="error">
                                        <span class="error-body">{% render_field form.research_methodology.errors %}</span>
                                    </div>
                            </div>
                            <div class="col-6 text-left">
                                <input type="radio" id="id_research_methodology_0" name="research_methodology"
                                       class="label-check-radio" value="0">
                                <label for="id_research_methodology_0" style="padding: 5px 9px;position: relative">کمی</label>
                            </div>
                            <div class="col-6 text-right">
                                <input type="radio" id="id_research_methodology_1" name="research_methodology"
                                       class="label-check-radio" value="1">
                                <label for="id_research_methodology_1" style="position: relative">کیفی</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card box flow-root-display w-100">
                    <div class="box-header text-right">
                        <h6>شاخص ها</h6>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <br>
                                <span class="sub-header">لطفا مشکل اصلی که پروژه به حل آن پرداخته را توضیح و اهمیت آن را تبیین کنید.</span>
                                {%if form.main_problem_and_importance.errors %}
                                    {% render_field form.main_problem_and_importance class="error w-100" rows="5" dir="rtl" placeholder="اینجا وارد کنید ..." style="margin-top: 0" %}
                                {% else %}
                                    {% render_field form.main_problem_and_importance class="w-100" rows="5" dir="rtl" placeholder="اینجا وارد کنید ..." style="margin-top: 0" %}
                                {% endif %}
                                <div class="error">
                                    <span class="error-body">{% render_field form.main_problem_and_importance.errors %}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <span class="sub-header">در صورت حل این مشکل، چه پیشرفتی در شیوه های درمانی / تجهیزات پزشکی / خدمات درمانی یا ... حاصل می شود؟</span>
                                {% if form.progress_profitability.errors %}
                                    {% render_field form.progress_profitability class="error w-100" rows="5" dir="rtl" placeholder="اینجا وارد کنید ..." style="margin-top: 0" %}
                                {% else %}
                                    {% render_field form.progress_profitability class="w-100" rows="5" dir="rtl" placeholder="اینجا وارد کنید ..." style="margin-top: 0" %}
                                {% endif %}
                                <div class="error">
                                        <span class="error-body">{% render_field form.progress_profitability.errors %}</span>
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <span class="sub-header">برآورد شما از سود مالی این پروژه چگونه است؟</span>
                                {% if form.predict_profit.errors %}
                                    {% render_field form.predict_profit class="error w-100" rows="5" dir="rtl" placeholder="اینجا وارد کنید ..." style="margin-top: 0" %}
                                {% else %}
                                    {% render_field form.predict_profit class="w-100" rows="5" dir="rtl" placeholder="اینجا وارد کنید ..." style="margin-top: 0" %}
                                {% endif %}
                                <div class="error">
                                    <span class="error-body">{% render_field form.predict_profit.errors %}</span>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card box flow-root-display w-100">
                    <div class="box-header text-right">
                        <h6>راهکار ها</h6>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <br>
                                <span class="sub-header">لطفا راه حل خود را برای حل این مشکل به طور خلاصه توضیح دهید.</span>
                                
                                {% if form.approach.errors %}
                                    {% render_field form.approach class="error w-100" rows="7" dir="rtl" placeholder="اینجا وارد کنید ..." style="margin-top: 0" %}
                                {% else %}
                                    {% render_field form.approach class="w-100" rows="7" dir="rtl" placeholder="اینجا وارد کنید ..." style="margin-top: 0" %}
                                {% endif %}
                                <div class="error">
                                    <span class="error-body">{% render_field form.approach.errors %} </span>
                                </div> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <span class="sub-header"> این راه حل چه مشکلاتی می‌تواند داشته باشد؟</span>
                                {% if form.potential_problems.errors %}
                                {% render_field form.potential_problems class="error w-100" rows="7" dir="rtl" placeholder="اینجا وارد کنید ..." style="margin-top: 0" %}
                                {% else %}
                                    {% render_field form.potential_problems class="w-100" rows="7" dir="rtl" placeholder="اینجا وارد کنید ..." style="margin-top: 0" %}
                                {% endif %}
                                <div class="error">
                                    <span class="error-body"> {% render_field form.potential_problems.errors %}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {#                <div class="card-header">راهکار ها</div>#}
                {#                <div class="card-header-info">در صورت وجود پیشنهاد</div>#}
                <div class="card box flow-root-display w-100">
                    <div class="box-header text-right">
                        <h6>منابع مورد نیاز</h6>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <br>
                                <span class="sub-header">جهت انجام پروژه خود به چه امکانات یا آزمایشگاه هایی احتیاج دارید؟</span>
                                
                                {% if form.required_lab_equipment.errors %}                                    
                                    {% render_field form.required_lab_equipment class="error w-100" rows="4" dir="rtl" placeholder="اینجا وارد کنید ..." style="margin-top: 0" %}
                                {% else %}
                                    {% render_field form.required_lab_equipment class="w-100" rows="4" dir="rtl" placeholder="اینجا وارد کنید ..." style="margin-top: 0" %}
                                {% endif %}
                                <div class="error">
                                    <span class="error-body"> {% render_field form.required_lab_equipment.errors %}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <span class="sub-header">جهت انجام پروژه خود به چه تخصص ها و چه تکنیک ها آزمایشگاهی ای احتیاج دارید؟</span>
                                {% if form.required_method.errors %}                                    
                                    {% render_field form.required_method class="error w-100" rows="4" dir="rtl" placeholder="اینجا وارد کنید ..." style="margin-top:0" %}
                                {% else %}
                                    {% render_field form.required_method class="w-100" rows="4" dir="rtl" placeholder="اینجا وارد کنید ..." style="margin-top:0" %}
                                {% endif %}
                                <div class="error">
                                    <span class="error-body"> {% render_field form.required_method.errors %}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <span class="sub-header">لطفا مراحل انجام پروژه خود را مشخص کنید.</span>
                                
                                {% if form.project_phase.errors %}
                                    {% render_field form.project_phase class="error w-100" rows="4" dir="rtl" placeholder="اینجا وارد کنید ..." style="margin-top: 0" %}
                                {% else %}
                                    {% render_field form.project_phase class="w-100" rows="4" dir="rtl" placeholder="اینجا وارد کنید ..." style="margin-top: 0" %}
                                {% endif %}
                                <div class="error">
                                    <span class="error-body"> {% render_field form.project_phase.errors %}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <span class="sub-header">پروژه شما به چه مقدار بودجه نیاز دارد؟</span>
                                {% if form.required_budget.errors %}
                                    {% render_field form.required_budget class="error w-100" rows="4" dir="rtl" placeholder="اینجا وارد کنید ..." style="margin-top: 0" %}
                                {% else %}
                                    {% render_field form.required_budget class="w-100" rows="4" dir="rtl" placeholder="اینجا وارد کنید ..." style="margin-top: 0" %}
                                {% endif %}
                                <div class="error">
                                    <span class="error-body"> {% render_field form.required_budget.errors %} </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card box flow-root-display w-100">
                    <div class="box-header text-right">
                        <h6>قوانین</h6>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <br>
                                <span class="sub-header">از لحاظ نکات اخلاقی (کار با نمونه انسانی، حیوانی، مواد رادیواکتیو و...)، پروژه شما با چه چالش هایی روبه رو است؟</span>
                                {% if form.policy.errors %} 
                                    {% render_field form.policy class="error w-100" rows="7" dir="rtl" placeholder="اینجا وارد کنید ..." style="margin-top: 0" %}
                                {% else %}
                                    {% render_field form.policy class="w-100" rows="7" dir="rtl" placeholder="اینجا وارد کنید ..." style="margin-top: 0" %}
                                {% endif %}
                                <div class="error">
                                    <span class="error-body"> {% render_field form.policy.errors %} </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="form-submit">
                    <i class="fas fa-check"></i>
                    افزودن پروژه
                </button>
            </form>
        </div>
    </div>
    <a href="#top" class="top-button">
        <i class="fas fa-angle-up"></i>
    </a>
{% endblock %}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/mahmoud-eskandari/NumToPersian/dist/num2persian-min.js"></script>
    <script src="{% static 'industry/js/inputTags.jquery.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $('#keys').inputTags();
    </script>
{% endblock %}