{% extends "industry/layouts/base_layout.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}پذیرش پروژه{% endblock %}
{% block header %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css"/>
    <link rel="stylesheet" href="{% static 'industry/css/inputTags.min.css' %}">
    <style rel="stylesheet">
        div.container {
            display: block;
            width: 100%;
            margin: 0;
            padding: 0 15px;
            background-color: transparent;
            box-shadow: none;
        }
    </style>
{% endblock %}
{% block name %}{{request.user.industryuser.industryform}}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card info-card text-right">
                <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <div class="card-header">اطلاعات اولیه</div>
                    <div class="inner-card card">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="id_project_title_persian">عنوان پروژه (به فارسی)</label>
                                {% render_field form.project_title_persian class="w-100" %}
                                {% render_field form.project_title_persian.errors %}
                            </div>
                            <div class="col-lg-6">
                                <label for="id_project_title_english">عنوان پروژه (به لاتین)</label>
                                {% render_field form.project_title_english class="w-100" %}
                                {% render_field forms.project_title_english.errors %}
                            </div>
                        </div>
                        <div class="row" style="margin-top: 5px">
                            <div class="col-lg-12 text-right">
                                <label for="id_key_words">کلیدواژه ها</label>
                                {% render_field form.key_words class="w-100" %}
                                {% render_field form.key_words.erros class="w-100" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 text-right">
                                <span class="sub-header" style="position: relative;top: 15px;">روش تحقیق : </span>
                            </div>
                            <div class="col-lg-2 text-right">
                                <input type="radio" id="id_research_methodology_0" name="research_methodology"
                                       class="label-check-radio" value="0">
                                <label for="id_research_methodology_0" style="padding: 5px 9px;">کمی</label>
                            </div>
                            <div class="col-lg-2 text-right">
                                <input type="radio" id="id_research_methodology_1" name="research_methodology"
                                       class="label-check-radio" value="1">
                                <label for="id_research_methodology_1">کیفی</label>
                            </div>
                            {% render_field form.research_methodology.errors %}
                            <div class="col-lg-4"></div>
                        </div>
                    </div>
                    <div class="card-header">شاخص ها</div>
                    <div class="inner-card card">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <br>
                                <span class="sub-header">لطفا مشکل اصلی که پروژه به حل آن پرداخته را توضیح و اهمیت آن را تبیین کنید.</span>
                                {% render_field form.main_problem_and_importance class="w-100" rows="5" dir="rtl" placeholder="اینجا وارد کنید ..." style="margin-top: 0" %}
                                {% render_field form.main_problem_and_importance.errors %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <span class="sub-header">در صورت حل این مشکل، چه پیشرفتی در شیوه های درمانی / تجهیزات پزشکی / خدمات درمانی یا ... حاصل می شود؟</span>
                                {% render_field form.progress_profitability class="w-100" rows="5" dir="rtl" placeholder="اینجا وارد کنید ..." style="margin-top: 0" %}
                                {% render_field form.progress_profitability.errors %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <span class="sub-header">برآورد شما از سود مالی این پروژه چگونه است؟</span>
                                {% render_field form.predict_profit class="w-100" rows="5" dir="rtl" placeholder="اینجا وارد کنید ..." style="margin-top: 0" %}
                                {% render_field form.predict_profit.errors %}
                            </div>
                        </div>
                    </div>
                    <div class="card-header">راهکار ها</div>
                    <div class="card-header-info">در صورت وجود پیشنهاد</div>
                    <div class="inner-card card">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <br>
                                <span class="sub-header">لطفا راه حل خود را برای حل این مشکل به طور خلاصه توضیح دهید.</span>
                                {% render_field form.approach class="w-100" rows="7" dir="rtl" placeholder="اینجا وارد کنید ..." style="margin-top: 0" %}
                                {% render_field form.approach.errors %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <span class="sub-header"> این راه حل چه مشکلاتی می‌تواند داشته باشد؟</span>
                                {% render_field form.potential_problems class="w-100" rows="7" dir="rtl" placeholder="اینجا وارد کنید ..." style="margin-top: 0" %}
                                {% render_field form.potential_problems.errors %}
                            </div>
                        </div>
                    </div>
                    <div class="card-header">منابع مورد نیاز</div>
                    <div class="inner-card card">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <br>
                                <span class="sub-header">جهت انجام پروژه خود به چه امکانات یا آزمایشگاه هایی احتیاج دارید؟</span>
                                {% render_field form.required_lab_equipment class="w-100" rows="4" dir="rtl" placeholder="اینجا وارد کنید ..." style="margin-top: 0" %}
                                {% render_field form.required_lab_equipment.errors %}
                            </div>
                        </div>
                        <div class="row">
                            <!-- <div class="col-lg-12 text-right">
                                <span class="sub-header">جهت انجام پروژه خود به چه تخصص ها و چه تکنیک ها آزمایشگاهی ای احتیاج دارید؟</span>
                                {% render_field form.required_technique class="w-100" rows="4" dir="rtl" placeholder="اینجا وارد کنید ..." style="margin-top:0" %}
                                {% render_field form.required_technique.errors %}
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <span class="sub-header">لطفا مراحل انجام پروژه خود را مشخص کنید.</span>
                                {% render_field form.project_phase class="w-100" rows="4" dir="rtl" placeholder="اینجا وارد کنید ..." style="margin-top: 0" %}
                                {% render_field form.project_phase.errors %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <span class="sub-header">پروژه شما به چه مقدار بودجه نیاز دارد؟</span>
                                {% render_field form.required_budget class="w-100" rows="4" dir="rtl" placeholder="اینجا وارد کنید ..." style="margin-top: 0" %}
                                {% render_field form.required_budget.errors %}
                            </div>
                        </div>
                    </div>
                    <div class="card-header">قوانین</div>
                    <div class="inner-card card">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <br>
                                <span class="sub-header">از لحاظ نکات اخلاقی (کار با نمونه انسانی، حیوانی، مواد رادیواکتیو و...)، پروژه شما با چه چالش هایی روبه رو است؟</span>
                                {% render_field form.policy class="w-100" rows="7" dir="rtl" placeholder="اینجا وارد کنید ..." style="margin-top: 0" %}
                                {% render_field form.policy.errors %}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="chamran_btn ch-form-submit">
                        <i class="fas fa-check"></i>
                        افزودن پروژه
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/mahmoud-eskandari/NumToPersian/dist/num2persian-min.js"></script>
    <script src="{% static 'industry/js/inputTags.jquery.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $('#keys').inputTags();
    </script>
{% endblock %}