{% extends "industry/layouts/base_layout.html" %}
{% load static %}
{% load gregorian_to_jalali %}
{% load date_tags %}
{% block title %} جزییات پروژه {{ title }}{% endblock %}

{% block modals %}
    {% include 'industry/layouts/expertResume.html' with project_pk=project_pk %}
    {% include 'industry/layouts/researcher_info.html' %}
    {% if reseacherRequestAbility %}
        {% include 'industry/layouts/researcher_request.html' with form=researcherRequestFrom %}
    {% endif %}
{% endblock %}

{% block name %}{{ request.user.industryuser.profile }}{% endblock %}

{% block style %}
    <style type="text/css">
        {#@media (min-width: 768px) and (max-width: 992px) {#}
        {#    .project-progress .line-100:after {#}
        {#        width: calc({% project_progress  project_pk %}% + 6%);#}
        {#    }#}
        {##}
        {#    .project-progress .step-container:nth-child(2) {#}
        {#        right: {% date_to_percent project_pk=project_pk phase=1 type="w" %}%;#}
        {#    }#}
        {##}
        {#    .project-progress .step-container:nth-child(3) {#}
        {#        right: {% date_to_percent project_pk=project_pk phase=2 type="w" %}%;#}
        {#    }#}
        {##}
        {#    .project-progress .step-container:nth-child(4) {#}
        {#        right: {% date_to_percent project_pk=project_pk phase=3 type="w" %}%;#}
        {#    }#}
        {# }#}
        {##}
        {#@media (min-width: 992px) {#}
        {#    .project-progress .line-100:after {#}
        {#        height: calc({% project_progress  project_pk %}% + 6%);#}
        {#    }#}
        {##}
        {#    .project-progress .step-container:nth-child(2) {#}
        {#        top: {% date_to_percent project_pk=project_pk phase=1 type="h" %}%;#}
        {#    }#}
        {##}
        {#    .project-progress .step-container:nth-child(3) {#}
        {#        top: {% date_to_percent project_pk=project_pk phase=2 type="h" %}%;#}
        {#    }#}
        {##}
        {#    .project-progress .step-container:nth-child(4) {#}
        {#        top: {% date_to_percent project_pk=project_pk phase=3 type="h" %}%;#}
        {#    }#}
        {# }#}
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 text-right">
            <h3 class="h3 p-top-15">جزییات پروژه</h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'industry:index' %}">پروژه ها</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <span>جزییات پروژه</span>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-right">
            <div class="card box flow-root-display w-100">
                <div class="box-body">
                    <div class="row mbottom-lg-25 d-block d-lg-none">
                        <div class="col-lg-12 text-right">
                            <h6>پروژه <span>{{ title }}</span></h6>
                            <h6>{{ eng_title }}</h6>
                        </div>
                    </div>
                    <div class="row" style="direction: ltr!important">
                        <div class="d-none d-lg-block col-lg-4 col-xs-3">
                            {% if not project.is_date_valid %}
                                <div class="project-progress-no-access">این قسمت در دسترس نیست!</div>
                            {% endif %}
                            <div class="project-progress mbottom-lg-25 {% if not project.is_date_valid %}project-progress-disabled{% endif %}">
                                <div class="step-container active">
                                    <span class="step-date">
                                        <div class="start">
                                            {{ timeScheduling.start }}
                                        </div>
                                    </span>
                                    <span class="step-name">
                                        شروع پروژه
                                    </span>
                                </div>
                                <div class="step-container {% is_active project_pk=project_pk phase=1 %}">
                                    <span class="step-date">
                                        <div class="first_phase">{{ timeScheduling.firstPhase }}</div>
                                    </span>
                                    <span class="step-name">جمع آوری داده</span>
                                </div>
                                <div class="step-container {% is_active project_pk=project_pk phase=2 %}">
                                    <span class="step-date">
                                        <div class="second_phase">{{ timeScheduling.secondPhase }}</div>
                                    </span>
                                    <span class="step-name">تحلیل داده ها</span>
                                </div>
                                <div class="step-container {% is_active project_pk=project_pk phase=3 %}">
                                    <span class="step-date">
                                        <div class="third_phase">{{ timeScheduling.thirdPhase }}</div>
                                    </span>
                                    <span class="step-name">سابمیت مقاله</span>
                                </div>
                                <div class="step-container {% is_active project_pk=project_pk phase=4 %}">
                                    <span class="step-date">
                                        <div class="date_finished">{{ timeScheduling.finished }}</div>
                                    </span>
                                    <span class="step-name">اتمام پروژه</span>
                                </div>
                                <div class="line-100">
                                    <div class="arrow"></div>
                                </div>
                            </div>
                            <hr class="vertical-line">
                        </div>
                        <div class="col-lg-8 col-xs-9">
                            <div class="row mbottom-lg-25 d-none d-lg-block ">
                                <div class="col-lg-12 text-right">
                                    <h6>پروژه <span>{{ title }}</span></h6>
                                    <h6>{{ eng_title }}</h6>
                                </div>
                            </div>
                            <div class="row mbottom-lg-25">
                                <div class="col-lg-12 text-right">
                                    <span class="section-title">مشخصات پروژه</span>
                                    <div class="section">
                                        <div class="row mbottom-lg-25 flex-column-reverse flex-md-row">
                                            <div class="col-md-9">
                                                <div class="row m-top-10">
                                                    <div class="col-md-12">
                                                        <div class="pre-header">
                                                            <span>مجری</span>
                                                        </div>
                                                        {% for enforcer in enforcers %}
                                                            <div class="rounded-name-profile clickable mt-2"
                                                                 id="{{ enforcer.id }}"
                                                                 data-toggle="modal" data-target="#expertResume">
                                                                {% if enforcer.photo %}
                                                                    <img src="{{ enforcer.photo }}"
                                                                         alt="enforcer photo">
                                                                {% else %}
                                                                    <img src="{% static 'industry/img/profile.jpg' %}"
                                                                         alt="Enforcer Photo">
                                                                {% endif %}
                                                                <span>{{ enforcer.name }}</span>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                    {% if budget_amount %}
                                                        <div class="col-12">
                                                            <div class="pre-header">
                                                                <span>بودجه</span>
                                                            </div>
                                                            <div id="budget-content">
                                                                <span class="budget-amount">{{ budget_amount }}</span>
                                                                <span>ریال</span>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                {% if executive_info %}
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="pre-header">
                                                                <span>توضیحات اجرایی</span>
                                                            </div>
                                                            <pre id="executive-info">{{ executive_info }}</pre>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-3">
                                                <div class="industry-logo-preview text-left mt-4">
                                                    {% if industry_logo %}
                                                        <img id="industry_logo"
                                                             src="{{ industry_logo }}"
                                                             alt="industry-logo" width="150px" height="150px">
                                                    {% else %}
                                                        <img id="industry_logo"
                                                             src="/static/industry/img/profile.jpg"
                                                             alt="industry-logo" width="150px" height="150px">
                                                    {% endif %}
                                                </div>
                                                <div class="text-center">
                                                    <div class="pre-header">
                                                        <span>کارفرما</span>
                                                    </div>
                                                    <div>{{ industry_name }}</div>
                                                </div>
                                                <div class="text-center mt-3">
                                                    <a href="#" class="p-telegram-link rounded-circle rounded-icon">
                                                        <i class="fab fa-telegram-plane" style="font-size: 20px"></i>
                                                    </a>
                                                    <a href="#" class="p-end_note-link rounded-circle rounded-icon">
                                                        <span>EN</span>
                                                    </a>
                                                    <a href="#" class="p-proposal-link rounded-circle rounded-icon">
                                                        <i class="fas fa-file-pdf" style="font-size: 18px"></i>
                                                    </a>
                                                </div>
                                                {#                                                <div class="budget-section">#}
                                                {#                                                    <div class="budget">#}
                                                {#                                                        <div class="budget-header">بودجه</div>#}
                                                {#                                                        <div class="budget-content">#}
                                                {#                                                            <div class="budget-amount">{{ budget_amount }}</div>#}
                                                {#                                                            <div>ریال</div>#}
                                                {#                                                        </div>#}
                                                {#                                                    </div>#}
                                                {#                                                </div>#}
                                            </div>
                                        </div>
                                        <div class="row mbottom-lg-25">
                                            <div class="d-block d-lg-none col">
                                                <span class="section-title">تایم لاین پروژه</span>
                                                <div class="section w-100 overflow-auto">
                                                    {% if not project.is_date_valid %}
                                                        <div class="project-progress-no-access">این قسمت در دسترس نیست!
                                                        </div>
                                                    {% endif %}
                                                    <div class="project-progress mbottom-lg-25 {% if not project.is_date_valid %}project-progress-disabled{% endif %}">
                                                        {#                                                        <div class="step-container active">#}
                                                        {#                                    <span class="step-date">#}
                                                        {#                                        <div class="start">#}
                                                        {#                                            {{ timeScheduling.start }}#}
                                                        {#                                        </div>#}
                                                        {#                                    </span>#}
                                                        {#                                                            <span class="step-name">#}
                                                        {#                                        شروع پروژه#}
                                                        {#                                    </span>#}
                                                        {#                                                        </div>#}
                                                        {#                                                        <div class="step-container {% is_active project_pk=project_pk phase=1 %}">#}
                                                        {#                                    <span class="step-date">#}
                                                        {#                                        <div class="first_phase">{{ timeScheduling.firstPhase }}</div>#}
                                                        {#                                    </span>#}
                                                        {#                                                            <span class="step-name">جمع آوری داده</span>#}
                                                        {#                                                        </div>#}
                                                        <div class="step-container {% is_active project_pk=project_pk phase=2 %}">
                                                            <span class="step-date">
                                                                <div class="second_phase">{{ timeScheduling.secondPhase }}</div>
                                                            </span>
                                                            <span class="step-name">تحلیل داده ها</span>
                                                        </div>
                                                        <div class="step-container">
                                                            <span class="step-date">
                                                                <div class="third_phase">{{ timeScheduling.thirdPhase }}</div>
                                                            </span>
                                                            <span class="step-name">سابمیت مقاله</span>
                                                        </div>
                                                        <div class="step-container">
                                                            <span class="step-date">
                                                                <div class="date_finished">{{ timeScheduling.finished }}</div>
                                                            </span>
                                                            <span class="step-name">اتمام پروژه</span>
                                                        </div>
                                                        <div class="line-100">
                                                            <div class="arrow"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mbottom-lg-25">
                                            <div class="col">
                                                <span class="section-title">لیست وظایف</span>
                                                <button type="button"
                                                        class="border-button section-button"
                                                        data-toggle="modal"
                                                        data-target="#">
                                                    افزودن تسک
                                                </button>
                                                <div class="section">
                                                    <div class="ct-checklist">
                                                        <div class="ct-checklist__item d-flex">
                                                            <div class="ct-checklist-item__checkbox">
                                                                <div class="form-group form-check">
                                                                    <input type="checkbox"
                                                                           class="form-check-input inp-cbx"
                                                                           id="checkList#1"
                                                                           name="requestResearcher" value=1 hidden>
                                                                    <label class="form-check-label cbx mb-0"
                                                                           for="checkList#1">
                                                                        <span>
                                                                            <svg class="inline-svg bi bi-check2"
                                                                                 viewBox="0 0 16 16"
                                                                                 xmlns="http://www.w3.org/2000/svg">
                                                                                <path fill-rule="evenodd"
                                                                                      d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
                                                                            </svg>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="ct-checklist-item__detail">
                                                                <div class="ct-checklist__text">
                                                                    <span class="atMention me" title="Reza Basereh">@reza_basereh</span>
                                                                    دکمه «بستن پاسخ»؛ موقعی که پاسخی هنوز نیست، نباشه
                                                                </div>
                                                                <div class="ct-checklist-item__control d-flex">
                                                                    <div class="ct-checklist-item-due">
                                                                        <button>
                                                                            <svg width="1em" height="1em"
                                                                                 viewBox="0 0 16 16" class="bi bi-clock"
                                                                                 fill="currentColor"
                                                                                 xmlns="http://www.w3.org/2000/svg">
                                                                                <path fill-rule="evenodd"
                                                                                      d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"></path>
                                                                                <path fill-rule="evenodd"
                                                                                      d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"></path>
                                                                            </svg>
                                                                        </button>
                                                                    </div>
                                                                    <div class="ct-checklist-item-assignee">
                                                                        <button>
                                                                            <svg width="1em" height="1em"
                                                                                 viewBox="0 0 16 16"
                                                                                 class="bi bi-person-plus"
                                                                                 fill="currentColor"
                                                                                 xmlns="http://www.w3.org/2000/svg">
                                                                                <path fill-rule="evenodd"
                                                                                      d="M8 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10zM13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"></path>
                                                                            </svg>
                                                                        </button>
                                                                    </div>
                                                                    <div class="ct-checklist-item-delete">
                                                                        <button>
                                                                            <svg width="1em" height="1em"
                                                                                 viewBox="0 0 16 16" class="bi bi-trash"
                                                                                 fill="currentColor"
                                                                                 xmlns="http://www.w3.org/2000/svg">
                                                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                                                                                <path fill-rule="evenodd"
                                                                                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                                                                            </svg>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mbottom-lg-25">
                                            <div class="col-lg-12 text-right">
                                                <span class="section-title">اطلاعات پروژه</span>
                                                <div class="project-info-tabs">
                                                    <div class="nav flex-column nav-pills" id="v-pills-tab"
                                                         role="tablist"
                                                         aria-orientation="vertical">
                                                        <a class="nav-link active" id="v-pills-majors-tab"
                                                           data-toggle="pill"
                                                           role="tab" aria-controls="v-pills-majors"
                                                           aria-selected="true">
                                                            بیان مساله
                                                        </a>
                                                        <a class="nav-link" id="v-pills-approaches-tab"
                                                           data-toggle="pill"
                                                           role="tab" aria-controls="v-pills-approaches"
                                                           aria-selected="false">
                                                            روش اجرا
                                                        </a>
                                                        <a class="nav-link" id="v-pills-resources-tab"
                                                           data-toggle="pill"
                                                           role="tab" aria-controls="v-pills-resources"
                                                           aria-selected="false">
                                                            اهداف
                                                        </a>
                                                        <a class="nav-link" id="v-pills-roles-tab"
                                                           data-toggle="pill"
                                                           role="tab" aria-controls="v-pills-roles"
                                                           aria-selected="false">
                                                            ملاحظات اخلاقی
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="section">
                                                    <div class="project-info-innerDiv">
                                                        <div class="project-info-content">
                                                            <div>
                                                                <div class="question">
                                                                    <span class="question-mark">
                                                                        <i class="far fa-question-circle"></i>
                                                                    </span>
                                                                    خلاصه ضرورت اجرا
                                                                </div>
                                                                <div class="answer">{{ projectForm.summary_of_necessity }}</div>
                                                            </div>
                                                            <div>
                                                                {% if projectForm.necessity_expression %}
                                                                    <div class="question">
                                                                        <span class="question-mark">
                                                                            <i class="far fa-question-circle"></i>
                                                                        </span>
                                                                        مشروح بیان مساله و ضرورت اجرا
                                                                    </div>
                                                                    <div class="answer">{{ projectForm.necessity_expression }}</div>
                                                                {% endif %}
                                                            </div>
                                                            <div>
                                                                {% if projectForm.research_history %}
                                                                    <div class="question">
                                                                        <span class="question-mark">
                                                                            <i class="far fa-question-circle"></i>
                                                                        </span>
                                                                        سابقه طرح و بررسی متون
                                                                    </div>
                                                                    <div class="answer">{{ projectForm.research_history }}</div>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mbottom-lg-25">
                                            <div class="col-12">
                                                <span class="section-title">پژوهشگران</span>
                                                {% if reseacherRequestAbility %}
                                                    <button type="button"
                                                            class="border-button section-button"
                                                            data-toggle="modal"
                                                            data-target="#researcherRequest">
                                                        درخواست
                                                    </button>
                                                {% endif %}
                                                <div class="section">
                                                    <div class="row">
                                                        <div class="col-12 text-center">
                                                            {% if researcher_accepted or researchers_applied %}
                                                                <div class="horizontal-avatar-list owl-carousel owl-theme">
                                                                    {% for researcher in researcher_accepted %}
                                                                        <div class="item">
                                                                            <div class="avatar-item">
                                                                                {% if researcher.photo %}
                                                                                    <img src="/media/{{ researcher.photo }}"
                                                                                         alt="{{ researcher.fullname }}پروفایل ">
                                                                                {% else %}
                                                                                    <img src="{% static 'industry/img/profile.jpg' %}"
                                                                                         alt="{{ researcher.fullname }}پروفایل ">
                                                                                {% endif %}
                                                                                <div class="info">
                                                                                    <h3>{{ researcher.fullname }}</h3>
                                                                                    <button value="{{ project_pk }}"
                                                                                            id="{{ researcher.id }}"
                                                                                            data-url="{% url 'researcher:show_resume_preview' %}"
                                                                                            data-toggle="modal"
                                                                                            data-target="#researcherInfo">
                                                                                        رزومه
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    {% endfor %}
                                                                    {% for researcher in researchers_applied %}
                                                                        <div class="item">
                                                                            <div class="avatar-item">
                                                                                {% if researcher.photo %}
                                                                                    <img src="/media/{{ researcher.photo }}"
                                                                                         alt="{{ researcher.fullname }}پروفایل ">
                                                                                {% else %}
                                                                                    <img src="{% static 'industry/img/profile.jpg' %}"
                                                                                         alt="{{ researcher.fullname }}پروفایل ">
                                                                                {% endif %}
                                                                                <div class="info">
                                                                                    <h3>{{ researcher.fullname }}</h3>
                                                                                    <button value="{{ project_pk }}"
                                                                                            id="{{ researcher.id }}"
                                                                                            data-url="{% url 'researcher:show_resume_preview' %}"
                                                                                            data-toggle="modal"
                                                                                            data-target="#researcherInfo"
                                                                                            class="is_applied">
                                                                                        رزومه
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                            {% else %}
                                                                <img src="{% static 'img/empty-tray.svg' %}"
                                                                     alt="no researcher" height="100px"
                                                                     class="rounded-0">
                                                                <h5>پژوهشگری برای این پروژه ثبت نشده است!</h5>
                                                                <p></p>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {#                        <div class="col-12">#}
                        {#                            {% include 'industry/layouts/comment.html' with comments=comments project_pk=project_pk expert_pk=expert_pk %}#}
                        {#                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $("#v-pills-roles-tab").click(function () {
            let policy = "{{ projectForm.policy|escapejs }}";
            let executive_restrictions = "{{executive_restrictions |escapejs}}"
            let role = "";
            if (policy)
                role += `<div>
                            <div class="question">
                                <span class="question-mark"><i class='far fa-question-circle'></i></span>
                                <span>
                                    ملاحظات اخلاقی
                                </span>
                                <div class='answer'>${policy}</div>
                            </div>
                        </div>`;
            if (executive_restrictions)
                role+= `<div>
                            <div class="question">
                                <span class="question-mark"><i class='far fa-question-circle'></i></span>
                                <span>
                                    محدودیت های اجرایی طرح و روش کاهش آن ها
                                </span>
                                <div class='answer'>${executive_restrictions}</div>
                            </div>
                        </div>`;
            $(".project-info-content").html(role);
            $('*').persiaNumber();
        });
        $("#v-pills-resources-tab").click(function () {
            let main_goal = "{{ projectForm.main_goal|escapejs }}";
            let secondary_goal = "{{ projectForm.secondary_goal|escapejs }}";
            let practical_goal = "{{ projectForm.practical_goal|escapejs }}";
            let research_question = "{{ projectForm.research_question|escapejs }}";
            let reseach_assumptions = "{{ reseach_assumptions|escapejs}}"
            let goal = "";
            if (main_goal)
                goal +=`<div>
                            <div class='question'>
                                <span class='question-mark'>
                                    <i class='far fa-question-circle'></i>
                                </span>
        اهداف اصلی
                            </div>
                            <div class='answer'>${main_goal}</div>
                        </div>`;
        if (secondary_goal)
            goal +=`<div>
                    <div class='question'>
                        <span class='question-mark'>
                            <i class='far fa-question-circle'></i>
                        </span>
اهداف فرعی
                    </div>
                    <div class='answer'>${secondary_goal}</div>
                </div>`;
    if (practical_goal)
        goal +=`<div>
                    <div class='question'>
                        <span class='question-mark'>
                            <i class='far fa-question-circle'></i>
                        </span>
اهداف کاربردی
                    </div>
                    <div class='answer'>${practical_goal}</div>
                </div>`;
    if (research_question)
        goal +=`<div>
                    <div class='question'>
                        <span class='question-mark'>
                            <i class='far fa-question-circle'></i>
                        </span>
سوالات پژوهش
                    </div>
                    <div class='answer'>${research_question}</div>
                </div>`;
    if (reseach_assumptions)
        goal +=`<div>
                    <div class='question'>
                        <span class='question-mark'>
                            <i class='far fa-question-circle'></i>
                        </span>
فرضیات پژوهش
                    </div>
                    <div class='answer'>${reseach_assumptions}</div>
                </div>
                `;
            $(".project-info-content").html(goal);
            $('*').persiaNumber();
        });
        $("#v-pills-approaches-tab").click(function () {
            let summary_method = "{{ projectForm.summary_method|escapejs }}";
            console.log(summary_method);
            let required_equipment = "{{ projectForm.required_equipment|escapejs }}";
            let sample_count_method = "{{ projectForm.sample_count_method|escapejs }}";
            let analyse_method = "{{ projectForm.analyse_method|escapejs }}";
            let procedure = `<div>
                        <div class='question'>
                            <span class='question-mark'>
                                <i class='far fa-question-circle'></i>
                            </span>
خلاصه روش اجرا
                        </div>
                        <div class='answer'>${summary_method}</div>
                     </div>`;
        if (required_equipment)
            procedure +=`<div>
                            <div class='question'>
                                <span class='question-mark'>
                                    <i class='far fa-question-circle'></i>
                                </span>
    مشخصات ابزار جمع آوری اطلاعات و نحوه جمع آوری آن
                            </div>
                            <div class='answer'>${required_equipment}</div>
                        </div>`;
        if (sample_count_method)
            procedure +=`<div>
                        <div class='question'>
                            <span class='question-mark'>
                                <i class='far fa-question-circle'></i>
                            </span>
روش محاسبه حجم نمونه و تعداد آن
                        </div>
                        <div class='answer'>${sample_count_method}</div>
                     </div>`;
        if (analyse_method)
            procedure +=`<div>
                        <div class='question'>
                            <span class='question-mark'>
                                <i class='far fa-question-circle'></i>
                            </span>
روش تجزیه و تحلیل داده ها
                        </div>
                        <div class='answer'>${analyse_method}</div>
                     </div>
                        `;
            $(".project-info-content").html(procedure);
            $('*').persiaNumber();
        });
        $("#v-pills-majors-tab").click(function () {
            let summary_of_necessity = "{{ projectForm.summary_of_necessity|escapejs }}";
            let necessity_expression = "{{ projectForm.necessity_expression|escapejs }}";
            let research_history = "{{ projectForm.research_history|escapejs }}";
            let problemStatement = `<div>
                                <div class='question'>
                                    <span class='question-mark'>
                                        <i class='far fa-question-circle'></i>
                                    </span>
خلاصه ضرورت اجرا
                                </div>
                                <div class='answer'>${summary_of_necessity}</div>
                            </div>`;
            if (necessity_expression)
                problemStatement +=`<div>
                                        <div class='question'>
                                            <span class='question-mark'>
                                                <i class='far fa-question-circle'></i>
                                            </span>
        مشروح بیان مسئله و ضرورت اجرا
                                        </div>
                                        <div class='answer'>${necessity_expression}</div>
                                    </div>
                            <div>`;
            if (research_history)
                problemStatement += `<div class='question'>
                                    <span class='question-mark'>
                                        <i class='far fa-question-circle'></i>
                                    </span>
سابقه طرح و بررسی متون
                                </div>
                                <div class='answer'>${research_history}</div>
                            </div>`;
            $(".project-info-content").html(problemStatement);
            $('*').persiaNumber();
        });
        //"<div>" +
        //        "<div class='question'>" +
        //        "<span class='question-mark'>" +
        //        "<i class='far fa-question-circle'></i>" +
        //        "</span>" +
        //        "برآورد شما از سود مالی این پروژه چگونه است؟" +
        //        "</div>" +
        //        "<div class='answer'>" +
        //        numbersComma("{{ projectForm.predict_profit }}") + " ریال" +
        //        "</div></div>";
    </script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script type="text/javascript">
        $(".comments .fa-trash-alt").closest(".dropdown-item").click(function () {
            deleteComment($(this).closest('.my-comment'));
        });
        dialog_comment_init();
        $('.owl-carousel').owlCarousel({
            stagePadding: 50,
            loop: false,
            margin: 20,
            nav: false,
            dots: true,
            rtl: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 3
                }
            }
        });
    </script>
{% endblock %}