@font-face {
  font-family: Shabnam;
  src: url(../font/Shabnam.ttf);
}
@font-face {
  font-family: Shabnam-Bold;
  src: url(../font/Shabnam-Bold.ttf);
}
@font-face {
  font-family: Shabnam-Light;
  src: url(../font/Shabnam-Light.ttf);
}
@media screen {
    .mbottom-lg-25{
        margin-bottom: 25px;
    }
    .mbottom-lg-30{
        margin-bottom: 30px;
    }
}
body {
  background-color: #f8fdf7;
  font-family: Shabnam;
  color: #fff;
  font-size: 14px;
  overflow-y: hidden;
}
.upload{
  position: absolute;
  top:  calc(100% - 40px) ;
  right: calc(50% - 70px);
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #fdfdfd;
  color: #6f7285;
  border: 1px solid #bdbdbd;
}
.upload > i{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.upload:hover{
  color: #3CCD1C;
  border: 1px solid #3CCD1C;
  box-shadow: 0 0 1px 0 #3CCD1C ;
  cursor: pointer;
}
img{
  border-radius: 50%;
}
#upload-input{
  display: none;
}
.mainInfo-body, .dialog-main{
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.blur-div{
  -webkit-filter: blur(10px);
  filter: blur(10px);
  opacity: 0.9;
}
.mainInfo{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  color: #262626;
  padding: 5px 10px 50px 10px;
  box-shadow: 0 0 50px #e3e3e3;
}
.dialog-main{
  display: none;
  overflow-y: scroll;
  justify-content: center;
}
.dialog{
  position: relative;
  color: #262626;
  width: 70%;
  padding: 30px 10px;
  border-top-left-radius: 15px;
  box-shadow: 0 0 50px #e3e3e3;
  margin: 70px auto;
  overflow-y: hidden;
}
input, textarea, select{
  background-color: #fdfdfd;
  border: 1px solid #bdbdbd;
  color: #6f7285;
  border-radius: 5px;
  margin-top: 20px;
  direction: rtl;
  padding-right: 10px;
}
input:focus, textarea:focus{
  outline: none;
  border: 1px solid #3CCD1C;
  color: #3CCD1C;
  background-color: #fff;
}
input, select{
  height: 40px;
}
label{
  position: absolute;
  top: 28px;
  right: 25px;
  color: #6f7285;
  transition: 300ms all ease;
}
i.fa-plus{
  position: absolute;
  top: 33px;
  left: 25px;
  color: #6f7285;
  cursor: pointer;
}
.rankDiv{
  display: flex;
}
.rankLabel{
  position: relative;
  border-radius: 0 5px 5px 0;
  background-color: #6f7285;
  color: #fdfdfd;
  top: 20px;
  right: 0;
  height: 40px;
  width: 160px;
  text-align: center;
  padding-top: 6px;
  padding-right: 3px;
  border: 1px solid #bdbdbd;
  border-left: none;
}
#rank{
  width: 100%;
  position: relative;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.selected_uni{
  display: flex;
  padding: 5px;
}
.uni-item{
  display: block;
  color: #6f7285;
  background-color: #fdfdfd;
  padding: 5px;
  margin: 0 5px;
  border-radius: 2px;
  border: 1px solid #bdbdbd;
}
.uni-item:hover{
  color: #3CCD1C;
  border: 1px solid #3CCD1C;
}
.uni-item > i{
  padding-right: 10px;
  cursor: pointer;
}
.uni-item > i:hover{
  color: #00b613;
}
.green{
  color: #0DCA08;
}
.red{
  color: #FF0E0E;
}
hr{
  margin: 5px;
}
.form-submit{
  box-shadow: 0 0 20px #e3e3e3;
  border: none;
  background-color: #89E076;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 10px;
}
.form-submit:hover{
  box-shadow: none;
  transform: translateY(1px);
  background-color: #3CCD1C;
}
.main {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}
.side-bar {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: #4cd12f;
  box-shadow: -6px 0 6px rgba(0,0,0,.16);
  transition: all 200ms ease-in-out;
  z-index: 5;
}
.side-bar > img {
  position: relative;
  width: 150px;
  margin: 10px auto;
  display: block;
  z-index: 5;
}
.side-bar > .researcher-icon:before{
  content: '';
  background-image: url("../img/student.png");
  background-size: 100%;
  position: absolute;
  width: 200px;
  height: 200px;
  top: 77px;
  right: -100px;
  opacity: 0.3;
  z-index: 1;
}
.side-bar > .hr::before {
  content: '';
  background-color: #707070;
  position: relative;
  display: block;
  width: 230px;
  height: 1px;
  margin: 10px auto;
  transition: all 200ms ease-in-out;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}
.side-bar > h6 , .side-bar > h5 , .side-bar > p {
  text-align: center;
}
.list-group-item {
  color: #eff0f2;
  display: inline-block;
  float: right;
  margin: 2px 10px;
}
.list-group-item a{
  color: inherit;
}
.list-group-item > a > i {
  position: absolute;
  margin-left: 22px;
  right: 50px;
}
.list-group-item > a > div > span:first-child {
  margin-right: 10px;
}
.list-group-item span {
  position: relative;
}
.list-group, .list-group-item {
  border: none;
  background-color: transparent;
  transition: all 200ms ease;
}
.list-group-item:hover , .list-group-item > a:hover {
  cursor: pointer;
  border-radius: 30px;
  background-color: #EFF0F2;
  color: #aaa;
  text-decoration: none;
}
.list-group-item.active {
  /*background-color: #89E076;*/
  /*border-top-left-radius: 0;*/
  /*border-top-right-radius: 10px;*/
  /*border-bottom-left-radius: 10px;*/
  border: 1px solid #3CCD1C;
  border-radius: 30px;
  background-color: #fff;
  color: #3CCD1C;
}
.content {
  position: absolute;
  top: 70px;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.top-bar {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 998;
}
.top-msg{
  color: #4cd12f;
  position: absolute;
  top: 50%;
  left:150px;
  transform: translate(0,-50%);
}
.top-bar > img {
  width: 110px;
  position: absolute;
  border-radius: 0;
  top: 50%;
  right:65px;
  transform: translate(0,-50%);
  transition: 0.2s ease-in-out all;
}
.top-bar > button:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.top-bar > .dropdown {
  width: 45px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}
.top-bar > .dropdown > .btn {
  width: 100px;
  position: absolute;
  top: 0;
  left: 10px;
  transform: translate(0, -50%);
}
.top-bar > .dropdown > .btn > img {
  width: 45px;
}
.dropdown-menu > li > a {
  color: #454545;
}
.dropdown-menu > li:last-child > a {
  color: #E50505;
}
.topMargin {
  margin-top: 77px;
}
.progress{
  width: 230px;
  margin: 1px auto;
}
.scoreDiv{
  padding-right: 10px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.progress-bar{
  background-color: gold;
}
/* new */
.info-card{
  margin: 20px 100px;
  padding: 20px;
  color: #000;
}
.row{
  direction: rtl!important;
}
.label{
  color: #6f7285;
}
.top-msg > .fa-envelope{
  color: #6f7285;
}
.top-msg > .fa-envelope:hover{
  color: #3CCD1C;
  cursor: pointer;
}
.chamran_btn {
  float: left;
  position: absolute;
  left: 4px;
  bottom: -11px;
  padding: 5px 10px;
  -webkit-border-radius: 0 5px 0 5px;
  -moz-border-radius: 0 5px 0 5px;
  border-radius: 0 5px 0 5px;
  border: none;
  background-color: #89E076;
  color: #fff;
  box-shadow: 0 0 20px #e3e3e3;
  outline: none;
}
.chamran_btn:hover{
  box-shadow: none;
  background-color: #3CCD1C;
  outline: none;
}
.inner-card{
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.08)
}
.ch-card-item:last-child{
  margin-bottom: 25px;
}
.ch-card-item{
  margin-top: 5px;
  padding:0 15px 20px 15px;
}
.header{
  font-family: Shabnam-Bold;
}
.sub-header{
  font-family: Shabnam-Light;
  color: #6f7285;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.wait-item , .delete-item{
  font-size: 12px;
  position: absolute;
  bottom: 11px;
}
.wait-item{
  color: #ffbb33;
  left: 85px;
}
.wait-item:hover{
  color: #ff8800;
  cursor: pointer;
}
.delete-item{
  color: #ff4444;
  left: 20px;
}
.delete-item:hover{
  color: #cc0000;
  cursor: pointer;
}
.center-vr{
  position: absolute;
  top: 28px;
  color: #6d6d6d;
}
::placeholder{
  color: #bdbdbd;
}
table{
  color: #6f7285;
  margin: auto;
}
td{
  position: relative;
  padding: 0;
}
input[type="radio"] {
  visibility: hidden;
  margin: 0;
}
.radio-label{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
}
.radio-label:after{
  content: '';
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  height: 30px;
  width: 30px;
}
input[type="radio"][value="1"]+label:after{
  border: 1px solid #ff4545;
}
input[type="radio"][value="2"]+label:after{
  border: 1px solid #ffa534;
}
input[type="radio"][value="3"]+label:after{
  border: 1px solid #ffe234;
}
input[type="radio"][value="4"]+label:after{
  border: 1px solid #b7dd29;
}
input[type="radio"][value="5"]+label:after{
  border: 1px solid #57e32c;
}
.radio-label:hover:after{
  cursor: pointer;
}
input[type="radio"][value="1"]+label:hover:after{
  -webkit-box-shadow: 0 0 5px 0 #ff4545;
  -moz-box-shadow: 0 0  5px 0 #ff4545;
  box-shadow: 0 0 5px  0 #ff4545;
}
input[type="radio"][value="2"]+label:hover:after{
  -webkit-box-shadow: 0 0 5px 0 #ffa534;
  -moz-box-shadow: 0 0  5px 0 #ffa534;
  box-shadow: 0 0 5px  0 #ffa534;
}
input[type="radio"][value="3"]+label:hover:after{
  -webkit-box-shadow: 0 0 5px 0 #ffe234;
  -moz-box-shadow: 0 0  5px 0 #ffe234;
  box-shadow: 0 0 5px  0 #ffe234;
}
input[type="radio"][value="4"]+label:hover:after{
  -webkit-box-shadow: 0 0 5px 0 #b7dd29;
  -moz-box-shadow: 0 0  5px 0 #b7dd29;
  box-shadow: 0 0 5px  0 #b7dd29;
}
input[type="radio"][value="5"]+label:hover:after{
  -webkit-box-shadow: 0 0 5px 0 #57e32c;
  -moz-box-shadow: 0 0  5px 0 #57e32c;
  box-shadow: 0 0 5px  0 #57e32c;
}
input[type="radio"][value="1"]:checked+label:after{
  background-color: #ff4545;
  -webkit-box-shadow: 0 0 5px 0 #ff4545;
  -moz-box-shadow: 0 0  5px 0 #ff4545;
  box-shadow: 0 0 5px  0 #ff4545;
}
input[type="radio"][value="2"]:checked+label:after{
  background-color: #ffa534;
  -webkit-box-shadow: 0 0 5px 0 #ffa534;
  -moz-box-shadow: 0 0  5px 0 #ffa534;
  box-shadow: 0 0 5px  0 #ffa534;
}
input[type="radio"][value="3"]:checked+label:after{
  background-color: #ffe234;
  -webkit-box-shadow: 0 0 5px 0 #ffe234;
  -moz-box-shadow: 0 0  5px 0 #ffe234;
  box-shadow: 0 0 5px  0 #ffe234;
}
input[type="radio"][value="4"]:checked+label:after{
  background-color: #b7dd29;
  -webkit-box-shadow: 0 0 5px 0 #b7dd29;
  -moz-box-shadow: 0 0  5px 0 #b7dd29;
  box-shadow: 0 0 5px  0 #b7dd29;
}
input[type="radio"][value="5"]:checked+label:after{
  background-color: #57e32c;
  -webkit-box-shadow: 0 0 5px 0 #57e32c;
  -moz-box-shadow: 0 0  5px 0 #57e32c;
  box-shadow: 0 0 5px  0 #57e32c;
}
span.star-warning:after{
  content: '*';
  position: relative;
  top: 5px;
  padding-left: 5px;
  font-size: 20px;
  color: #ffa534;
}
.label-check-radio{
}
.label-check-radio+label{
  position: absolute;
  top: 10px;
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 20px;
}
.label-check-radio+label:hover, .label-check-radio:checked+label{
  border: 1px solid #3CCD1C;
  border-radius: 20px;
  color: #3CCD1C;
}
input[name="foreign_work"]+label:hover , input[name="foreign_work"]:checked+label{
  border-radius: 50%;
}
.dialog-main{
  display: none;
}
.dialog{
  padding-bottom: 30px;
}
.close > i{
  position: absolute;
  top: -4px;
  left: 10px;
  color: #6d6d6d;
}
.close > i:hover{
  cursor: pointer;
  color: #ff4545;
}
input#search_technique{
    position: absolute;
    top: 0;
    left: 10px;
    padding-left: 30px;
    margin: 0;
}
input#search_technique+label{
    position: absolute;
    top: 10px;
    left: 15px;
    width: fit-content;
    right: auto;
}
.fa-search:hover{
  cursor: pointer;
  color: #3CCD1C;

}
/*
* index.html
 */
.nav{
    padding-right: 0;
}
.nav > li{
    margin-left: 10px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active,.nav-tabs .nav-link.active:hover,.nav-tabs .nav-link.active:focus{
    border-color: #bdbdbd #bdbdbd #f8fdf7;;
    color: #3CCD1C;
    outline: none;
    background-color: #f8fdf7;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border-color: transparent;
    background-color: transparent;
    outline: none;
}
a.nav-link{
    color: #6f7285;
}
a.nav-link:hover{
    color: #3CCD1C;
}
.nav-tabs{
    border-bottom: 1px solid #bdbdbd;
}
.tab-content{
    border: 1px solid #bdbdbd;
    border-top: none;
    background-color: #f8fdf7;
    border-radius: 0 0 0.25em 0.25em;
    padding: 10px 5px;
}
.project-item{
    margin-bottom: 10px;
    text-align: right!important;
    padding: 5px;
    color: #6f7285;
}
.project-item > span.header{
    color: #000;
    margin-bottom: 10px;
}
.project-item > span.header > span.sub-header{
    font-size: 12px;
}
.project-item > span > i{
    margin-left: 5px;
}
.tab-content > .project-item:last-child{
    margin-bottom: 0;
}
.chamran-btn-info{
  border-radius: 0.25em;
  border: 1px solid #FFD700;
  color: #FFD700;
  background-color: #fff;
  padding: 5px 10px;
  outline: none;
  box-shadow: 0 0 5px 1px #e3e3e3;
  position: absolute;
  left: 10px;
  top: 7px;
}
.chamran-btn-info:hover{
  background-color: #FFD700;
  color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.chamran-btn-info:focus{
  outline-color: #FFD700;
}
.chamran-btn-delete{
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  background-color: #fff;
  color: #ff4545;
  border: 1px solid #ff4545;
  box-shadow: 0 0 5px 1px #e3e3e3;
  position: absolute;
  left: 10px;
  bottom: 7px;
  padding: 5px 27px;
}
.chamran-btn-delete:hover{
  background-color: #ff4545;
  color: #fff;
  box-shadow: none;
}
h6.project-title{
  margin-bottom: 15px;
}
span.border-span{
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    border: 1px solid #bdbdbd;
    padding: 5px;
    background-color: #F8FDF7;
    color: #707070;
    margin: 12px 5px;
}
.close{
  position: absolute;
  top: 5px;
  left: 5px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #bdbdbd;
}
.close:after,.close:before{
  background-color: #bdbdbd;
  content: "";
  display: block;
  right: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(50%) translateY(-50%) rotate(-45deg);
  transform-origin: center center;
}
.close:after{
  height: 1px;
  width: 50%;
}
.close:before{
  height: 50%;
  width: 1px;
}
.close:hover{
  cursor: pointer;
  border:1px solid #ff4545;
}
.close:hover:after,.close:hover:before{
  background-color: #ff4545;
}
.comments {

}
.comment-profile > img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.comment-body{
  width: calc(100% - 60px);
  position: absolute;
  padding: 5px;
  bottom: 0;
  height: 100%;
  border-radius: 0.25em;
  border: 1px solid #bdbdbd;
  background-color: #ffffff;
}
.my-comment , .your-comment {
  position: relative;
  margin: 10px auto;
}
.my-comment > .comment-profile {
  position: relative;
  right: 0;
  bottom: 0;
}
.my-comment > .comment-body {
  left: 0;
}
.your-comment > .comment-profile {
  position: relative;
  left: 0;
  bottom: 0;
}
.your-comment > .comment-body {
    right: 0;
}
.delete-comment {
  position: absolute;
  top: 5px;
  left: 5px;
  color: #bdbdbd;
}
.delete-comment:hover {
  cursor: pointer;
  color: #ff4545;
}
/* show project style */
.establish-time , .time-left{
    width: fit-content;
    position: absolute;
    top: -20px;
}
.establish-time{
    left: 180px;
}
.time-left{
    left: 50px;
}
.establish-time > .time-head , .time-left > .time-head {
    background-color: #3CCD1C;
    color: #fff;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    border: 1px solid #bdbdbd;
    border-bottom: none;
    padding: 0 5px;
    text-align: center;
}
.establish-time > .time-body , .time-left > .time-body{
    background-color: #F8FDF7;
    color: #707070;
    border: 1px solid #bdbdbd;
    padding: 0 5px;
    text-align: center;
}
.custom-border-title{
    border: 1px solid #bdbdbd;
    border-radius: 0.25em;
    background-color: #f8fdf7;
    padding: 16px 10px 10px 10px;
}
span.title{
    position: absolute;
    top: -11px;
    right: 35px;
    padding: 1px 5px;
    color: #707070;
    z-index: 2;
}
span.title-back{
    position: absolute;
    top: -20px;
    right: 20px;
    height: 36px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #fff;
}
.project-info-innerDiv{
    border: 1px solid #bdbdbd;
    background-color: #fff;
    border-radius: 0.25em;
    position: relative;
}
.project-info-tabs{
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    /*height: 100%;*/
    padding: 2px;
    width: 43px;
}
.project-info-content{
    width: calc(100% - 43px);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid #bdbdbd;
}
.nav-pills > .nav-link{
    position: relative;
    background-color: #707070;
    color: #fff;
    padding: 5px 2px;
    margin: 1px 2px 1px 0;
    border-radius: 0 0.25em 0.25em 0;
    width: 40px;
    height: 90px;
}
.nav-pills > .nav-link.active , .nav-pills > .nav-link:hover{
    background-color: #3CCD1C;
    color: #fff;
}
.question-mark{
    height: 100%;
}
.question{
    font-weight: bold;
    color: #3CCD1C;
    padding-right: 2px;
}
.answer{
    font-weight: 300;
    padding-right: 20px;
}
.accept-btn , .refuse-btn{
    padding: 10px 5px;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    color: #fff;
    /*box-shadow: 5px 5px 5px 20px #000;*/
}
.accept-btn:hover , .refuse-btn:hover {
    box-shadow: none;
}
.accept-btn{
    background-color: #3CCD1C;
}
.refuse-btn {
    background-color: #ff4545;
}
