{% extends "researcher/layouts/base_layout.html" %}
{% load static %}
{% load custom_tags %}
{% block title %}پروژه ها{% endblock %}

{% block dialog %}
    {% include 'researcher/layouts/showProject.html' %}
    {% include 'researcher/layouts/project_requset.html' %}
    {% include 'researcher/layouts/vote_dialog.html' %}
{% endblock %}
{% block modals %}
    {% if request.user.researcheruser.status.status == 'signed_up' %}
        {% include 'researcher/layouts/initial_information.html' %}
    {% endif %}
    <div class="modal fade" id="previewKeywords" tabindex="-1" role="dialog" aria-labelledby="previewKeywordsLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="previewKeywordsLabel">مهارت های پروژه</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pt-0">
                    <div class="row">
                        <div class="col-lg-6 mt-3">
                            <div class="divide__line text-right">
                                <span class="w__title">مهارت های من</span>
                                <span class="__line"></span>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <div class="project-techniques mine">
                                        <div>
                                            {#<span>مهارت موجود من</span>#}
                                            {#<span class="primary-technique">مهارت پژوهشی به درد نخور من</span>#}
                                            {% for researcher in researcher_techniques %}
                                                <span class="primary-technique">{{ researcher }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mt-3">
                            <div class="divide__line text-right">
                                <span class="w__title">مهارت های پروژه</span>
                                <span class="__line"></span>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <div class="project-techniques">
                                        <div>
                                            {#<span class="missed-technique">مهارت پژوهشی ناموجود</span>#}
                                            {#<span>مهارت پژوهشی موجود ما</span>#}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block name %}{{ request.user.researcheruser.researcherprofile }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 text-right">
            <h3 class="h3 p-top-15">پروژه ها</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-right">
            <nav class="nav-tabs-container mb-3">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active fs-15" id="nav-all-projects-tab" data-toggle="tab"
                       href="#nav-all-projects"
                       role="tab"
                       aria-controls="nav-all-projects" aria-selected="true">جدیدترین پروژه ها</a>
                    <a class="nav-item nav-link fs-15" id="nav-active-projects-tab" data-toggle="tab"
                       href="#nav-active-projects"
                       role="tab"
                       aria-controls="nav-active-projects" aria-selected="false">پروژه‌های در حال انجام</a>
                    <a class="nav-item nav-link fs-15" id="nav-missed-projects-tab" data-toggle="tab"
                       href="#nav-missed-projects"
                       role="tab"
                       aria-controls="nav-missed-projects" aria-selected="false">پروژه‌های غیرقابل‌‌دسترس</a>
                    <a class="nav-item nav-link fs-15" id="nav-done-projects-tab" data-toggle="tab"
                       href="#nav-done-projects"
                       role="tab"
                       aria-controls="nav-done-projects" aria-selected="false">پروژه‌های انجام شده</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-all-projects" role="tabpanel"
                     aria-labelledby="nav-all-projects-tab">
                    {% for project in new_project_list %}
                        <div class="card box flow-root-display w-100" id="{{ project.PK }}">
                            <div class="box-header">
                                <h6>
                                    {{ project.project_title }}
                                </h6>
                                <div class="box-option-container">
                                    <div class="data-modified">
                                    <span>{{ project.started }} {% if project.started != "امروز" %}
                                        قبل{% endif %} </span>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row w-100">
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="date text-center">
                                                    <div class="label">مهلت</div>
                                                    <div class="value">
                                                        <span>{{ project.expiration }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="status text-center">
                                                    <div class="label">زمان لازم</div>
                                                    <div class="value">
                                                        <span>{{ project.need_hour }} ساعت</span>
                                                        <span>در هفته</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <button type="button" class="default-btn preview-project" id="{{ project.PK }}"
                                                data-toggle="modal" data-target="#showProject">
                                            مشاهده
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="no-project-container">
                            <div class="no-project">
                                <img src="{% static 'img/no_project.svg' %}" alt="logo" class="icon">
                                <h4>متاسفانه، هنوز پروژه ای متناسب با مهارت های پژوهشی ثبت شده شما، ارائه نشده!</h4>
                                <p>می توانید مهارت های پژوهشی بیشتر را از طریق</p>
                                <a href="https://www.aparat.com/chamran_team">
                                    <i class="aparat-ico"></i>
                                    <span>Chamran_Team</span>
                                </a>
                                <p>یاد بگیرید و در قسمت </p>
                                <span>
                                    <i class="fas fa-file-medical"></i>
                                    <span>مهارت پژوهشی ها</span>
                                </span>
                                <p>آن را ثبت کنید. با این کار شانس بیشتری برای همکاری با اساتید خواهید داشت. </p>
                                <br>
                                <p> همچنین با تکمیل رزومه خود از طریق </p>
                                <span>
                                    <i class="fas fa-cog"></i>
                                    <span>اطلاعات کاربری</span>
                                </span>
                                <p> می توانید کمک کنید تا اساتید با شناخت و اطمینان بیشتری شما را انتخاب کنند.</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="nav-active-projects" role="tabpanel"
                     aria-labelledby="nav-active-projects-tab">
                    {% for project in my_project_list %}
                        <div class="card box flow-root-display w-100" id="{{ project.PK }}">
                            <div class="box-header">
                                <h6>
                                    {{ project.project_title }}
                                </h6>
                                <div class="box-option-container">
                                    <div class="notification">
                                        <i class="far fa-comment-alt center-abs"></i>
                                        {% unseen_researcher_msgs project.PK request.user as count %}
                                        {% if count %}
                                            <span class="unseen-comments">{{ count }}</span>
                                        {% endif %}
                                    </div>
                                    <div class="data-modified">
                                    <span>{{ project.started }} {% if project.started != "امروز" %}
                                        قبل{% endif %} </span>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row w-100">
                                    <div class="col-5">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="date text-center">
                                                    <div class="label">مهلت</div>
                                                    <div class="value">
                                                        <span>{{ project.expiration }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="status text-center">
                                                    <div class="label">زمان لازم</div>
                                                    <div class="value">
                                                        <span>{{ project.need_hour }} ساعت</span>
                                                        <span>در هفته</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="project-techniques">
                                            <div>
                                                {% for technique in project.techniques %}
                                                    <span>{{ technique.technique_title }}</span>
                                                {% endfor %}
                                                <span class="show-all" data-toggle="modal"
                                                      data-target="#previewKeywords">همه</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        {% if project.status == "accepted" %}
                                            <a href="{% url 'researcher:show_active_project' code=project.code %}">
                                                <button class="default-btn" type="button" id="{{ project.id }}">
                                                    مشاهده
                                                </button>
                                            </a>
                                        {% else %}
                                            <button type="button" class="default-btn preview-project"
                                                    id="{{ project.PK }}"
                                                    data-toggle="modal" data-target="#showProject">
                                                مشاهده
                                            </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="col-12 text-center">
                            <div class="empty-page">
                                <div class="empty-page-container">
                                    <img src="{% static 'img/packet.svg' %}" alt="">
                                    <h5>درخواست خود را ثبت کنید!</h5>
                                    <pre>برای دسترسی به این قسمت، لازم است ابتدا در تب «جدیدترین پروژه ها» درخواستی برای پروژه دلخواهتان ثبت کنید. سپس شما می توانید در این قسمت آن پروژه را دنبال کنید.</pre>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="nav-missed-projects" role="tabpanel"
                     aria-labelledby="nav-missed-projects-tab">
                    {% for project in missed_project_list %}
                        <div class="card box flow-root-display w-100" id="{{ project.PK }}">
                            <div class="box-header">
                                <h6>
                                    {{ project.project_title }}
                                </h6>
                                <div class="box-option-container">
                                    <div class="data-modified">
                                    <span>{{ project.started }} {% if project.started != "امروز" %}
                                        قبل{% endif %} </span>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row w-100">
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="date text-center">
                                                    <div class="label">مهلت</div>
                                                    <div class="value">
                                                        <span>{{ project.expiration }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="status text-center">
                                                    <div class="label">زمان لازم</div>
                                                    <div class="value">
                                                        <span>{{ project.need_hour }} ساعت</span>
                                                        <span>در هفته</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="project-techniques">
                                            <div>
                                                {% for technique in project.satisfiedTechniques %}
                                                    {% if technique in project.missedTechinque %}
                                                        <span class="missed-technique">{{ technique }}</span>
                                                    {% else %}
                                                        <span>{{ technique }}</span>
                                                    {% endif %}
                                                {% endfor %}
                                                <span class="show-all mr-1" data-toggle="modal"
                                                      data-target="#previewKeywords">همه</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="col-12 text-center">
                            <div class="empty-page">
                                <div class="empty-page-container">
                                    <img src="{% static 'img/packet.svg' %}" alt="">
                                    <h5>پروژه ای خارج از دسترس شما وجود ندارد!</h5>
                                    <pre>در صورتی که پروژه ای وجود داشته باشد که شما فاقد مهارت پژوهشی های لازم آن باشید، این پروژه ها در این قسمت قرار خواهند گرفت و این کمک را به شما می کند که بتوانید با ارتقا هدفمند مهارت های پژوهشی خود در پروژه مورد علاقه خود شرکت داشته باشید.</pre>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="nav-done-projects" role="tabpanel"
                     aria-labelledby="nav-done-projects-tab">
                    {% for project in done_project_list %}
                        <div class='card project-item'>
                        <span class='header'>{{ project.project_title }}<span
                                class='sub-header'> ({{ project.started }} قبل )</span></span>
                            <span><i
                                    class='fas fa-calendar-alt'></i>این پروژه به در تاریخ  <span>{{ project.date_project_started }}</span> شروع شده است.</span>
                            <span><i
                                    class='fas fa-calendar-alt'></i>این پروژه به در تاریخ  <span>{{ project.date_finished }}</span> به پایان رسیده است.</span>
                            <span><i
                                    class='fas fa-hourglass-end'></i>مدت زمان پروژه : <span> {{ project.delta_date }} </span></span>
                            <span><i
                                    class='fas fa-hourglass-end'></i>درأمد : <span> {{ project.income }} </span> کسب کرده اید.</span>
                            <span><i class='fas fa-hourglass-end'></i>مهارت های پژوهشی مورد استفاده :
                                {% for technique in project.techniques %}
                                    <span> {{ technique.technique_title }} , </span>
                                {% endfor %}
            </span>
                        </div>
                    {% empty %}
                        <div class="col-12 text-center">
                            <div class="empty-page">
                                <div class="empty-page-container">
                                    <img src="{% static 'img/packet.svg' %}" alt="">
                                    <h5>پروژه تکمیل شده ای ندارید!</h5>
                                    <pre>می توانید در قسمت «جدیدترین پروژه ها» درخواست خود را برای پروژه ثبت کنید و پس از تایید و تکمیل پروژه اطلاعات آنرا در این قسمت مشاهده خواهید کرد.</pre>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <a href="#top" class="top-button">
        <i class="fas fa-angle-up"></i>
    </a>
{% endblock %}
{% block script %}
    <script src="{% static 'libs/FancyTree/2.30.2/fancytree-all-deps.min.js' %}"></script>
    <script src="{% static 'libs/Swiper/4.5.0/swiper.min.js' %}"></script>
{% endblock %}