{% extends "researcher/layouts/base_layout.html" %}
{% load static %}
{% block title %}سوال پژوهشی{% endblock %}


{% block dialog %}
    {% include 'researcher/layouts/thanks_response.html' %}
    {% include 'researcher/layouts/confirmation.html' %}
{% endblock %}

{% block modals %}
    {% include 'researcher/layouts/skip_question.html' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 text-right">
            <h3 class="h3 border-bottom p-top-15">سوال پژوهشی</h3>
            <button class="add-new-technique top-page-button border-button" data-toggle="modal"
                    data-target="#skipQuestion">
                <span>پریدن از این مرحله</span>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-skip-backward-fill" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M.5 3.5A.5.5 0 0 0 0 4v8a.5.5 0 0 0 1 0V4a.5.5 0 0 0-.5-.5z"></path>
                    <path d="M.904 8.697l6.363 3.692c.54.313 1.233-.066 1.233-.697V4.308c0-.63-.692-1.01-1.233-.696L.904 7.304a.802.802 0 0 0 0 1.393z"></path>
                    <path d="M8.404 8.697l6.363 3.692c.54.313 1.233-.066 1.233-.697V4.308c0-.63-.693-1.01-1.233-.696L8.404 7.304a.802.802 0 0 0 0 1.393z"></path>
                </svg>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card box flow-root-display w-100 question">
                {#<!-- {% include 'researcher/layouts/preview_question.html' %} -->#}
                <div class="box-body">
                    <div class="row" style="direction: ltr!important;">
                        <div class="col-12">
                            <img class="question-image" src="{% static 'researcher/img/question.svg' %}" alt="question">
                            <p class="w-100 fixed-back-img-sm" dir="rtl">
                                پژوهشگر گرامی،
                                <br>
                                به چمران تیم خوش آمدید.
                                <br>
                                از حضور دغدغه‌مند شما در چمران تیم خرسندیم و امیدواریم بتوانیم در کنار یکدیگر،
                                قدمی هر چند کوچک برداریم برای پیشرفت ارتباط صنایع با دانشگاه‌های کشور.
                                <br>
                                به سبب اهمیت پروژه‌ها و لزوم همکاری با انگیزه و منظم شما،
                                نیاز است که توانایی‌ها و انگیزه شما برای شرکت در کارهای تحقیقاتی محک زده شود.
                                در همین راستا، مرحله‌ای برای پژوهشگران تازه‌وارد در نظر گرفته شده
                                تا توانایی‌های علمی و مهارت‌های فردی در ابعاد کوچک مورد آزمایش قرار بگیرد.
                                <br>
                                بعد از شروع این مرحله، یک سوال پژوهشی در اختیار شما قرار می‌گیرد و شما یک هفته فرصت
                                دارید تا به این سوال پژوهشی پاسخ دهید.
                                این سوال پژوهشی، توسط یکی از اساتید عضو چمران تیم طراحی شده و در واقع تکه‌ای از یک پروژه
                                تحقیقاتی واقعی می‌باشد؛
                                در نتیجه، جواب شما توسط ایشان بررسی و در صورت مستند و مستدل بودن، مورد استفاده قرار
                                خواهد گرفت.
                                <br>
                                موضوع این سوالات پیرامون علوم پایه پزشکی می‌باشند و برای یافتن جواب،
                                نیازمند بررسی مقالات (در بانک‌های جامع مقالات مانند پاب‌مد* و ...) و یا منابع مرتبط با
                                آن موضوع می‌باشد.
                                در آخر، پس از جمع‌بندی جواب نهایی، تمامی اطلاعات را به صورت کامل و همراه با رفرنس‌دهی
                                مناسب،
                                در یک فایل ورد قرار دهید و در سایت از طریق حساب کاربری خودتان، برای ما ارسال کنید.
                                <br>
                                ناگفته نماند که پس از تایید پاسخ شما توسط مدیر مربوطه، حساب کاربری شما فعال خواهد شد.
                            </p>
                        </div>
                    </div>
                    <div class="row mt-5 mb-5">
                        <div class="col-md-4">
                            <img class="border-0" src="{% static 'researcher/img/how_to_answer.svg' %}" alt="how_to_answer image">
                        </div>
                        <div class="col-md-8 text-right">
                            <h6>نحوه پاسخ دهی</h6>
                            <hr>
                            <p style="text-align: right;">
                                از هر داوطلب در انتهای مهلت تعیین شده چهار آیتم درخواست خواهد شد:
                            </p>
                            <p style="text-align: right;">
                                الف) <strong>پاسخ نهایی به سوال</strong>
                                : دانشجو پس از تحقیق و پژوهش در منابع به چه نتیجه ای رسیده است.
                            </p>
                            <p style="text-align: right;">
                                ب)&zwnj; <strong>راهبرد جستجو</strong>
                                : فرمول جستجوی فرد در موتور های جستجوی علمی.
                            </p>
                            <p style="text-align: right;">
                                ج) <strong>توضیح اجرایی</strong>
                                : نقشه یا مسیری که پژوهشگر برای جستجوی خود انتخاب کرده و همچنین مجموع فعالیت هایی که
                                برای رسیدن به پاسخ انجام داده است.
                            </p>
                            <p style="text-align: right;">
                                د) <strong>منابع مورد استفاده</strong>
                                : منابع دست اول همچون مقالات، کتب مرجع و منابع میدانی که در پژوهش استفاده شده اند.
                            </p>
                            <p style="text-align: right;">
                                بنابراین تنها معیار سنجش داوطلبان کیفیت علمی و محتوایی پاسخشان نیست و در کنار این مهم،
                                استراتژی به کار گیری مهارت های پژوهشی و تلاش و جهد افراد در راستای رسیدن به پاسخ نیز
                                مورد ارزیابی قرار می گیرد تا حقی از افراد ضایع نگردد.
                            </p>
                            <p style="text-align: right;">
                                * داوطلب می بایست پاسخ همه ی آیتم ها را در قالب فایل Word و منابع و مقالات ارجاع داده
                                شده را در قالب فایل Endnote در پنل کاربری خود بارگذاری کند.
                            </p>
                            <p style="text-align: right;">
                                * متن فایل Word بایستی با فونت B Mitra و سایز 14 نوشته شود. عناوین نیز با همین مشخصات و
                                به صورت Bold نوشته شوند.
                            </p>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-8 text-right">
                            <h6>نحوه امتیازدهی</h6>
                            <hr>

                            <p style="text-align: right;">
                                به هرکدام از آیتم های ذکر شده توسط استاد نمره های a(عالی) &nbsp; &nbsp;b(قابل قبول)
                                &nbsp; &nbsp;c(ضعیف) &nbsp; &nbsp;تعلق خواهد گرفت و در نهایت با بررسی کمیته آموزشی چمران
                                تیم نتیجه قبولی یا عدم قبولی به داوطلب اعلام خواهد شد به این صورت که <u></u><strong><u>دریافت
                                دو C</u></strong> به منزله مردودی خواهد بود.
                            </p>
                            <p style="text-align: right;">
                                * داوطلب هایی که مردود اعلام می شوند می توانند <u>پس از 1 ماه</u> مجددا ا انتخاب سوال
                                پژوهشی جدید برای عضویت اقدام نمایند.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <img class="border-0" src="{% static 'researcher/img/how_to_mark.svg' %}" alt="how_to_mark image">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            {#                            <p>#}
                            {#                                پیشنهاد می‌شود جهت یادگیری «نحوه جستجوی هدفمند مقالات در بانک مقالات» ویدیوی زیر را#}
                            {#                                مشاهده نمایید.#}
                            {#                            </p>#}
                            {#                            <video width="550" height="350" controls>#}
                            {#                                <source src="/media/VIDEO0041.mp4" type="video/mp4">#}
                            {#                                Your browser does not support the video tag.#}
                            {#                            </video>                            #}
                            {% if not answered %}
                                <p>
                                    اگر برای شروع این مرحله آماده هستید، کافی است روی دکمه زیر کلیک کنید.
                                </p>
                                <button class="start-question">
                                    مشاهده سوال
                                </button>
                                <div class="question-alert text-right">
                                    <img src="{% static 'img/researcher/warning.svg' %}" alt="warning">
                                    <span>
                                        دقت داشته باشید که پس از کلیک بر روی این دکمه، مهلت یک هفته‌ای شما آغاز خواهد شد؛ در
                                        نتیجه،
                                        قبل از کلیک بر روی دکمه، مطمئن شوید که طی یک هفته جاری، وقت کافی خواهید داشت.
                                    </span>
                                </div>
                                <div class="question-alert text-right">
                                    <img src="{% static 'img/researcher/danger.svg' %}" alt="danger">
                                    <span>
                                        در صورت پایان مهلت یک هفته‌ای و عدم ارسال پاسخ از جانب شما،
                                        حساب کاربری‌تان تا یک ماه آینده مسدود خواهد بود. پس از پایان این مدت، مجددا
                                        می‌توانید این مرحله را بگذرانید.
                                    </span>
                                </div>
                            {% endif %}
                            <div class="question-alert text-right">
                                <img src="{% static 'img/researcher/warning.svg' %}" alt="warning">
                                <span>
                                    در صورت بروز هر گونه مشکل، می‌توانید با شماره تلفن <a href="tel:09102143451">09102143451</a> تماس حاصل
                                    فرمایید.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}{% endblock %}