{% extends "researcher/layouts/base_layout.html" %}

{% block title %}تکنیک ها{% endblock %}

{% block dialog %}
    {% include 'researcher/layouts/add_new_technique.html' %}
    {% include 'researcher/layouts/technique_review_request.html' %}
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card info-card">
                <div class="techniques-list">
                    <div class="w-100 text-left">
                        <div class="add-new-technique">افزودن تکنیک</div>
                    </div>
                    {% for tech in technique_list %}
                        <div class="card active-question flow-root-display">
                            <div class="technique-title w-50">{{tech.technique.technique_title}}</div>
                            <div class="technique-info w-50">
                                <div class="w-25"></div>{#{{tech.evaluat_date}}</div>#}
                                <div class="mark w-25"><span> {% if tech.level %}
                                        {{tech.level}}
                                {% else %}
                                        در حال بررسی...
                                {% endif %}</span></div>
                                <div class="date w-25"><span>{{tech.date_last}}</span></div>
                                <div class="show w-25"><button class="default-btn show-btn new-review-request">ارتقا نمره</button></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.30.2/jquery.fancytree-all-deps.min.js"></script>
{% endblock %}