{% extends "researcher/layouts/base_layout.html" %}
{% load static %}
{% block title %}تکنیک ها{% endblock %}

{% block dialog %}
    {% include 'researcher/layouts/add_new_technique.html' %}
    {% include 'researcher/layouts/technique_review_request.html' %}
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card info-card text-right cover-page">
                <div class="card-header">تکنیک ها</div>
                <div class="inner-card card no-vr-padding">
                    <div class="techniques-list cover-page">
                        {% for tech in technique_list %}
                            <div class="card active-question flow-root-display w-100">
                                <div class="technique-title w-50">{{ tech.technique.technique_title }}</div>
                                <div class="technique-info w-50">
                                    <div class="w-25"></div>
                                    {#{{tech.evaluat_date}}</div>#}
                                    <div class="mark w-25"><span> {% if tech.level %}
                                        {{ tech.level }}
                                    {% else %}
                                        در حال بررسی...
                                    {% endif %}</span></div>
                                    <div class="date w-25"><span>{{ tech.date_last }}</span></div>
                                    <div class="show w-25">
                                        <button class="default-btn show-btn new-review-request">ارتقا نمره</button>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <div class="no-project">
                                <img src="{% static 'img/no_project.svg' %}" alt="logo" class="icon">
                                <h4>متاسفانه، هنوز تکنیکی ثبت نکرده اید!</h4>
                                <p>
                                    تکنیک‌ها به معنای مهارت‌های آزمایشگاهی‌ای هستند که شما قرار است در پروژه‌ها مورد
                                    استفاده قرار بگیرند؛ به عنوان مثال، RT-PCR و یا H&E Staining هر کدام نمونه‌هایی از
                                    یک تکنیک هستند.
                                    تکنیک‌های رکن اصلی فعالیت شما در چمران تیم هستند؛ چرا که تنها پروژه‌هایی به شما پیشنهاد می‌شود
                                    که شما تکنیک‌های مورد نیاز آن را در حساب کاربری‌تان ثبت کرده باشید.
                                    برای افزودن یک تکنیک به حساب کاربری خود، بر روی دکمه
                                </p>
                                <span class="disable-success-btn">
                                    <span>افزودن تکنیک</span>
                                </span>
                                <p>
                                    در گوشه بالا سمت چپ کلیک کنید.
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                    <button type="button" class="add-new-technique success-btn">افزودن تکنیک</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.30.2/jquery.fancytree-all-deps.min.js"></script>
{% endblock %}