.new-comment-tools > i {
    margin: 0;
}

.comment-profile > img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.comment-body {
    width: fit-content;
    position: relative;
    padding: 5px 10px;
    text-align: right;
    text-align: -webkit-right;
    text-align: -moz-right;
    height: 100%;
    /*min-height: 50px;*/
    border-radius: 0.25em;
    border: 1px solid #bdbdbd;
    background-color: #ffffff;
}

@media (max-width: 767px) {
    .comment-body {
        width: 85%;
    }
}

.comment-body:hover {
    cursor: default;
}

.comment-body.attached {
    padding-bottom: 35px;
}

.comment-body.attached .attached-file {
    position: relative;
    padding: 5px 15px;
    display: block;
    width: fit-content;
    float: left;
    margin-bottom: -20px;
    direction: ltr;
    color: rgba(0, 0, 0, 0.6);
    background-color: #cacbcd70;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s;
}

.comment-body.attached .attached-file:hover {
    background-color: #a0a2a570;
    text-decoration: none;
}

.comments {
    max-height: 300px;
    overflow: scroll;
}

.my-comment, .your-comment {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    width: fit-content;
    max-width: 75%;
}

.system-comment {

}

.system-comment .comment-body {
    margin: 0 auto;
    min-height: auto;
    width: fit-content;
    direction: rtl;
    border: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: #3CCD1C;
    padding: 5px 15px;
}

.system-comment .comment-body pre {
    color: #ffffff !important;
    font-weight: 500;
}

.my-comment {
    /*padding-right: 70px;*/
}

.my-comment > .comment-profile {
    position: absolute;
    right: 0;
    bottom: 0;
}

.my-comment > .comment-body {
    border-color: #b3e4a8;
    background-color: #f8fdf8;
    z-index: 2;
}

/*.my-comment > .comment-body:after{*/
/*  content: '';*/
/*  position: absolute;*/
/*  bottom: 0;*/
/*  right: -10px;*/
/*  height: 10px;*/
/*  width: 10px;*/
/*  border-bottom-left-radius: 1.25em;*/
/*  background-color: #f8fdf7;*/
/*  border-left: 1px solid #bdbdbd;*/
/*  border-bottom: 1px solid #bdbdbd;*/
/*}*/
/*.my-comment > .comment-body:before{*/
/*  content: '';*/
/*  position:absolute;*/
/*  bottom: -1px;*/
/*  right: -10px;*/
/*  height: 10px;*/
/*  width: 10px;*/
/*  background-color: #f8fdf7;*/
/*  border-bottom: 1px solid #bdbdbd;*/
/*}*/
/*.fa-paperclip, .fa-pen, .fa-trash-alt, .fa-reply, .fa-smile {*/
/*    border: 1px solid transparent;*/
/*    padding: 6px;*/
/*    background-color: transparent;*/
/*    border-radius: 3px;*/
/*}*/

/*.fa-paperclip:hover, .fa-pen:hover, .fa-trash-alt:hover, .fa-reply:hover, .fa-smile:hover {*/
/*    cursor: pointer;*/
/*    color: #3ccd1c;*/
/*    border: 1px solid #3ccd1c;*/
/*    padding: 6px;*/
/*    background-color: transparent;*/
/*    border-radius: 3px;*/
/*}*/

span.new-comment-tools {
    position: absolute;
    right: 0;
    bottom: 0;
}

#comment {
    padding-bottom: 30px;
}

.replay-div {
    position: absolute;
    top: 21px;
    left: 16px;
    height: 30px;
    width: calc(100% - 31px);
    border-radius: 5px 5px 0 0;
    color: #707070;
    overflow: hidden;
    padding: 5px 5px 5px 20px;
    background-color: #f8fdf7;
    border-right: 2px solid #3ccd1c;
}

.replay-div:hover {
    cursor: default;
}

.replay-div > .fa-reply {
    padding: 0;
    border: none;
    margin-left: 10px;
    border-radius: 0;
}

.replay-div > .fa-reply:hover {
    cursor: default;
    color: #707070;
    border: none;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
}

.replay-div > .fa-times {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}

.replay-div > .fa-times:hover {
    cursor: pointer;
    color: #ff4545;
}

.attach {
    position: absolute;
    left: 15px;
    height: 30px;
    width: calc(100% - 30px);
    border-radius: 5px 5px 0 0;
    color: #707070;
    overflow: hidden;
    padding: 5px 5px 5px 20px;
}

.attach > .progress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
}

.my-comment .comment-tools {
    color: #707070;
    position: absolute;
    top: 3px;
    right: calc(100% + 3px);
}

.my-comment .comment-tools .dropdown-toggle {
    background-color: transparent;
    border: none;
    color: #707070;
    padding: 0;
    margin-right: -30px;
    visibility: hidden;
    -webkit-transition: margin-right 0.3s, transform 1s;
    -moz-transition: margin-right 0.3s, transform 1s;
    -ms-transition: margin-right 0.3s, transform 1s;
    -o-transition: margin-right 0.3s, transform 1s;
    transition: margin-right 0.3s, transform 1s;
    z-index: 1;
}

.my-comment:hover .comment-tools .dropdown-toggle {
    margin-right: 0;
    visibility: visible;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

.my-comment .comment-tools .dropdown-toggle:focus i {
    background-color: #e0e1e270;
    cursor: pointer;
}

.my-comment .comment-tools .dropdown-toggle:after {
    display: none;
}

.my-comment .comment-tools .dropdown-menu {
    font-size: 13px;
    text-align: right;
    min-width: 8rem;
}

.my-comment .comment-tools .dropdown-menu .dropdown-item {
    font-weight: 300;
    padding: 0.25em 10px;
}

.my-comment .comment-tools .dropdown-menu .dropdown-item:hover {
    cursor: pointer;
}

.my-comment .comment-tools .dropdown-menu i {

}

.my-comment .comment-tools .dropdown-menu i:hover {
    background-color: transparent;
}

.my-comment .comment-tools i {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 5px;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s;
}

.my-comment .comment-tools i:hover {
    background-color: #e0e1e270;
    cursor: pointer;
}


.your-comment {
    padding-left: 10px;
    padding-right: 20px;
    text-align: left;
    text-align: -webkit-left;
    text-align: -moz-left;
    margin-left: 5px;
    margin-right: auto;
}

.your-comment > .comment-profile {
    position: absolute;
    left: 0;
    bottom: 0;
}

.your-comment > .comment-body {
    border-bottom-left-radius: 0;
}

.your-comment > .comment-body:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: -10px;
    height: 10px;
    width: 10px;
    border-bottom-right-radius: 1.25em;
    background-color: #ffffff;
    border-right: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
}

.your-comment > .comment-body:before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: -10px;
    height: 10px;
    width: 10px;
    background-color: #ffffff;
    border-bottom: 1px solid #bdbdbd;
}

.your-comment .comment-tools {
    color: #707070;
    position: absolute;
    top: 3px;
    right: -26px;
}

.your-comment .comment-tools i {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 5px;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s;
}

.your-comment .comment-tools i:hover {
    background-color: #e0e1e270;
    cursor: pointer;
}

.send-comment-container {
    position: relative;
    width: 100%;
}

.send-comment-container .comment-input {
    position: relative;
    float: left;
    display: flex;
    width: calc(100% - 45px);
    border-radius: 10px;
    background-color: #cacbcd70;
}

.send-comment-container .comment-input.attached {
    padding-bottom: 25px;
}

.send-comment-container .comment-input textarea {
    position: relative;
    width: calc(100% - 40px);
    border-color: transparent !important;
    margin: 0 !important;
    background-color: transparent;
    text-align: justify;
    /*background-color: #cacbcd;*/
}

.send-comment-container .comment-input.attached textarea {
    width: 100%;
}

.send-comment-container .comment-input label.full-focus-out:after {
    display: none;
}

.send-comment-container .comment-input .new-comment-tools {
    color: #707070;
    position: relative;
    float: left;
}

.send-comment-container .comment-input .new-comment-tools label[for=comment-attach] {
    position: absolute;
    width: 35px;
    height: 35px;
    top: calc(100% - 3px);
    transform: translateY(-100%);
    left: -37px;
    margin: 0;
    right: auto;
    background-color: #cacbcd70;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.6);
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s;
}

.send-comment-container .comment-input.attached .new-comment-tools label[for=comment-attach] {
    display: none;
}

.send-comment-container .comment-input .new-comment-tools label[for=comment-attach]:hover {
    cursor: pointer;
    background-color: #a0a2a570;
}

.send-comment-container .comment-input .new-comment-tools label[for=comment-attach] i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.send-comment-container .comment-input .attachment {
    display: none;
}

.send-comment-container .comment-input.attached .attachment {
    position: absolute;
    padding: 5px 15px;
    bottom: 3px;
    left: 4px;
    display: block;
    background-color: #cacbcd70;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    color: rgba(0, 0, 0, 0.6);
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s;
}

.send-comment-container .comment-input.attached .attachment:hover {
    cursor: pointer;
    padding-left: 35px;
    background-color: #a0a2a570;
}

.send-comment-container .comment-input.attached .attachment i.fa-trash-alt {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 29px;
    color: #ffffff;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s;
}

.send-comment-container .comment-input.attached .attachment:hover i.fa-trash-alt {
    width: 29px;
    visibility: visible;
    -webkit-border-radius: 0.25em 50% 50% 0.25em;
    -moz-border-radius: 0.25em 50% 50% 0.25em;
    border-radius: 0.25em 50% 50% 0.25em;
    background-color: #FF7C7C;
}

.send-comment-container .comment-input.attached .attachment:hover i.fa-trash-alt:hover {
    background-color: #ff4545;
}

/*.send-comment-container .comment-input.attached .attachment i.fa-trash-alt:after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 29px;*/
/*    height: 29px;*/
/*    -webkit-border-radius: 0 50% 50% 0;*/
/*    -moz-border-radius: 0 50% 50% 0;*/
/*    border-radius: 0 50% 50% 0;*/
/*    background-color: #ff4545;*/
/*}*/
.send-comment-container .comment-input.attached .attachment i.fa-trash-alt:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s;
}

.send-comment-container .comment-input.attached .attachment:hover i.fa-trash-alt:before {
    visibility: visible;
}

.send-comment-container .image-btn-circle {
    position: relative;
    top: 0;
}