.new-comment-tools > i {
    margin: 0;
}

.comment-profile > img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.comment-body {
    width: 75%;
    position: relative;
    padding: 5px;
    text-align: right;
    text-align: -webkit-right;
    text-align: -moz-right;
    height: 100%;
    min-height: 50px;
    border-radius: 0.25em;
    border: 1px solid #bdbdbd;
    background-color: #ffffff;
}

.comment-body:hover {
    cursor: default;
}

.comments {
    max-height: 200px;
    overflow: scroll;
}

.my-comment, .your-comment {
    position: relative;
    margin: 10px auto;
}

.my-comment {
    /*padding-right: 70px;*/
}

.my-comment > .comment-profile {
    position: absolute;
    right: 0;
    bottom: 0;
}

.my-comment > .comment-body {
    border-color: #b3e4a8;
    background-color: #f8fdf8
}

/*.my-comment > .comment-body:after{*/
/*  content: '';*/
/*  position: absolute;*/
/*  bottom: 0;*/
/*  right: -10px;*/
/*  height: 10px;*/
/*  width: 10px;*/
/*  border-bottom-left-radius: 1.25em;*/
/*  background-color: #f8fdf7;*/
/*  border-left: 1px solid #bdbdbd;*/
/*  border-bottom: 1px solid #bdbdbd;*/
/*}*/
/*.my-comment > .comment-body:before{*/
/*  content: '';*/
/*  position:absolute;*/
/*  bottom: -1px;*/
/*  right: -10px;*/
/*  height: 10px;*/
/*  width: 10px;*/
/*  background-color: #f8fdf7;*/
/*  border-bottom: 1px solid #bdbdbd;*/
/*}*/
.fa-paperclip, .fa-pen, .fa-trash-alt, .fa-reply, .fa-smile {
    border: 1px solid transparent;
    padding: 6px;
    background-color: transparent;
    border-radius: 3px;
}

.fa-paperclip:hover, .fa-pen:hover, .fa-trash-alt:hover, .fa-reply:hover, .fa-smile:hover {
    cursor: pointer;
    color: #3ccd1c;
    border: 1px solid #3ccd1c;
    padding: 6px;
    background-color: transparent;
    border-radius: 3px;
}

span.new-comment-tools {
    position: absolute;
    right: 0;
    bottom: 0;
}

#comment {
    padding-bottom: 30px;
}

.replay-div {
    position: absolute;
    top: 21px;
    left: 16px;
    height: 30px;
    width: calc(100% - 31px);
    border-radius: 5px 5px 0 0;
    color: #707070;
    overflow: hidden;
    padding: 5px 5px 5px 20px;
    background-color: #f8fdf7;
    border-right: 2px solid #3ccd1c;
}

.replay-div:hover {
    cursor: default;
}

.replay-div > .fa-reply {
    padding: 0;
    border: none;
    margin-left: 10px;
    border-radius: 0;
}

.replay-div > .fa-reply:hover {
    cursor: default;
    color: #707070;
    border: none;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
}

.replay-div > .fa-times {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}

.replay-div > .fa-times:hover {
    cursor: pointer;
    color: #ff4545;
}

.attach {
    position: absolute;
    left: 15px;
    height: 30px;
    width: calc(100% - 30px);
    border-radius: 5px 5px 0 0;
    color: #707070;
    overflow: hidden;
    padding: 5px 5px 5px 20px;
}

.attach > .progress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
}

.my-comment > .comment-body > .comment-tools {
    color: #707070;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.comment-tools > i {
    margin: 0;
}

.your-comment {
    padding-left: 10px;
    padding-right: 20px;
    text-align: left;
    text-align: -webkit-left;
    text-align: -moz-left;
}

.your-comment > .comment-profile {
    position: absolute;
    left: 0;
    bottom: 0;
}

.your-comment > .comment-body {
    border-bottom-left-radius: 0;
}

.your-comment > .comment-body:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -10px;
    height: 10px;
    width: 10px;
    border-bottom-right-radius: 1.25em;
    background-color: #f8fdf7;
    border-right: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
}

.your-comment > .comment-body:before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: -10px;
    height: 10px;
    width: 10px;
    background-color: #f8fdf7;
    border-bottom: 1px solid #bdbdbd;
}

.your-comment > .comment-body > .comment-tools {
    color: #707070;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -105px;
}

.send-comment-container {
    position: relative;
    width: 100%;
}

.send-comment-container .comment-input {
    position: relative;
    display: inline-block;
    width: calc(100% - 40px);
    border-radius: 10px;
}
.send-comment-container .comment-input textarea {
    position: relative;
    width: calc(100% - 40px);
    border-color: transparent!important;
    margin: 0!important;
}
.send-comment-container .comment-input .new-comment-tools {
    color: #707070;
    position: relative;
    float: left;
}

.send-comment-container .comment-input .new-comment-tools label[for=comment-attach] {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 0;
    left: 0;
    margin: 0;
    right: auto;
}
.send-comment-container .image-btn-circle {
    position: relative;
    display: inline-block;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}