@import "fontiran.css";
body {
  background-color: #F8FDF7;
  font-family: iranyekan, serif;
  font-size: 13px;
  font-weight: 300;
}
.card {
  width: 400px;
  padding: 0 25px 50px 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px #e3e3e3;
}
img {
  width: 105px;
  height: 100px;
  margin: 10px auto 0 auto;
}
.ChamranTeam {
  font-size: 20px;
  color: #454545;
  margin: 10px auto 0px auto;
}
.ChamranTeam::after {
  content: '';
  background-color: #bdbdbd;
  width: 130px;
  height: 1px;
  position: absolute;
  left: 245px;
  top: 135px;
}
.ChamranTeam::before {
  content: '';
  background-color: #bdbdbd;
  width: 130px;
  height: 1px;
  position: absolute;
  left: 25px;
  top: 135px;
}
.username, .password , .confirm_password{
  position: relative;
}
.confirm_password > input{
  margin-bottom: 10px;
}
input {
  background-color: #fdfdfd!important;
  border: 1px solid #bdbdbd;
  color: #6f7285;
  border-radius: 5px;
  margin-top: 20px;
  direction: rtl;
  padding: 10px;
  width: 100%;
}
label {
  position: absolute;
  top: 28px;
  right: 10px;
  color: #6f7285;
  transition: 300ms all ease;
}
input:focus {
  outline: none;
  border: 1px solid #3CCD1C;
  color: #3CCD1C;
  background-color: #fff;
}
.username > i , .password > i, .confirm_password > i , .email > i{
  width: 35px;
  height: 35px;
  position: absolute;
  top: 33px;
  left: 10px;
  color: #bdbdbd;
}
span.error{
  position: absolute;
  left: 25px;
  bottom: -7px;
  color: #FF2525;
  font-size: 13px;
}
.card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 45px;
    width: 100%;
    border: none;
    background-color: #E3FFDD;
    text-align: left;
    padding: 8px;
}
.Enter-btn, .signUp-btn{
  background-color: #89E076;
  border: none;
  color: #ffffff;
  border-radius: 0.25em;
  margin: 10px auto;
  padding: 10px;
  transition: 200ms all ease;
  width: 100%;
}
.Enter-btn:hover , .Enter-btn:focus ,.signUp-btn:hover ,.signUp-btn:focus {
  outline: none;
  color: #fff;
  background-color: #3CCD1C;
}
.hr::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 350px;
  background-color: #bdbdbd;
}
.hr {
  margin-bottom: 10px;
}
p {
  margin-left: auto;
  margin-right: auto;
}
a {
  color: #78e051;
  width: auto;
}
a:hover {
  text-decoration: none;
  color: #3CCD1C;
}
a:focus {
  text-decoration: underline;
  color: #3CCD1C;
}
.card > a {
  margin-top: 5px;
}
input.error, textarea.error {
    background-color: #fdf7f8;
    border: 1px solid #ff4545;
    color: #ff4545;
}
div.error{
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 10px;
    color: #ff4545;
}
@media only screen and (max-width: 600px) {
  .card {
    width: auto;
    height: 440px;
    background-color: #F8FDF7;
    border: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: none;
  }
  .ChamranTeam {
    font-size: 20px;
    color: #454545;
    margin: 10px auto 0px auto;
  }
  .ChamranTeam::after {
    content: '';
    background-color: #bdbdbd;
    width: 130px;
    height: 1px;
    position: absolute;
    left: 230px;
    top: 135px;
  }
  .ChamranTeam::before {
    content: '';
    background-color: #bdbdbd;
    width: 130px;
    height: 1px;
    position: absolute;
    left: 10px;
    top: 135px;
  }
  .username > input , .password > input , .email > input {
    background-color: #fdfdfd;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    height: 40px;
    width: 355px;
    margin-left: 10px;
    margin-top: 20px;
    direction: rtl;
    padding-right: 10px;
  }
  .username > label {
    color: #bdbdbd;
    position: absolute;
    right: 10px;
    top: 177px;
    transition: 300ms all ease;
  }
  .username > input:focus {
    outline: none;
    border: 1px solid #3CCD1C;
  }
  .password > label {
    color: #bdbdbd;
    position: absolute;
    right: 10px;
    top: 237px;
    transition: 300ms all ease;
  }
  .password > input:focus {
    outline: none;
    border: 1px solid #3CCD1C;
  }
  .username > i {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 183px;
    left: 20px;
    color: #bdbdbd;
  }
  .password > i {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 243px;
    left: 20px;
    color: #bdbdbd;
  }
  .email > label {
    color: #bdbdbd;
    position: absolute;
    right: 10px;
    top: 177px;
    transition: 300ms all ease;
  }
  .email > input:focus {
    outline: none;
    border: 1px solid #3CCD1C;
  }
  .email > i{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 243px;
    left: 20px;
    color: #bdbdbd;
  }
  .Enter-btn{
    background-color: #89E076;
    border: none;
    color: #F8FDF7;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 360px;
    margin: 10px auto;
    margin-left: 10px;
    padding: 10px;
    transition: 200ms all ease;
  }
  .Enter-btn:hover , .Enter-btn:focus {
    outline: none;
    color: #fff;
    background-color: #3CCD1C;
    box-shadow: 0 0 2px 2px #e3e3e3;
  }
  .hr::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 360px;
    background-color: #bdbdbd;
    margin-left: 10px;
    margin-top: 10px;
  }
  .hr {
    margin-bottom: 20px;
  }
  p {
    margin-left: auto;
    margin-right: auto;
  }
  a {
    color: #89E076;
    width: auto;
  }
  a:hover {
    text-decoration: none;
    color: #3CCD1C;
  }
  .card > a {
    margin-top: 5px;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 400px) {
  .card {
    width: auto;
    height: 440px;
    background-color: #F8FDF7;
    border: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: none;
  }
  .ChamranTeam {
    font-size: 20px;
    color: #454545;
    margin: 10px auto 0px auto;
  }
  .ChamranTeam::after {
    content: '';
    background-color: #bdbdbd;
    width: 130px;
    height: 1px;
    position: absolute;
    left: 230px;
    top: 135px;
  }
  .ChamranTeam::before {
    content: '';
    background-color: #bdbdbd;
    width: 130px;
    height: 1px;
    position: absolute;
    left: 10px;
    top: 135px;
  }
  .username > input , .password > input {
    background-color: #fdfdfd;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    height: 40px;
    width: 355px;
    margin-left: 10px;
    margin-top: 20px;
    direction: rtl;
    padding-right: 10px;
  }
  .username > label {
    color: #bdbdbd;
    position: absolute;
    right: 10px;
    top: 177px;
    transition: 300ms all ease;
  }
  .username > input:focus {
    outline: none;
    border: 1px solid #3CCD1C;
  }
  .password > label {
    color: #bdbdbd;
    position: absolute;
    right: 10px;
    top: 237px;
    transition: 300ms all ease;
  }
  .password > input:focus {
    outline: none;
    border: 1px solid #3CCD1C;
  }
  .username > i {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 183px;
    left: 20px;
    color: #bdbdbd;
  }
  .password > i {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 243px;
    left: 20px;
    color: #bdbdbd;
  }
  .Enter-btn{
    background-color: #89E076;
    border: none;
    color: #F8FDF7;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 360px;
    margin: 10px auto;
    margin-left: 10px;
    padding: 10px;
    transition: 200ms all ease;
  }
  .Enter-btn:hover , .Enter-btn:focus {
    outline: none;
    color: #fff;
    background-color: #3CCD1C;
    box-shadow: 0 0 2px 2px #e3e3e3;
  }
  .hr::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 360px;
    background-color: #bdbdbd;
    margin-left: 10px;
    margin-top: 10px;
  }
  .hr {
    margin-bottom: 20px;
  }
  p {
    margin-left: auto;
    margin-right: auto;
  }
  a {
    color: #89E076;
    width: auto;
  }
  a:hover {
    text-decoration: none;
    color: #3CCD1C;
  }
  .card > a {
    margin-top: 5px;
    margin-left: 10px;
  }
}
.signUp-div{
  margin-top:10px;
  display: none;
}
.user-type-container{
  display: flex;
  width: 100%;
}
.user-type{
  position: relative;
  width: 100px;
  height: 100px;
  margin-left: 25px;
  border: 1px solid #bdbdbd;
  color: #bdbdbd;
  border-radius: 5px;
  box-shadow: none;
  background-color: #fdfdfd;
  padding-top: 75px;
}
.user-type:hover {
  cursor: pointer;
  border:1px solid #3CCD1C;
  color: #3CCD1C!important;
  box-shadow: 0 0 5px 0 #3CCD1C;
}
.user-type > img{
  width: 62px;
  height: 62px;
}
label.user-type:after{
  content: '';
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 62px;
  height: 62px;
  background-repeat: no-repeat;
  background-size: cover;
}
label.user-type.expert:after{
  background-image: url("../img/mind.png");
}
label.user-type.industry:after{
  background-image: url("../img/settings.png");
}
label.user-type.researcher:after{
  background-image: url("../img/research.png");
}
label.user-type.select.expert:after{
  background-image: url("../img/mind_hover.png");
}
label.user-type.select.industry:after{
  background-image: url("../img/settings_hover.png");
}
label.user-type.select.researcher:after{
  background-image: url("../img/research_hover.png");
}
.email{
  position: relative;
  display: none;
}
input[type="radio"]{
  display: none;
}
input[type="radio"]:checked+label{
  cursor: pointer;
  border:1px solid #3CCD1C;
  color: #3CCD1C!important;
  box-shadow: 0 0 5px 0 #3CCD1C;
}
.forget-pass{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  color: #3ccd1c;
}
.new-user{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
}
.new-user > a{
  color: #3ccd1c;
}