{% load static%}
<div class="dialog-main voting industry-voting">
    <div class="card text-right center-dialog">
        <div class="close"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="vote-progress">
                        <div class="progress-line"></div>
                        <ul class="vote-list">
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="custom-border-title">
                        <div class="row mbottom-10">
                            <div class="col-lg-12">
                                <div class="vote-question"><span>?</span></div>
                                <div class="vote-question-text">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                                </div>
                                <div class="card p-2 btl-4">
                                    <div class="swiper-container w-100">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        1
                                                        -
                                                    </span>
                                                    <span>
                                                        میزان رضایت شما از تامین مواد اولیه توسط صنعت (به موقع نیاز و مطابق قرارداد)  چگونه است؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        2
                                                        -
                                                    </span>
                                                    <span>
                                                        میزان رضایت شما از  تامین بیمه برای کارکنان پروژه چگونه است؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        3
                                                        -
                                                    </span>
                                                    <span>
                                                        آیا صنعت نحوه پرداخت مبلغ قرارداد را مطابق قرار داد و به موقع انجام داده است؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        4
                                                        -
                                                    </span>
                                                    <span>
                                                        آیا صنعت در تامین محل انجام پروژه مطابق قرارداد عمکرده است؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        5
                                                        -
                                                    </span>
                                                    <span>
                                                        میزان رضایتتان  از نحوه بر خورد محترمانه صنعت با شما، چگونه است؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        6
                                                        -
                                                    </span>
                                                    <span>
                                                        بودجه تخصیص یافته برای پروژه از سوی صنعت، تا چه میزان با واقعیت اجرایی پروژه همخوانی داشت؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        7
                                                        -
                                                    </span>
                                                    <span>
                                                        زمان بندی پروژه از سوی صنعت تا چه میزان، مطابق خواسته ها و برنامه های شما بود؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        8
                                                        -
                                                    </span>
                                                    <span>
                                                        میزان رضایت کلی شما از صنعت چگونه است؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        9
                                                        -
                                                    </span>
                                                    <span>
                                                        عملکرد چمران تیم در طی پروژه را چگونه ارزیابی می کنید؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        10
                                                        -
                                                    </span>
                                                    <span>
                                                        آیا تمایل به ادامه همکاری با چمران تیم دارید؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" id="yes" name="vote" value="1-10" class="vote-check"><label for="yes">آری</label>
                                                        <input type="radio" id="no" name="vote" value="1-10" class="vote-check"><label for="no">خیر</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        11
                                                        -
                                                    </span>
                                                    <span>
                                                        آیا تمایل به همکاری دوباره با همین شرکت صنعتی در پروژه های آتی دارید؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" id="yes" name="vote" value="1-10" class="vote-check"><label for="yes">آری</label>
                                                        <input type="radio" id="no" name="vote" value="1-10" class="vote-check"><label for="no">خیر</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        12
                                                        -
                                                    </span>
                                                    <span>
                                                        آیا پروژه حاضر قابلیت تبدیل شدن به مقاله و ارائه در مجامع علمی (برای برخورداری از ارتقای علمی اساتید) را دارد ؟(امتیاز مثبت از سوی استاد برای صنعت)
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" id="yes" name="vote" value="1-10" class="vote-check"><label for="yes">آری</label>
                                                        <input type="radio" id="no" name="vote" value="1-10" class="vote-check"><label for="no">خیر</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <span class="next-button">
                                    <i class="fas fa-arrow-right"></i>
                                    بعدی
                                </span>
                                <span class="prev-button disabled">
                                    قبلی
                                    <i class="fas fa-arrow-left"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>