{% extends "researcher/layouts/base_layout.html" %}
{% load static %}
{% block title %}سوال پژوهشی{% endblock %}
{% block content %}
    <div class="preview-question">
        <div class="card info-card text-right">
            <div class="card-header"> سوال پژوهشی </div>
            <div class="inner-card">
                <div class="row">
                    <div class="col-lg-12">
                        <h6 class="green">{{ question_title }}</h6>
                            <div>
                                {{ question | linebreaksbr }}
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="question-attach text-left">
                            <ul class="inline-list">
                                <li class="list-item">
                                {% if attachment != "" %}
                                    <a href="{{ attachment.url }}" class="attach-file">
                                        {% if attach_type == "doc" or attach_type == "docx" %}
                                            <span class="doc-file"></span>
                                        {% elif attach_type == "pdf" %}
                                            <span class="pdf-file"></span>
                                        {% elif attach_type == "jpg" or attach_type == "jpeg" %}
                                            <span class="jpg-file"></span>
                                        {% elif attach_type == "png" %}
                                            <span class="png-file"></span>
                                        {% endif %}
                                        <span>{{ file_name }}</span>
                                    </a>
                                {% endif %} 
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% if answer %}
                    <div class="card-header">
                        <h6><a href="{{answer.url}}" class="attach-file">پاسخ شما</a></h6>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
