<!DOCTYPE html>
{% load static %}
{% load custom_tags %}
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="icon" sizes="16*16" href="{% static 'img/circle_logo.png' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css">
    {% block header %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/comments.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'researcher/css/style.css' %}">
    {#    <!-- <link rel="stylesheet" href="{% static 'researcher/css/style_xs.css' %}"> -->#}
</head>
<body class="{% if request.user.researcheruser.status.status == 'signed_up' %}modal-open{% endif %}">
{% getUnseenMessages request.user as UnseenMessages %}
{% block dialog %}{% endblock %}
{% block modals %}{% endblock %}
<div class="modal fade" id="feedbackModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
     role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="feedbackModalLabel">ثبت بازخورد</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'chamran:addOpinion' %}" id="feedback_ajax_form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="feedbackEmail">پست الکترونیکی</label>
                        <input type="email" name='email' class="form-control" id="feedbackEmail"
                               aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="feedbackOpinion">متن مشکل</label>
                        <textarea name='opinion' class="form-control" id="feedbackOpinion" rows="4"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">ارسال</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="main">
    <div class="top-bar">
        <img src="{% static 'researcher/img/logoName.png' %}" alt="chamranTeam">
        <div class="dropdown">
            <button type="button" name="button" class="btn dropdown-toggle" id="dropdown-btn" data-toggle="dropdown">
                {% if request.user.researcheruser.researcherprofile.photo %}
                    <img src="{{ request.user.researcheruser.researcherprofile.photo.url }}" alt="profile"
                         class="dropdown-img profile"
                         height="45px">
                {% else %}
                    <img src="{% static 'researcher/img/profile.jpg' %}" alt="profile" class="dropdown-img profile"
                         height="45px">
                {% endif %}
            </button>
            <ul class="dropdown-menu text-center" role="menu" aria-labelledby="dropdown-btn" id="dropdown">
                <li><a href="{% url 'researcher:userInfo' %}">اطلاعات کاربری<i class="fas fa-cog"></i></a></li>
                <li><a href="{% url 'chamran:send_reset_email' %}">تغییر رمز عبور<i class="fas fa-pen"></i></a></li>
                <hr>
                <li><a href="{% url 'chamran:logout' %}">خروج<i class="fas fa-sign-out-alt"></i></a></li>
            </ul>
        </div>
        <div class="feed-back">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#feedbackModal">
                <i class="fas fa-edit"></i>
            </button>
        </div>
        <a href="#" id="toggle"><span></span></a>
    </div>
    <div class="content">
        <div class="container">
            <div id="top"></div>
            {% block content %}{% endblock %}
        </div>
    </div>
    <div class="side-bar">
        <div class="topMargin"></div>
        <div class="researcher-icon"></div>
        {% if request.user.researcheruser.researcherprofile.photo %}
            <img src="{{ request.user.researcheruser.researcherprofile.photo.url }}" alt="profile" class="profile"
                 width="150px" height="150px" id="profile">
        {% else %}
            <img src="{% static 'researcher/img/profile.jpg' %}" alt="Ehsan" class="profile" width="150px"
                 height="150px">
        {% endif %}

        <h5>{% block name %}{{ request.user.researcheruser.researcherprofile }}{% endblock %}</h5>
        <h6>پژوهشگر</h6>
        <p dir="rtl" class="scoreDiv text-right">امتیاز: <span>{{ request.user.researcheruser.points|default:0 }}</span>/10
        </p>
        <div class="progress">
            <div class="progress-bar" role="progressbar"
                 aria-valuenow="{{ request.user.researcheruser.score|default:0 }}" aria-valuemin="0"
                 aria-valuemax="100" style="width: {{ request.user.researcheruser.score }}px">
                <span class="sr-only">{{ request.user.researcheruser.score|default:0 }}% completed</span>
            </div>
        </div>
        <div class="hr"></div>
        <ul class="list-group">
            {% if request.user.researcheruser.status.status == "not_answered" or request.user.researcheruser.status.status == "wait_for_result" %}
                <a href="#" class="forbidden__access">
            {% else %}
                {% url "researcher:index" as index_url %}
                <a href="{{ index_url }}">
            {% endif %}
            <li class="list-group-item text-right {% if request.get_full_path ==  index_url %}active{% endif %}">
                <div>
                    <span>پروژه ها</span>
                    <span class="fas fa-list-ul"></span>
                </div>
            </li>
            </a>
            {% url 'researcher:messages' as messages_url %}
            <a href="{{ messages_url }}">
                <li class="list-group-item text-right {% if messages_url == request.get_full_path %}active{% endif %}">
                    <div>
                        {% if UnseenMessages %}
                            <span class="new-message">{{ UnseenMessages }}</span>
                        {% endif %}
                        <span>پیام ها</span>
                        <span class="fas fa-envelope"></span>
                    </div>
                </li>
            </a>
            {% if request.user.researcheruser.status.status == "not_answered" or request.user.researcheruser.status.status == "wait_for_result" %}
                <a href="#" class="forbidden__access">
            {% else %}
                {% url 'researcher:technique' as technique_url %}
                <a href="{{ technique_url }}">
            {% endif %}
            <li class="list-group-item text-right {% if request.get_full_path ==  technique_url %}active{% endif %}">
                <div>
                    <span>تکنیک ها</span>
                    <span class="fas fa-file-medical"></span>
                </div>
            </li>
            </a>
            <!-- {% url 'researcher:question-alert' as question_url %} -->
            {% if request.user.researcheruser.status.status == "not_answered" or request.user.researcheruser.status.status == "wait_for_result" %}
                {% getQuestionUrl request.user.researcheruser as questionId %}
                {% if questionId %}
                    {% url 'researcher:question-show' question_id=questionId as question_url %}
                {% else %}
                    {% url 'researcher:question-alert' as question_url %}
                {% endif %}
                <a href="{{ question_url }}">
            {% else %}
                <a href="#" class="forbidden__access">
            {% endif %}
            <li class="list-group-item text-right {% if request.get_full_path ==  question_url %}active{% endif %}">
                <div>
                    <span>سوالات پژوهشی</span>
                    <span class="fas fa-question"></span>
                </div>
            </li>
            </a>
            {% if request.user.researcheruser.status.status == "not_answered" or request.user.researcheruser.status.status == "wait_for_result" %}
                <a href="#" class="forbidden__access">
            {% else %}
                {% url 'researcher:userInfo' as userInfo_url %}
                <a href="{{ userInfo_url }}">
            {% endif %}
            <li class="list-group-item text-right {% if request.get_full_path == userInfo_url %}active{% endif %}">
                <div>
                    <span>اطلاعات کاربری</span>
                    <span class="fas fa-cog"></span>
                </div>
            </li>
            </a>
        </ul>
        <div class="hr display-sm"></div>
        <ul class="list-group display-sm">
            <a href="{% url 'chamran:send_reset_email' %}">
                <li class="list-group-item text-right">
                    <div>
                        <span>تغییر رمز عبور</span>
                        <i class="fas fa-lock"></i>
                    </div>
                </li>
            </a>
            <a href="{% url 'chamran:logout' %}">
                <li class="list-group-item text-right">
                    <div>
                        <span>خروج</span>
                        <i class="fas fa-sign-out-alt"></i>
                    </div>
                </li>
            </a>
        </ul>
    </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
<script type="text/javascript" src="{% static 'js/persianumber.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/autosize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script-functions.js' %}"></script>
<script type="text/javascript" src="{% static 'researcher/js/script-functions.js' %}"></script>
{% block script %}{% endblock %}
<script type="text/javascript" src="{% static 'researcher/js/script.js' %}"></script>
{% if request.user.researcheruser.status.status == "signed_up" %}
    <div class="modal-backdrop fade show" style="user-select: auto;"></div>
    <script type="text/javascript">
        $("input.error, select.error").prev().css("color", "rgb(255,69,69)");
        display_error($("#exampleModal form"));
    </script>
{% endif %}
<script type="text/javascript">
    $("form#feedback_ajax_form").submit(function (event) {
        event.preventDefault();
        $.ajax({
            method: "POST",
            url: $(this).attr("action"),
            data: $(this).serialize(),
            success: function (data) {
                console.log(data);
                iziToast.success({
                    rtl: true,
                    message: "بازخورد شما با موفقیت ارسال شد!",
                    position: 'bottomLeft'
                });
            },
            error: function (data) {
                console.log(data);
                iziToast.error({
                    rtl: true,
                    message: "ارسال بازخورد با خطا مواجه شد!",
                    position: 'bottomLeft'
                });
            }
        });
    });
</script>
<script type="text/javascript">
    $(".forbidden__access").click(function () {
        iziToast.error({
            rtl: true,
            message: "متاسفانه، شما اجازه دسترسی به این قسمت را ندارید!",
            position: 'bottomLeft'
        });
    });
</script>
</body>
</html>