{% load static %}
<span class="section-title">گفتگو</span>
<div class="section">
    <div class="project-comment-innerDiv">
        <div class="no-comment">
            <img class="no comment" src="{% static 'img/no_message.svg' %}" alt="no message">
            <h5>نظری درباره این پروژه ثبت نشده!</h5>
            <p>
                در صورتی که درباره پروژه سوال یا ابهامی دارید می توانید در این قسمت آن را مطرح کنید.
            </p>
        </div>
        <div class="comments"></div>
        <div class="add-comment">
            <form action="" method="POST" enctype="multipart/form-data" id="comment-form" url="{% url 'researcher:comment' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-12">
                        <input type="text" class="project_id" name="project_id" hidden>
                        <input type="text" name="comment_replyed" id="comment_replyed" value="None" hidden>
                        <div class="send-comment-container">
                            <button class="image-btn-circle" type="submit"></button>
                            <div class="comment-input">
                                <label for="description"></label>
                                <textarea dir="rtl" id="description" class="" name="description" rows="1"
                                          placeholder="نظر خود را اینجا وارد کنید ..."></textarea>

                                <div class="new-comment-tools">
                                    <input type="file" id="comment-attach" name="attachment" hidden>
                                    <label for="comment-attach"><i class="fas fa-paperclip"></i></label>
                                </div>

                                <div class="attachment">
                                    <i class="fas fa-paperclip"></i>
                                    <span></span>
                                    <i class="far fa-trash-alt"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>