{% load static %}
<div class="project-comment custom-border-title">
                        <span class="title">نظرات</span>
                        <span class="title-back"></span>
                        <div class="project-comment-innerDiv">
                            <div class="add-comment">
                                <form action="" method="post">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label for="comment">ثبت نظر جدید</label>
                                            <textarea dir="rtl" id="comment" class="w-100 emojiable-option" name="" rows="5"></textarea>
                                            <button class="chamran_btn" type="button" style="left: 16px;bottom: 8px;">ثبت نظر</button>
                                            <span class="new-comment-tools">
                                                <input type="file" id="comment-attach" hidden>
                                                <label for="comment-attach"><i class="fas fa-paperclip"></i></label>
                                            </span>
                                            <div class="attachment"></div>
                                        </div>
                                    </div>
                                </form>
                                <hr>
                                <div class="comments">
                                    <div class="my-comment">
                                        <div class="comment-profile">
                                            <img src="{% static 'expert/img/Ehsan.jpg' %}" alt="expert_profile">
                                        </div>
                                        <div class="comment-body" dir="ltr">
                                            <span class="comment-tools">
                                                <i class="fas fa-trash-alt"></i>
                                                <i class="fas fa-reply"></i>
                                                <i class="fas fa-pen"></i>
                                            </span>
                                            <span>
                                                سلام علیکم
                                            </span>
                                        </div>
                                    </div>
                                    <div class="your-comment">
                                        <div class="comment-profile">
                                            <img src="{% static 'expert/img/pharmaceutical.jpg' %}" alt="expert_profile">
                                        </div>
                                        <div class="comment-body">
                                            <span class="comment-tools">
                                                <i class="fas fa-reply"></i>
                                            </span>
                                            <span>
                                                علیکم سلام
                                            </span>
                                        </div>
                                    </div>
                                    <div class="my-comment">
                                        <div class="comment-profile">
                                            <img src="{% static 'expert/img/Ehsan.jpg' %}" alt="expert_profile">
                                        </div>
                                        <div class="comment-body" dir="ltr">
                                            <span class="comment-tools">
                                                <i class="fas fa-trash-alt"></i>
                                                <i class="fas fa-reply"></i>
                                                <i class="fas fa-pen"></i>
                                            </span>
                                            <span>
                                                حال شما خوبه الحمدلله؟
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>