{% extends "researcher/layouts/base_layout.html" %}

{% block title %}<title>پژوهشگر</title>{% endblock %}
{% load static %}
{% block initial_information %}
<div class="mainInfo-body">
    <div class="card mainInfo text-right">
      <span dir="rtl">سلام {{user.username}} ،به <span class="green">چمران</span><span class="red">تیم</span> خوش آمدید!</span>
      <p dir="rtl">چمران تیم برای فعال سازی حساب کاربری شما به اطلاعات کاربری ذیل نیازمند است، لذا خواهشمند است اطلاعات زیر را به دقت تکمیل نمایید.</p>
      <hr>
      <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
        <div class="row">
            <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-12 text-center">
                <label for="upload-input" class="upload text-center">
                  <i class="fas fa-pencil-alt"></i>
                </label>
                <img src="{% static 'researcher/img/profile.jpg' %}" alt="profile" class="profile" width="150px" height="150px">
                {{form.photo}}
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <label for="FirstName">نام</label>
                {{form.first_name}}
              </div>
                <div class="col-lg-6">
                    <label for="LastName">نام خانوادگی</label>
                    {{form.last_name}}
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <label for="Field">رشته تحصیلی</label>
                {{form.major}}
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <label for="nationalCode">کد ملی</label>
                {{form.national_code}}
              </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label for="student-num">شماره دانشجویی</label>
                    {{form.student_number}}
                </div>
                <div class="col-lg-6">
                    <label for="enter-date">سال ورود</label>
                    {{form.entry_year}}
                </div>
            </div>
          </div>
            <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-12 rankDiv">
                  <label class="rankLabel" for="rank">آخرین مقطع تحصیلی</label>
                  {{form.grade}}
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <label for="Uni">دانشگاه محل تحصیل</label>
                {{form.university}}
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <label for="Address">آدرس محل سکونت</label>
                {{form.address}}
              </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label for="PhoneNum">تلفن همراه</label>
                    {{form.phone_number}}
                </div>
                <div class="col-lg-6">
                    <label for="HomeNum">تلفن منزل</label>
                    {{form.home_number}}
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <label for="Email">پست الکترونیکی</label>
                {{form.email}}
              </div>
            </div>
          </div>
        </div>
        <!-- <input type="submit" class="form-submit" value="ثبت اطلاعات"> -->
        <button type="submit" class="form-submit">ثبت اطلاعات</button>
      </form>
    </div>
  </div>
  {% endblock %}
  {% block blur %}blur-div{% endblock %}