{% load static%}
<div class="fixed-back message-show">
    <div class="card text-right">
        <div class="card-head"></div>
        <div class="close"></div>
        <div class="message-show-body">
            <div class="body">
                <pre>

                </pre>
            </div>
            <hr>
            <div class="message-info">
                <div class="date">
                    <i class="fas fa-calendar-alt"></i>
                    <span>12 مرداد 1398</span>
                </div>
            </div>
            <div class="message-connect">
                    <span>نیاز به راهنمایی دارید ؟</span>
                    <span class="telegram"><a href="https://t.me/chamran_team"><i class="fab fa-telegram-plane fa-lg"></i></a></span>
                    <span class="phone"><i class="fas fa-phone fa-lg"></i></span>
            </div>
        </div>
    </div>
</div>