{% load static %}
<div class="modal fade" id="newResearchRecord" tabindex="-1" role="dialog" aria-labelledby="newResearchRecordLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <form method="post" url="{% url 'researcher:studious_form' %}" class="ajax-std-form">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title default text-right" id="newResearchRecordLabel">ثبت سابقه پژوهشی</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for='subject'>عنوان طرح پژوهشی</label>
                                    <input type='text' id='subject' class='w-100' name="title">
                                </div>
                                <div class="form-group">
                                    <label for='admin'>نام مجری</label>
                                    <input type='text' id='admin' class='w-100' name="presenter">
                                </div>
                                <div class="form-group">
                                    <label for='liable'>مسئول اجرا/همکار</label>
                                    <input type='text' id='liable' class='w-100' name="responsible">
                                </div>
                                <div class="form-group">
                                    <label class='rankLabel' for='rank' style='width:245px'>وضعیت طرح پژوهشی</label>
                                    <select class="w-100" id='rank' name="status">
                                        <option value="" selected dir='rtl'>انتخاب کنید ...</option>
                                        <option value='1'>در دست اجرا</option>
                                        <option value='2'>خاتمه یافته</option>
                                        <option value='3'>متوقف</option>
                                    </select>
                                </div>
                                <div class="form-group">

                                </div>
                            </div>
                            <div class="col-md-6 d-none d-md-flex">
                                <img src="{% static '/img/research.svg' %}" alt="research img" class="form-image" width="100%">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">لغو</button>
                    <button type="submit" class="btn btn-primary mr-2">افزودن</button>
                </div>
            </div>
        </form>
    </div>
</div>