{% load static%}
{% load widget_tweaks %}
<div class="fixed-back scientific_form">
    <div class="card small-card text-right small-card">
        <div class="close"></div>
        <div class="card-head">ثبت سابقه علمی</div>
        <div class="container">
            <form method="post" action="" id="ajax-sci-form" url="{% url 'researcher:scientific_form' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-6">
                        <div class='row edu-section'>
                            <div class='col-lg-12'>
                                <label for="edu-section">مقطع تحصیلی</label>
                                <input type="text" id="edu-section" class="w-100" name="grade">
                            </div>
                        </div>
                        <div class="row edu-subject">
                            <div class='col-lg-12'>
                                <label for="edu-subject">رشته تحصیلی</label>
                                <input type="text" id="edu-subject" class="w-100" name="major">
                            </div>
                        </div>
                        <div class='row university'>
                            <div class='col-lg-12'>
                                <label for="university">دانشگاه</label>
                                <input type="text" id="university" class="w-100" name="university">
                            </div>
                        </div>
                        <div class="row edu-city">
                            <div class='col-lg-12'>
                                <label for="edu-city">شهر محل تحصیل</label>
                                <input type="text" id="edu-city" class="w-100" name="place">
                            </div>
                        </div>
                        <div class="row year">
                            <div class='col-lg-12'>
                                <label for="year">سال اخذ مدرک</label>
                                <input type="text" id="year" class="w-100" name="graduated_year">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 flex-display">
                        <img src="{% static '/img/scientific.svg' %}" alt="scientific img" class="form-image">
                    </div>
                </div>
                <div class="card-footer">
                    <button class="save-btn" type="submit" id="submit_button" >افزودن</button>
                    <button class="reject-btn" type="reset">لغو</button>
                </div>
            </form>
        </div>
    </div>
</div>