{% load static %}
<div class="modal fade" id="skipQuestion" tabindex="-1" role="dialog" aria-labelledby="skipQuestionLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title text-right default" id="skipQuestionLabel">پریدن از این مرحله</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                {% csrf_token %}
                    <p class="text-justify mb-4" dir="rtl">در صورتی که کد عبور از این قسمت را در اختیار دارید می توانید
                        با وارد کردن آن در قسمت زیر از این
                        مرحله بگذرید.</p>
                    <div class="form-group text-center ml-auto mr-auto">
                        <label for="skipCode"></label>
                        <input type="text" class="code-input text-center w-100" name="accelerator" id="skipCode"
                               placeholder="123456" maxlength="6">
                        {#                        <input type="text" name="accelerator" value="      " id="skipCode" hidden>#}
                        {#                        <label class="c-digit-container text-center w-100">#}
                        {#                            <input type="text" class="text-center code c-digit c-digit-1"#}
                        {#                                   min="0" max="1" pattern="[0-9]{1}" maxlength="1" size="1" placeholder="1">#}
                        {#                            <input type="text" class="text-center code c-digit c-digit-2"#}
                        {#                                   min="0" max="1" pattern="[0-9]{1}" maxlength="1" size="1" placeholder="2">#}
                        {#                            <input type="text" class="text-center code c-digit c-digit-3"#}
                        {#                                   min="0" max="1" pattern="[0-9]{1}" maxlength="1" size="1" placeholder="3">#}
                        {#                            <input type="text" class="text-center code c-digit c-digit-4"#}
                        {#                                   min="0" max="1" pattern="[0-9]{1}" maxlength="1" size="1" placeholder="4">#}
                        {#                            <input type="text" class="text-center code c-digit c-digit-5"#}
                        {#                                   min="0" max="1" pattern="[0-9]{1}" maxlength="1" size="1" placeholder="5">#}
                        {#                            <input type="text" class="text-center code c-digit c-digit-6"#}
                        {#                                   min="0" max="1" pattern="[0-9]{1}" maxlength="1" size="1" placeholder="6">#}
                        {#                        </label>#}
                    </div>
                    <button type="submit" class="btn btn-primary mt-3 mb-3">
                        اعتبارسنجی
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>