{% load static%}
<div class="dialog-main voting">
    <div class="card text-right center-dialog">
        <div class="close"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="vote-progress">
                        <div class="progress-line"></div>
                        <ul class="vote-list">
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="custom-border-title">
                        <div class="row mbottom-10">
                            <div class="col-lg-12">
                                <div class="vote-question"><span>?</span></div>
                                <div class="vote-question-text">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                                </div>
                                <div class="card p-2 btl-4">
                                    <div class="swiper-container w-100">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        1
                                                        -
                                                    </span>
                                                    <span>
                                                        آیا اطلاعات لازم درباره نحوه کار با تکنیک های مورد نیازطرح ، به شما داده شده است؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        2
                                                        -
                                                    </span>
                                                    <span>
                                                        میزان صحت تکنیک های مورد نیاز چقدر کامل بوده است؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        3
                                                        -
                                                    </span>
                                                    <span>
                                                        آیا همراهی با استاد در پروژه به یادگیری توانمندی ها و دانش جدید توسط شما کمک کرده است؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        4
                                                        -
                                                    </span>
                                                    <span>
                                                        سطح علمی استاد در پاسخگویی به نیاز های علمی و سوالات خود را ، پیرامون طرح را چه مقدار ارزیابی می کنید؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        5
                                                        -
                                                    </span>
                                                    <span>
                                                        در دسترس بودن و پاسخگویی استاد در زمان های از پیش معین شده برای ارائه نتایج و پایبندی استاد به زمان را چگونه ارزیابی می کنید؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        6
                                                        -
                                                    </span>
                                                    <span>
                                                        آیا وظایف محوله به شما  متناسب با برنامه و زمان  شما بوده است؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        7
                                                        -
                                                    </span>
                                                    <span>
                                                        میزان انعطاف برنامه استاد متناسب با برنامه های شما، چگونه بوده است؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        8
                                                        -
                                                    </span>
                                                    <span>
                                                        آیا برخورد استاد با دانشجو بصورت محترمانه و در چهارچوب اصول تعریف شده (توسط چمران تیم)بوده است؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        9
                                                        -
                                                    </span>
                                                    <span>
                                                        بکارگیری متعادل دانشجویان و تنظیم همکاری میان آنها توسط استاد را چگونه ارزیابی می کنید؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        10
                                                        -
                                                    </span>
                                                    <span>
                                                        آیا استاد از لحاظ تامین به موقع مالی و آزمایشگاهی پروژه عملکرد قابل قبولی داشته است؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        11
                                                        -
                                                    </span>
                                                    <span>
                                                        میزان رضایت کلی شما از استاد چقدر است؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        12
                                                        -
                                                    </span>
                                                    <span>
                                                        میزان تمایل شما برای انجام پروژه های بعدی با استاد چقدر است؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        13
                                                        -
                                                    </span>
                                                    <span>
                                                        میزان رضایت شما از عملکرد چمران تیم چقدر است؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        14
                                                        -
                                                    </span>
                                                    <span>
                                                        شما به عنوان دانشجو/محقق چه دستاوردی از این طرح داشته اید؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <span class="next-button">
                                    <i class="fas fa-arrow-right"></i>
                                    بعدی
                                </span>
                                <span class="prev-button">
                                    قبلی
                                    <i class="fas fa-arrow-left"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>