@media screen {
    .mbottom-lg-25 {
        margin-bottom: 25px;
    }

    .mbottom-lg-30 {
        margin-bottom: 30px;
    }
}

button:hover, button:focus {
    outline: none;
}

.success-btn {
    border: none;
    outline: none;
    padding: 5px 15px;
    text-align: center;
    min-width: 100px;
    height: auto;
    margin-top: 0 !important;
    border-radius: 0.25em;
    background-color: #89E076;
    color: #ffffff !important;
}

.success-btn:hover {
    background-color: #3ccd1c;
}

.danger-btn {
    border: none;
    outline: none;
    padding: 5px 15px;
    text-align: center;
    min-width: 100px;
    height: auto;
    margin-top: 0 !important;
    border-radius: 0.25em;
    background-color: #ff7070;
    color: #ffffff !important;
}

.danger-btn:hover {
    background-color: #ff4545;
}

.close-btn-danger {
    border: 1px solid #ff7070;
    outline: none;
    padding: 5px 15px;
    text-align: center;
    min-width: 100px;
    height: auto;
    margin-top: 0 !important;
    border-radius: 0.25em;
    background-color: #ffffff;
    color: #ff7070 !important;
}

.close-btn-danger:hover {
    color: #ff4545;
    border-color: #ff4545;
}

.close-btn {
    position: relative !important;
    top: 0 !important;
    left: -50% !important;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
    height: fit-content !important;
    min-width: 100px !important;
    border-radius: 0.25em !important;
    border: 1px solid #89E076 !important;
    color: #89E076;
    z-index: 100 !important;
    font-size: 16px !important;
    padding: 10px 20px !important;
}

.close-btn:before {
    display: none !important;
}

.close-btn:after {
    display: none !important;
}

.close-btn:hover,
.close-btn:focus {
    outline: none;
    color: #3ccd1c !important;
    border-color: #3ccd1c;
    background-color: transparent !important;
}

.vote-progress .progress-line {
    margin: 5px;
    padding: 0;
    width: calc(100% / 9);
    background-color: #3ccd1c;
    height: 13px;
    border-radius: 8px;
    border: 1px solid #3ccd1c;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-85%);
    z-index: 1;
    transition: 0.3s;
}

.next-button, .prev-button, .submit-button {
    border: 1px solid #bdbdbd;
    color: #bdbdbd;
    padding: 5px 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-weight: 300;
    background-color: #fff;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.16);
}

.next-button:hover, .prev-button:hover, .submit-button:hover {
    border: 1px solid #3ccd1c;
    color: #3ccd1c;
    cursor: pointer;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.16);
    outline: none;
}

.next-button:focus, .prev-button:focus, .submit-button:focus {
    outline: none;
}

.next-button, .submit-button {
    margin-left: 10px;
}

.textarea-text {
    position: relative;
    padding: 10px;
    border: 1px solid #BDBDBD85;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    background-color: #fefefe;
    margin: 20px 0 10px 0;
}

.textarea-text .title {
    position: absolute;
    top: -12px;
    right: 25px;
    font-size: 13px;
    z-index: 0;
}

.textarea-text .title:after {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    z-index: -1;
}

.textarea-text .body {
    direction: rtl;
    text-align: justify;
    line-height: 23px;
}

/*i.fa-plus{*/
/*  position: absolute;*/
/*  top: 33px;*/
/*  left: 25px;*/
/*  color: #6f7285;*/
/*  cursor: pointer;*/
/*}*/

.textarea-text .title {
    position: absolute;
    top: -12px;
    right: 25px;
    font-size: 13px;
    z-index: 0;
}

.textarea-text .title:after {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    z-index: -1;
}

.textarea-text .body {
    direction: rtl;
    text-align: justify;
    line-height: 23px;
}

/*i.fa-plus{*/
/*  position: absolute;*/
/*  top: 33px;*/
/*  left: 25px;*/
/*  color: #6f7285;*/
/*  cursor: pointer;*/
/*}*/

.ch-card-item:last-child {
    margin-bottom: 25px;
}

.ch-card-item {
    margin-top: 5px;
    padding: 0 15px 20px 15px;
}

table > thead > tr > td {
    border-top: none !important;
}

table > tbody > tr > td {
    border-bottom: none !important;
}

.table td {
    padding: 5px;
    vertical-align: middle;
    border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.table td:last-child {
    border-left: none;
}

.label-check-radio + label {
    position: absolute;
    top: 10px;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 20px;
}

.label-check-radio + label:hover, .label-check-radio:checked + label {
    border: 1px solid #3CCD1C;
    border-radius: 20px;
    color: #3CCD1C;
}

input[name="foreign_work"] + label:hover, input[name="foreign_work"]:checked + label {
    border-radius: 50%;
}

.dialog-main {
    display: none;
}

.dialog {
    padding-bottom: 30px;
}

.close > i {
    position: absolute;
    top: -4px;
    left: 10px;
    color: #6d6d6d;
}

.close > i:hover {
    cursor: pointer;
    color: #ff4545;
}

input#search_technique {
    position: absolute;
    top: 0;
    left: 10px;
    padding-left: 30px;
    margin: 0;
}

input#search_technique + label {
    position: absolute;
    top: 10px;
    left: 15px;
    width: fit-content;
    right: auto;
}

.fa-search:hover {
    cursor: pointer;
    color: #3CCD1C;
}

.technique-list, #fancy-tree {
    /*margin-top: 56px;*/
    /*margin-bottom: 16px;*/
    /*border: 1px solid #bdbdbd;*/
    border-radius: 0.25rem;
    padding-right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    /*height: 400px;*/
}

.display-toggle {
    display: none;
}

dl, ol, ul {
    outline: none;
}

ul.ui-fancytree > li {
    list-style-type: none;
    padding: 2px;
    color: #6f7285;
}

/*ul.ui-fancytree > li.active{*/
/*  color: #6d1a00;*/
/*}*/
/*ul.ui-fancytree > li:hover{*/
/*  color: #3CCD1C;*/
/*  cursor: pointer;*/
/*}*/
.fa-chevron-left, .fa-chevron-down, .fa-tools, .fa-screwdriver {
    padding-left: 5px;
    padding-right: 5px;
    transition: all ease-in-out 200ms;
}

.rotate--90 {
    transform: rotate(-90deg) !important;
    display: block;
}

.rotate-90 {
    transform: rotate(90deg) !important;
    display: block;
}

/*
* index.html
 */
.search_technique {
    margin-bottom: 50px;
}

.search_technique > input {
    width: calc(100% - 15px);
}

.nav {
    padding-right: 0;
}

.nav > li {
    margin-left: 10px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link.active:hover, .nav-tabs .nav-link.active:focus {
    border-color: #bdbdbd #bdbdbd #f8fdf7;;
    color: #3CCD1C;
    outline: none;
    background-color: #f8fdf7;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
    background-color: transparent;
    outline: none;
}

a.nav-link {
    color: #6f7285;
}

a.nav-link:hover {
    color: #3CCD1C;
}

.nav-tabs {
    border-bottom: 1px solid #bdbdbd;
}

.tab-content {
    /*border: 1px solid #bdbdbd;*/
    /*border-top: none;*/
    /*background-color: #f8fdf7;*/
    /*border-radius: 0 0 0.25em 0.25em;*/
    /*padding: 10px 5px;*/
}

.project-item {
    margin-bottom: 10px;
    text-align: right !important;
    padding: 5px;
    color: #6f7285;
}

.project-item > div.alert {
    color: #ffffff;
    background-color: #FF0000;
    width: fit-content;
    padding: 0.25em 0.75em 0.25em 0;
    border-radius: 0;
    margin: 0 -9px 0 0;
    font-size: 13px;
}

.project-item > div.alert:after {
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 27px solid red;
    position: absolute;
    content: "";
    top: -1px;
    left: -10px;
}

.project-item > div.alert:before {
    content: "";
    position: absolute;
    right: -1px;
    top: 27px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 0 0;
    border-color: rgba(160, 89, 2, .75) transparent transparent rgba(160, 89, 2, .75);
}

.project-item > div.alert:hover {
    cursor: pointer;

}

.project-item > span.header {
    color: #000;
    margin-bottom: 0;
}

.project-item > span.header > span.sub-header {
    font-size: 12px;
}

.project-item > span > i {
    margin-left: 5px;
}

.tab-content > .project-item:last-child {
    margin-bottom: 0;
}

.chamran-btn-info {
    border-radius: 0.25em;
    border: 1px solid #FFD700;
    color: #FFD700;
    background-color: #fff;
    padding: 5px 10px;
    outline: none;
    box-shadow: 0 0 5px 1px #e3e3e3;
    position: absolute;
    left: 10px;
    bottom: 50px;
}

.chamran-btn-info:hover {
    background-color: #FFD700;
    color: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.chamran-btn-info:focus {
    outline-color: #FFD700;
}

.chamran-btn-delete {
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    background-color: #fff;
    color: #ff4545;
    border: 1px solid #ff4545;
    box-shadow: 0 0 5px 1px #e3e3e3;
    position: absolute;
    left: 10px;
    bottom: 7px;
    padding: 5px 27px;
}

.chamran-btn-delete:hover {
    background-color: #ff4545;
    color: #fff;
    box-shadow: none;
}

h6.project-title {
    margin-bottom: 15px;
}

span.border-span {
    display: inline-block;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    border: 1px solid #bdbdbd;
    padding: 2px 5px;
    background-color: #F8FDF7;
    color: #707070;
    font-weight: 300;
    font-size: 12px;
    margin: 3px 5px;
}

/* show project style */
.question-mark {
    height: 100%;
    padding-left: 5px;
}

.question {
    padding-right: 2px;
}

.answer {
    font-weight: 300;
    padding-right: 20px;
}

.accept-btn, .refuse-btn {
    padding: 10px 5px;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    color: #fff;
    /*box-shadow: 5px 5px 5px 20px #000;*/
}

.accept-btn:hover, .refuse-btn:hover {
    box-shadow: none;
}

.accept-btn {
    background-color: #3CCD1C;
}

.refuse-btn {
    background-color: #ff4545;
}

/*
    * vote
    */
.vote-question {
    border: 1px solid #bdbdbd;
    border-radius: 50%;
    position: absolute;
    bottom: -5px;
    right: -10px;
    height: 30px;
    width: 30px;
    color: #bdbdbd;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.16);
    z-index: 999;
}

.vote-question:hover {
    color: #3ccd1c;
    border-color: #3ccd1c;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.vote-question > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    font-size: 22px;
    font-weight: 300;
}

input.vote-select + label {
    position: relative;
    top: 50%;
    transform: translateY(50%);
}

input.vote-select.l + {
    position: relative;
    top: 0;
    left: 0;
    /*-webkit-transform: translate(-50%, -50%);*/
    /*-moz-transform: translate(-50%, -50%);*/
    /*-ms-transform: translate(-50%, -50%);*/
    /*-o-transform: translate(-50%, -50%);*/
    /*transform: translate(-50%, -50%);*/
    width: 15px;
    height: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

input.vote-select[value='0'] + label {
    height: 30px;
    width: 30px;
    border: 1px solid #ff0505;
    background-color: #ffffff;
}

input.vote-select[value='0'] + label:hover, input.vote-select[value='0']:checked + label {
    background-color: #ff0505;
    cursor: pointer;
}

input.vote-select[value='1'] + label {
    height: 20px;
    width: 20px;
    border: 1px solid #ff8f00;
    background-color: #ffffff;
}

input.vote-select[value='1'] + label:hover, input.vote-select[value='1']:checked + label {
    background-color: #ff8f00;
    cursor: pointer;
}

input.vote-select[value='2'] + label {
    height: 20px;
    width: 20px;
    border: 1px solid #fff600;
    background-color: #ffffff;
}

input.vote-select[value='2'] + label:hover, input.vote-select[value='2']:checked + label {
    background-color: #fff600;
    cursor: pointer;
}

input.vote-select[value='3'] + label {
    height: 20px;
    width: 20px;
    border: 1px solid #78be20;
    background-color: #ffffff;
}

input.vote-select[value='3'] + label:hover, input.vote-select[value='3']:checked + label {
    background-color: #78be20;
    cursor: pointer;
}

input.vote-select[value='4'] + label {
    height: 30px;
    width: 30px;
    border: 1px solid #009639;
    background-color: #ffffff;
}

input.vote-select[value='4'] + label:hover, input.vote-select[value='4']:checked + label {
    background-color: #009639;
    cursor: pointer;
}

input.vote-select[value='5'] + label {
    height: 40px;
    width: 40px;
    border: 1px solid #006747;
    background-color: #ffffff;
}

input.vote-select[value='5'] + label:hover, input.vote-select[value='5']:checked + label {
    background-color: #006747;
    cursor: pointer;
}

.vote-content {
    display: flex;
    padding-right: 20px;
    font-weight: 300;
}

.vote-content > div > .number {
    position: absolute;
    top: 5px;
    right: 5px;
}

.vote-select-label {
    margin: 5px;
    top: 0;
    right: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Vote
 */
.vote {
    position: absolute;
    top: 40px;
    left: 5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #bdbdbd;
    color: #bdbdbd;
    z-index: 100;
}

.vote:hover {
    color: #3ccd1c;
    border-color: #3ccd1c;
    cursor: pointer;
}

.vote > span.dots {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 0;
    width: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 2px solid #bdbdbd;
    background-color: #bdbdbd;
    transition: 0.3s;
}

.vote > span.dots:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    border: 2px solid #bdbdbd;
    background-color: #bdbdbd;
    transition: 0.3s;
}

.vote > span.dots:before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 0;
    height: 0;
    transform: translate(-40%, -200%);
    border-radius: 50%;
    border: 2px solid #bdbdbd;
    background-color: #bdbdbd;
    transition: 0.3s;
}

.vote > span.dots.expand {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 0;
    width: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 2px solid transparent;
    background-color: transparent;
}

.vote > span.dots.expand:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 8px;
    height: 3px;
    transform: translate(-70%, -50%) rotate(45deg);
    border-radius: 2px;
    border: none;
    background-color: #3ccd1c;
}

.vote > span.dots.expand:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 8px;
    height: 3px;
    transform: translate(-10%, -40%) rotate(135deg);
    border-radius: 2px;
    border: none;
    background-color: #3ccd1c;
}

.vote-dialog {
    position: absolute;
    top: 80px;
    left: 20px;
    height: 75px;
    width: 200px;
    border-radius: 0 5px 5px 5px;
    border: 1px solid #bdbdbd;
    color: #bdbdbd;
    z-index: 100;
    padding-top: 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
    display: none;
}

.vote-dialog:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -1px;
    height: 10px;
    width: 10px;
    border-left: 1px solid #bdbdbd;

    background-color: #fff;
}

.vote-dialog:after {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    height: 10px;
    width: 10px;
    border-bottom: 1px solid #bdbdbd;
    border-bottom-left-radius: 10px;
    background-color: #fff;
}

.vote-dialog > div.card {
    padding: 10px;
    margin: 5px;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.vote-dialog > div.card:hover {
    border-color: #3ccd1c;
    color: #3ccd1c;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
}

.vote-dialog > div.card.expert-back:after {
    background-image: url("../img/mind.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position-x: right;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.3;
}

.vote-dialog > div.card.expert-back.hover:after {
    background-image: url("../img/mind_hover.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position-x: right;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.3;
}

.swiper-wrapper {
    direction: ltr;
}

.swiper-slide {
    direction: rtl;
}

.prev-button.disabled {
    box-shadow: none;
}

.prev-button.disabled:hover {
    border-color: #bdbdbd;
    color: #bdbdbd;
    cursor: default;
}

.next-button.disabled {
    box-shadow: none;
}

.next-button.disabled:hover {
    border-color: #bdbdbd;
    color: #bdbdbd;
    cursor: default;
}

.vote-check + label {
    position: relative;
    padding: 5px;
    top: 0;
    right: 0;
    min-width: 45px;
    text-align: center;
    border: 1px solid #6f7285;
    border-radius: 5px 0 5px 0;
    transition: all ease-in-out 0.3s;
}

.vote-check + label:hover, .vote-check:checked + label {
    border: 1px solid #3CCD1C;
    border-radius: 20px;
    color: #3CCD1C;
    cursor: pointer;
}

/*
 * Messages
*/
.search-message {
    position: absolute;
    top: -15px;
    left: 25px;
    width: 100%;
}

.search-message button {
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    left: 0;
}

.search-message input.search_message {
    -webkit-transition: ease 0.5s;
    -moz-transition: ease 0.5s;
    /*-ms-transition: ease 0.5s;*/
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
}

/*
* Message Dialog
 */

.modal .confirmation {
    padding-top: 10px;
}

.modal .confirmation .title {
    position: relative;
    padding: 0;
    top: 0;
    right: 0;
}

.modal .confirmation label {
    position: relative;
    border: 1px solid #bdbdbd;
    width: 100% !important;
    top: 0;
    right: 0 !important;
    padding: 0;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.5em;
    min-height: 75px;
    background-color: #FDFDFD;
}

.modal .confirmation label:hover {
    cursor: pointer;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16);
}

.modal .upload-resume + label {
    position: relative;
    border: 1px dashed #bdbdbd;
    top: 0;
    margin: 0;
    right: 0 !important;
    padding: 10px;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    min-height: 0;
    color: #bdbdbd;
    background-color: #fdfdfd;
    transition: none;
    display: none;
}

.modal .upload-resume + label img {
    width: 50px;
    right: 50%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    transform: translateX(50%);
    position: relative;
    height: 50px;
    display: block;
}

.modal .upload-resume + label img.file-img {
    display: none;
}

.modal .upload-resume + label:hover {
    cursor: pointer;
    border-color: #3ccd1c;
    color: #3ccd1c;
    background-color: #F8FDF7;
}

.upload-answer + label {
    position: relative;
    border: 1px dashed #bdbdbd;
    top: 0;
    margin: 0;
    right: 0 !important;
    padding: 10px;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    min-height: 0;
    color: #bdbdbd;
    background-color: #fdfdfd;
    transition: none;
}

.upload-answer + label svg {
    width: 50px;
    right: 50%;
    transform: translateX(50%);
    position: relative;
    height: 50px;
    display: block;
}

.upload-answer + label svg:nth-child(2) {
    display: none;
}

.upload-answer + label:hover {
    cursor: pointer;
    border-color: #3ccd1c;
    color: #3ccd1c;
    background-color: #F8FDF7;
}

.modal .confirmation .form-group {
    margin: 0;
}

.modal .confirmation input:checked + label {
    border-color: #3ccd1c;
    box-shadow: 0 4px 10px 0 rgba(60, 205, 28, 0.16);
    color: #3ccd1c !important;
}

.modal .confirmation label .title {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: 400;
    text-align: center;
    color: inherit;
}

.modal .confirmation label:before {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #bdbdbd;
}

.modal .confirmation label:hover:before {

}

.modal .confirmation input:checked + label:before {
    border-color: #3ccd1c;
}

.modal .confirmation input:checked + label:after {
    content: '';
    position: absolute;
    top: 9px;
    right: 9px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #3ccd1c;
    border: 1px solid #3ccd1c;
}

.modal .confirmation .radio-group {
    /*margin-bottom: 25px;*/
}

.question-attach {
    margin-bottom: 10px;
}

.question-attach .attach-btn {
    border: 1px dashed #707070;
    background-color: #FDFDFD;
    outline: none;
    text-align: center;
    border-radius: 0.25em;
    padding: 0;
}

.question-attach .attach-btn label {
    margin: 0;
    position: relative;
    top: 0;
    right: 0;
    color: #707070;
    transition: 300ms all ease;
    font-weight: 300;
    padding: 5px 15px;
}

.question-attach .attach-btn label:hover,
.question-attach .attach-btn label:focus {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.question-attach .inline-list {
    list-style: none;
    transition: 0.3s;
}

.question-attach .inline-list .list-item {
    display: inline-block;
}

.question-attach .inline-list .attach-file {
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    color: #707070;
    padding: 7px 25px 7px 10px;
    border-radius: 0.25em;
    position: relative;
}

.question-attach .inline-list .attach-file:hover,
.question-attach .inline-list .attach-file:focus {
    background-color: #CDCDCD;
    text-decoration: none;
}

.question-attach .attach-file .pdf-file {
    background-image: url("../img/pdf.png");
    background-size: cover;
    position: absolute;
    top: 50%;
    right: 8px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
}

.question-attach .attach-file .png-file {
    background-image: url("../img/png.png");
    background-size: cover;
    position: absolute;
    top: 50%;
    right: 8px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
}

.question-attach .attach-file .jpg-file {
    background-image: url("../img/jpg.png");
    background-size: cover;
    position: absolute;
    top: 50%;
    right: 8px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
}

.question-attach .attach-file .doc-file {
    background-image: url("../img/doc.png");
    background-size: cover;
    position: absolute;
    top: 50%;
    right: 8px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
}


.fixed-back .technique-info {
    text-align: left;
    float: left;
}

.fixed-back .technique-info .status,
.fixed-back .technique-info .date {
    border: none;
    background-color: #F8FDF7;
    padding: 5px 15px;
    border-radius: 0.25em;
}

.fixed-back .technique-info .status {
    margin-left: 5px;
    padding-left: 25px;
}

.fixed-back .technique-info .status.active:after {
    content: '';
    height: 15px;
    width: 15px;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: #3ccd1c;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.fixed-back .technique-info .date {

}

.fixed-back #question-body {
    margin-bottom: 10px;
    text-align: justify;
}

.fixed-back #question-body::-webkit-scrollbar {
    width: 3px;
}

.fixed-back #question-body::-webkit-scrollbar-thumb {

}

.fixed-back #question-body::-webkit-scrollbar-track {
    background-color: #FDFDFD;
}

.fixed-back .divider-head {
    position: relative;
}

.fixed-back .divider-head hr {
    border-color: #3ccd1c;
}

.fixed-back .divider-head span {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #ffffff;
    padding: 0 5px;
    font-weight: 400;
    color: #3ccd1c;
}

.fixed-back .answer {
    position: relative;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    padding: 5px 20px 5px 5px;
}

.fixed-back .answer:hover {
    cursor: default;
}

.fixed-back .answer .title {
    font-weight: 400;
    position: relative;
    top: 0;
    right: -15px;
    padding: 0;
    color: #262626;
}

.fixed-back .answer .date {
    font-size: 12px;
    color: #707070;
}

.fixed-back .answer div {
    text-align: justify;
}

.fixed-back .show-more-answer {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.fixed-back .answer .check {
    position: absolute;
    height: 18px;
    top: 2px;
    left: 5px;
}

.fixed-back .answer .check .wrong,
.fixed-back .answer .check .correct,
.fixed-back .answer .check .status {
    display: inline-block;
}

.fixed-back .answer .check .wrong button,
.fixed-back .answer .check .correct button {
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 50%;
    position: relative;
    width: 25px;
    height: 25px;
    display: none;
}

.fixed-back .answer .check .wrong button {
    color: #ff4545;
}

.fixed-back .answer .check .wrong button:hover {
    background-color: #ff4545;
    color: #ffffff;
}

.fixed-back .answer .check .correct button {
    color: #3ccd1c;
}

.fixed-back .answer .check .correct button:hover {
    background-color: #3ccd1c;
    color: #ffffff;
}

.fixed-back .answer .check .correct i,
.fixed-back .answer .check .wrong i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.fixed-back .answer .check .status {
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    padding: 3px 5px 3px 5px;
    font-size: 12px;
    display: none;
}

.fixed-back .answer .check .status.correct-answer {
    background-color: #f8fdf7;
    color: #3ccd1c;
}

.fixed-back .answer .check .status.wrong-answer {
    background-color: #fdf8f8;
    color: #ff4545;
}

.fixed-back .close-answer {
    float: left;
}

.modal .select-technique {
    position: absolute;
    top: 25px;
    left: 10px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    z-index: 1;
}

.modal .select-technique i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    /*-ms-transition: all 0.3s ease-in-out;*/
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.modal .select-technique:focus,
.modal .select-technique:active {
    background-color: #CACBCD !important;
    outline: none;
}

.modal .select -technique:hover {
    background-color: #E0E1E2;
    outline: none;
}

.modal input#technique-name.expand {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.modal .all-techniques {
    display: none;
    position: relative;
    background-color: #F8FDF7;
    border: 1px solid #bdbdbd;
    border-top: none;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    padding: 10px 0;
    direction: ltr !important;
}

.modal .all-techniques:before {
    content: '';
    border-top: 1px solid #bdbdbd;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 90%;
}

ul.nav-tabs {
    position: relative;
}

.add-new-technique {
    /* padding: 8px 16px; */
    position: absolute;
    top: 0;
    left: 0;
    /* -webkit-border-radius: 5px; */
    /* -moz-border-radius: 5px; */
    /* border-radius: 5px; */
    /* margin-left: 0 !important; */
    /* font-weight: 400; */
}

.add-new-technique:hover {
    background-color: #3ccd1c;
    /*background-color: rgba(0, 0, 0, 0.05);*/
    cursor: pointer;
}

.flow-root-display {
    display: flow-root;
}

.active-question, .check-question, .close-question {
    padding: 15px 20px;
    text-align: right;
    margin-bottom: 10px;
    height: fit-content;
}

.active-question:last-child, .check-question:last-child, .close-question:last-child {
    margin-bottom: 0;
}

.technique-title {
    font-weight: 500;
    display: inline;
    float: right;
    padding: 5px;
}

.technique-info {
    display: inline;
    float: right;
}

.technique-info > div {
    display: inline;
    float: right;
    text-align: center;
    position: relative;
    padding: 5px;
    background-color: transparent;
}

.technique-info > div:last-child {
    padding: 0;
}

.technique-info > .answers > i {
    position: relative;
    color: rgba(0, 0, 0, 0.4);
}

.technique-info > .answers .num {
    position: absolute;
    top: -10px;
    right: -5px;
    font-size: 13px;
    font-family: iranyekan, serif;
}

.default-btn {
    background: #e0e1e2;
    color: #000;
    font-weight: 400;
    border: none;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    padding: 5px 10px;
    outline: none;
    color: rgba(0, 0, 0, 0.6);
}

.default-btn:hover, .default-btn:focus {
    background: #cacbcd;
    color: #000;
    outline: none;
}

.default-light-btn {
    background: rgba(0, 0, 0, 0.05);
    color: #000;
    font-weight: 400;
    border: none;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    padding: 5px 10px;
    outline: none;
    color: rgba(0, 0, 0, 0.6);
}

.default-light-btn:hover, .default-light-btn:focus {
    background: #e0e1e2;
    color: #000;
    outline: none;
}

.techniques-list {
    display: flow-root;
    padding: 10px 5px;
}

.techniques-list.cover-page {
    min-height: 67vh;
}

.tab-content .empty-question svg {
    width: 200px;
    height: 250px;
}

.tab-content .empty-question .head-1 {
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 15px;
    color: #89E076;
}

.techniques-list .technique {
    position: relative;
}

.green-btn {
    background-color: #89E076;
    color: #ffffff;
}

.green-btn:hover {
    background-color: #3ccd1c;
    color: #ffffff;
}

.question p {
    text-align: justify;
    line-height: 23px;
    font-weight: 300 !important;
    margin: 0;
    background-color: transparent;
}

@media (max-width: 767px) {
    .question p.fixed-back-img-sm {
        /*background-image: url("../img/question.svg");*/
        /*background-repeat: no-repeat;*/
        /*background-size: cover;*/
        /*background-attachment: scroll;*/
    }

}

.question video {
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    margin: 10px 0;
    width: 100%;
}

.question-image {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 50%;
    float: left;
    padding: 25px;
}

@media (max-width: 767px) {
    .question-image {
        display: none;
        visibility: hidden;
    }

}

button.start-question {
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    margin: 10px 0;
    padding: 10px 20px;
    border: 1px solid #3ccd1c;
    background-color: #ffffff;
    color: #89E076;
}

.question button.start-question:hover,
.question button.start-question:focus {
    outline: none;
    border: 1px solid #3ccd1c;
    background-color: #3ccd1c;
    color: #ffffff;
}

.question .question-alert {
    margin-top: 10px;
}

.question .question-alert img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 20px;
    display: inline;
}

.question .question-alert span {
    font-size: 12px;
}

.wrap {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.wrap .count {
    position: relative;
    display: block;
    font-size: 45px;
    padding: 25px 0;
    z-index: 1;
}

.wrap > div {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.wrap .progress-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    color: #3ccd1c;
    max-width: 100%;
}

.thanks_response svg,
.confirmation svg {
    width: 100px;
    height: 100px;
    margin-bottom: 50px;
}

.question-progress {
    width: 100%;
}

.question-progress .progress-bar {
    background-color: #3CCD1C;
}

.file-type.image.pdf {
    background-image: url("../../../static/img/pdf.svg");
}

.file-type.image.doc {
    background-image: url("../../../static/img/doc.svg");
}

.file-type.image.gif {
    background-image: url("../../../static/img/gif.svg");
}

.file-type.image.jpg {
    background-image: url("../../../static/img/jpg.svg");
}

.file-type.image.png {
    background-image: url("../../../static/img/png.svg");
}

.file-type.image.ppt {
    background-image: url("../../../static/img/ppt.svg");
}

.file-type.image.txt {
    background-image: url("../../../static/img/txt.svg");
}

.file-type.image.unknown {
    background-image: url("../../../static/img/unknown.svg");
}

.file-type.image.wmv {
    background-image: url("../../../static/img/wmv.svg");
}

.file-type.image.zip {
    background-image: url("../../../static/img/zip.svg");
}

.dots-timer {
    color: #707070;
}

.dots-timer .timer-item {
    min-width: 300px;
    min-height: 300px;
}

.dots-timer .timer-item .circle {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px;
}

.dots-timer .timer-item .circle .circle-value {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    font-weight: 900;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.dots-timer .timer-item .circle .circle-dot {
    position: absolute;
    width: 6px;
    height: 6px;
    border: 1px solid #707070;
    background-color: #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.dots-timer .timer-item .circle .circle-dot.active {
    border: 1px solid #3CCD1C;
    background-color: #3CCD1C;
}

.dots-timer .timer-item .circle .circle-dot.blink {
    border: 1px solid #3CCD1C;
    background-color: #3CCD1C;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

@-webkit-keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}