{% load static%}
<div class="dialog-main message-show notice-message-show">
    <div class="card text-right dialog">
        <div class="close"></div>
        <div class="message-show-head">
            <div class="icon">
                <div class="title" dir="rtl">
                    <!-- <a  href="##"><span class="fas fa-paperclip fa-lg"></span></a> -->
                </div>
                <img src="{% static 'industry/img/tick.svg' %}" alt="message-type-icon">
            </div>
        </div>
        <div class="message-show-body">
            <div class="body">
            </div>
            <hr>
            <div class="message-info">
                <div class="date">
                    <i class="fas fa-calendar-alt"></i>
                    <span></span>
                </div>
            </div>
            <div class="message-connect">
                    <span>نیاز به راهنمایی دارید ؟</span>
                    <span class="telegram"><a href="https://t.me/chamran_team"><i class="fab fa-telegram-plane fa-lg"></i></a></span>
                    <span class="phone"><a  href="tel:+989301510096"><i class="fas fa-phone fa-lg"></i></a></span>
                    <span class="Email"><a  href="mailto:info@chamranteam.ir"><i class="fas fa-envelope fa-lg"></i></a></span>
            </div>
        </div>
    </div>
</div>