{% load static %}
{% load widget_tweaks %}
<div class="modal fade show" id="selectUsage" tabindex="-1" role="dialog" aria-labelledby="selectUsageLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title default" id="selectUsageLabel">نوع کاربری</h6>
            </div>
            <div class="modal-body">
                <div class="radio-group">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="usage" id="firstUsage"
                               value="industry">
                        <label class="form-check-label" for="firstUsage">
                            واحد تحقیق و توسعه
                        </label>
                    </div>
                    <br>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="usage" id="secondUsage"
                               value="research_group">
                        <label class="form-check-label" for="secondUsage">
                            مجموعه پژوهشی
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">ثبت</button>
            </div>
        </div>
    </div>
</div>
