{% load static%}
<div class="dialog-main voting">
    <div class="card text-right center-dialog">
        <div class="close"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="vote-progress">
                        <div class="progress-line"></div>
                        <ul class="vote-list">
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="custom-border-title">
                        <div class="row mbottom-10">
                            <div class="col-lg-12">
                                <div class="vote-question"><span>?</span></div>
                                <div class="vote-question-text">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                                </div>
                                <div class="card p-2 btl-4">
                                    <div class="swiper-container w-100">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        1
                                                        -
                                                    </span>
                                                    <span>
                                                        آیا استاد گزارش پیشرفت را به موقع(مطالق زمان معین شده در قرار داد) ارائه داده است؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        2
                                                        -
                                                    </span>
                                                    <span>
                                                        میزان همکاری استاد با صنعت در جهت توضیح / ارائه نتایج را چگونه ارزیابی می کنید؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        3
                                                        -
                                                    </span>
                                                    <span>
                                                        آیا تخمین استاد از هزینه ها وبرآورد مواد و امکانات مورد نیاز طرح به خواسته صنعت، نزدیک بود؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        4
                                                        -
                                                    </span>
                                                    <span>
                                                        زمانبندی اجرای پروژه از سوی استاد ، چقدر با خواسته های صنعت منطبق بود؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        5
                                                        -
                                                    </span>
                                                    <span>
                                                        آیا مفاد قرار داد توسط استاد بطور دقیق اجرا شد؟(تخطی از قرار داد شامل مواردی چون دریافت مبالغ اضافه، دیر کرد در ارائه پروژه و ... می باشد)
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        6
                                                        -
                                                    </span>
                                                    <span>
                                                        میزان تعهد کاری و حساسیت استاد در انجام کار را، چگونه ارزیابی می کنید؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        7
                                                        -
                                                    </span>
                                                    <span>
                                                        آیا اهداف پروژه از سوی استاد محقق شده است؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        8
                                                        -
                                                    </span>
                                                    <span>
                                                        کیفیت عملکرد استاد و سطح علمی ایشان را چگونه ارزیابی می کنید؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        9
                                                        -
                                                    </span>
                                                    <span>
                                                        میزان رضایت کلی شما از استاد تا این مرحله چه اندازه بوده است؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        10
                                                        -
                                                    </span>
                                                    <span>
                                                        آیا تمایل به همکاری با استاد در طرح های آتی را دارید؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" id="yes" name="vote" value="1-10" class="vote-check"><label for="yes">آری</label>
                                                        <input type="radio" id="no" name="vote" value="1-10" class="vote-check"><label for="no">خیر</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        11
                                                        -
                                                    </span>
                                                    <span>
                                                        آیا از چمزان تیم برای پروژ های آتی استفاده می کنید؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" id="yes" name="vote" value="1-10" class="vote-check"><label for="yes">آری</label>
                                                        <input type="radio" id="no" name="vote" value="1-10" class="vote-check"><label for="no">خیر</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        12
                                                        -
                                                    </span>
                                                    <span>
                                                        آیا استاد طرح ایده و موصوعات جدید در به صنعت داشته است؟ (لازم به ذکر است هدف چمران تیم، شناسایی و معرفی استادان خلاق و ایده پرداز به صنعت برای بهبود کیفیت و سطح طرح ها است)
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" id="yes" name="vote" value="1-10" class="vote-check"><label for="yes">آری</label>
                                                        <input type="radio" id="no" name="vote" value="1-10" class="vote-check"><label for="no">خیر</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <span class="next-button">
                                    <i class="fas fa-arrow-right"></i>
                                    بعدی
                                </span>
                                <span class="prev-button">
                                    قبلی
                                    <i class="fas fa-arrow-left"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>