{% load static %}
<div class="side-bar">
    <div class="topMargin"></div>
    <div class="expert-icon"></div>
    {% if request.user.expertuser.expertform.photo %}
        <img src="{{ request.user.expertuser.expertform.photo.url }}" alt="Ehsan" class="profile" width="150px"
             height="150px">
    {% else %}
        <img src="{% static 'expert/img/profile.jpg' %}" alt="Ehsan" class="profile" width="150px"
             height="150px">
    {% endif %}
    <h5>{% block name %}{% endblock %}</h5>
    <div class="hr"></div>
    <ul class="list-group">
        {% url 'expert:index' as index_url %}
        <a href="{{ index_url }}">
            <li class="list-group-item text-right {% if request.get_full_path ==  index_url %}active{% endif %}">
                <div>
                    <span>پروژه ها</span>
                    <span class="fas fa-list-ul"></span>
                </div>
            </li>
        </a>
        {% url 'expert:messages' as messages_url %}
        <a href="{{ messages_url }}">
            <li class="list-group-item text-right {% if request.get_full_path == messages_url %}active{% endif %}">
                <div>
                    {% if UnseenMessages %}
                        <span class="new-message">{{ UnseenMessages }}</span>
                    {% endif %}
                    <span>پیام ها</span>
                    <span class="fas fa-envelope"></span>
                </div>

            </li>
        </a>
        {% url 'expert:questions' as questions_url %}
        <a href="{{ questions_url }}">
            <li class="list-group-item text-right {% if request.get_full_path == questions_url %}active{% endif %}">
                <div>
                    <span>سوالات پژوهشی</span>
                    <span class="fas fa-question"></span>
                </div>
            </li>
        </a>
        {% url 'expert:researcherRequest' as researcherRequest_url %}
        <a href="{{ researcherRequest_url }}" {% if 0 %}data-toggle="modal" data-target="#exampleModal"{% endif %}>
            <li class="list-group-item text-right {% if request.get_full_path == researcherRequest_url %}active{% endif %}">
                <div>
                    <span>درخواست‌های پژوهشگران</span>
                    <span class="fas fa-user-graduate"></span>
                </div>
            </li>
        </a>
        {% url 'expert:userInfo' as userInfo_url %}
        <a href="{{ userInfo_url }}">
            <li class="list-group-item text-right {% if request.get_full_path == userInfo_url %}active{% endif %}">
                <div>
                    <span>اطلاعات کاربری</span>
                    <span class="fas fa-cog"></span>
                </div>
            </li>
        </a>
    </ul>
    <div class="hr display-sm"></div>
    <ul class="list-group display-sm">
        <a href="{% url 'chamran:send_reset_email' %}">
            <li class="list-group-item text-right">
                <div>
                    <span>تغییر رمز عبور</span>
                    <i class="fas fa-lock"></i>
                </div>
            </li>
        </a>
        <a href="{% url 'chamran:logout' %}">
            <li class="list-group-item text-right">
                <div>
                    <span>خروج</span>
                    <i class="fas fa-sign-out-alt"></i>
                </div>
            </li>
        </a>
    </ul>
</div>