{% extends "expert/layouts/base_layout.html" %}
{% load static %}
{% load date_tags %}
{% load message_tags %}
{% block title %}پروژه ها{% endblock %}

{% block name %} {{ request.user.expertuser.expertform }}{% endblock %}

{% block dialog %}
    {% include 'expert/layouts/vote_dialog_industry.html' %}
    {% include 'expert/layouts/vote_dialog_researcher.html' %}
    {% include 'expert/layouts/select_techniques.html' %}
{% endblock %}
{% block modals %}
    {% if request.user.expertuser.status == 'signed_up' %}
        {% include 'expert/layouts/initial_information.html' %}
    {% endif %}
    {# {% with projects|first as project %} #}
    {% if project.status != 2 %}
        {#{% include 'expert/layouts/project_details.html' %}#}
        {#{% else %}#}
        {% include 'expert/layouts/showProject.html' %}
    {% endif %}
    {# {% endwith %} #}
{% endblock %}

{% block style %}
    <style type="text/css">
        .project-progress .line-100:after {
            height: calc( {% project_progress project %}% + 6% );
        }

        .project-progress .step-container:nth-child(2) {
            top: calc( 5% + {% date_to_percent project=project date=project.date_phase_one_finished %}% );
        }

        .project-progress .step-container:nth-child(3) {
            top: calc( 5% + {% date_to_percent project=project date=project.date_phase_two_deadline %}% );
        }

        .project-progress .step-container:nth-child(4) {
            top: calc( 5% + {% date_to_percent project=project date=project.date_phase_three_deadline %}% );
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 text-right">
            <h3 class="h3 p-top-15">پروژه ها</h3>
        </div>
    </div>
    <div class="row">
    {% if request.user.expertuser.status != 'signed_up' %}
        <div class="col-lg-12 text-right">
            <div class="project-info-tabs">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                     aria-orientation="vertical">
                    {% if project.status == 2 %}
                        <a class="nav-link active fs-15" id="new-projects" data-toggle="pill"
                           role="tab" aria-selected="true">
                            پروژه در حال انجام
                        </a>
                    {% else %}
                        <a class="nav-link active fs-15" id="new-projects" data-toggle="pill"
                           role="tab" aria-selected="true">
                            جدیدترین پروژه ها
                        </a>
                    {% endif %}
                    {% comment %} <a class="nav-link fs-15" id="your-project" data-toggle="pill"
                       role="tab" aria-selected="false">
                        پروژه های مرتبط
                    </a> {% endcomment %}
                    <a class="nav-link fs-15" id="done-project" data-toggle="pill"
                       role="tab" aria-selected="false">
                        پروژه های انجام شده
                    </a>
                </div>
            </div>
            <div class="tab-content cover-page">
                {% if project.status == 2 %}
                    <div class="card box flow-root-display w-100">
                        <div class="box-body">
                            <div class="row" style="direction: ltr!important">
                                <div class="col-lg-4 col-xs-3">
                                    <div class="project-progress mbottom-lg-25">
                                        <div class="step-container active">
                                            <span class="step-date">
                                                <div class="start">
                                                    {% gregorian_to_numeric_jalali project.date_project_started %}
                                                </div>
                                            </span>
                                            <span class="step-name">
                                                شروع پروژه
                                            </span>
                                        </div>
                                        <div class="step-container {% is_active project=project date=project.date_phase_one_finished %}">
                                        <span class="step-date">
                                            <div class="first_phase">{% gregorian_to_numeric_jalali project.date_phase_one_finished %}</div>
                                        </span>
                                            <span class="step-name">فاز اول</span>
                                        </div>
                                        <div class="step-container {% is_active project=project date=project.date_phase_two_deadline %}">
                                        <span class="step-date">
                                            <div class="second_phase">{% gregorian_to_numeric_jalali project.date_phase_two_deadline %}</div>
                                        </span>
                                            <span class="step-name">فاز دوم</span>
                                        </div>
                                        <div class="step-container ">
                                        <span class="step-date">
                                            <div class="third_phase">{% gregorian_to_numeric_jalali project.date_phase_three_deadline %}</div>
                                        </span>
                                            <span class="step-name">فاز سوم</span>
                                        </div>
                                        <div class="step-container">
                                        <span class="step-date">
                                            <div class="date_finished">{% gregorian_to_numeric_jalali project.date_finished %}</div>
                                        </span>
                                            <span class="step-name">اتمام پروژه</span>
                                        </div>
                                        <div class="line-100">
                                            <div class="arrow"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-xs-9">
                                    <div class="row mbottom-lg-25">
                                        <div class="col-lg-12 text-right">
                                            <h6>پروژه {{ project.project_form.project_title_persian }}</h6>
                                        </div>
                                    </div>
                                    <div class="row mbottom-lg-25">
                                        <div class="col-lg-12 text-right">
                                            <span class="section-title">مشخصات پروژه</span>
                                            <div class="section">
                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <div class="row m-top-10">
                                                            <div class="col-md-6">
                                                                <div class="pre-header">
                                                                    <span>کارفرما</span>
                                                                </div>
                                                                <div id="industry-name">
                                                                    {{ project.industry_creator }}
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="pre-header">
                                                                    <span>مجری</span>
                                                                </div>
                                                                <div id="enforcer-name">
                                                                    {{ project.expert_accepted }}
                                                                </div>
                                                            </div>
                                                            <div class="col-12 budget-text">
                                                                <div class="pre-header">
                                                                    <span>بودجه</span>
                                                                </div>
                                                                <div id="budget-content">
                                                                    <span class="budget-amount">5,000,000</span>
                                                                    <span>ریال</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="pre-header">
                                                                    <span>توضیحات اجرایی</span>
                                                                </div>
                                                                <pre id="executive-info"></pre>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="industry-logo-preview">
                                                            <img id="industry_logo"
                                                                 src="{{ project.industry_creator.profile.photo.url}}"
                                                                 alt="industry-logo">
                                                        </div>
                                                        <div class="budget-section">
                                                            <div class="budget">
                                                                <div class="budget-header">بودجه</div>
                                                                <div class="budget-content">
                                                                    <div class="budget-amount">{{ project.project_form.required_budget }}</div>
                                                                    <div>ریال</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mbottom-lg-25">
                                                    <div class="col-lg-12 text-right">
                                                        <span class="section-title">اطلاعات پروژه</span>
                                                        <div class="project-info-tabs">
                                                            <div class="nav flex-column nav-pills" id="v-pills-tab"
                                                                 role="tablist"
                                                                 aria-orientation="vertical">
                                                                <a class="nav-link active" id="v-pills-majors-tab"
                                                                   data-toggle="pill"
                                                                   role="tab" aria-controls="v-pills-majors"
                                                                   aria-selected="true">
                                                                    شاخص ها
                                                                </a>
                                                                <a class="nav-link" id="v-pills-approaches-tab"
                                                                   data-toggle="pill"
                                                                   role="tab" aria-controls="v-pills-approaches"
                                                                   aria-selected="false">
                                                                    راهکار ها
                                                                </a>
                                                                <a class="nav-link" id="v-pills-resources-tab"
                                                                   data-toggle="pill"
                                                                   role="tab" aria-controls="v-pills-resources"
                                                                   aria-selected="false">
                                                                    منابع مورد نیاز
                                                                </a>
                                                                <a class="nav-link" id="v-pills-roles-tab"
                                                                   data-toggle="pill"
                                                                   role="tab" aria-controls="v-pills-roles"
                                                                   aria-selected="false">
                                                                    قوانین
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="section">
                                                            <div class="project-info-innerDiv">
                                                                <div class="project-info-content">
                                                                    <div>
                                                                        <div class="question">
                                                            <span class="question-mark">
                                                                <i class="far fa-question-circle"></i>
                                                            </span>
                                                                            لطفا مشکل اصلی که پروژه به حل آن پرداخته را
                                                                            توضیح و اهمیت آن را
                                                                            تبیین کنید.
                                                                        </div>
                                                                        <div class="answer">{{ project.project_form.main_problem_and_importance }}</div>
                                                                    </div>
                                                                    <div>
                                                                        <div class="question">
                                                            <span class="question-mark">
                                                                <i class="far fa-question-circle"></i>
                                                            </span>
                                                                            در صورت حل این مشکل، چه پیشرفتی در شیوه های
                                                                            درمانی / تجهیزات پزشکی /
                                                                            خدمات
                                                                            درمانی یا ... حاصل می شود؟
                                                                        </div>
                                                                        <div class="answer">{{ project.project_form.progress_profitability }}</div>
                                                                    </div>
                                                                    <div>
                                                                        <div class="question">
                                                            <span class="question-mark">
                                                                <i class="far fa-question-circle"></i>
                                                            </span>
                                                                            برآورد شما از سود مالی این پروژه چگونه است؟
                                                                        </div>
                                                                        <div class="answer">{{ project.project_form.predict_profit }}</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mbottom-lg-25">
                                                    <div class="col-12">
                                                        <span class="section-title">پژوهشگران</span>
                                                        <div class="section">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="horizontal-avatar-list">
                                                                        <div class="avatar-item">
                                                                            <img src="{% static 'img/photo_2019-11-03_00-03-04.jpg' %}" alt="">
                                                                        </div>
                                                                        <div class="avatar-item">
                                                                            <img src="{% static 'img/photo_2019-11-03_00-03-04.jpg' %}" alt="">
                                                                        </div>
                                                                        <div class="avatar-item">
                                                                            <img src="{% static 'img/photo_2019-11-03_00-03-04.jpg' %}" alt="">
                                                                        </div>
                                                                    </div>
                                                                </div>
{#                                                                <div class="researcher-request">#}
{#                                                                    <form id="researcher-request-ajax" method="post"#}
{#                                                                          action="">#}
{#                                                                          {% csrf_token %}#}
{#                                                                        <input type="text" class="project"#}
{#                                                                               name="project_id"#}
{#                                                                               value="{{ project.pk }}"#}
{#                                                                               hidden>#}
{#                                                                        <div class="row">#}
{#                                                                            <div class="col-md-5 col-6">#}
{#                                                                                <label for="researcher-number">حداکثر#}
{#                                                                                    تعداد</label>#}
{#                                                                                    {{ requestResearcherForm.researcher_count }}#}
{#                                                                                <input type="number" class="w-100"#}
{#                                                                                       id="researcher-number"#}
{#                                                                                       name="reseacherCount">#}
{#                                                                            </div>#}
{#                                                                            <div class="col-md-5 col-6">#}
{#                                                                                <label for="researcher-time">ساعت کار#}
{#                                                                                    <span#}
{#                                                                                            class="fs-10">(ساعت)</span></label>#}
{#                                                                                    {{ requestResearcherForm.least_hour }}#}
{#                                                                                <input type="number" class="w-100"#}
{#                                                                                       id="researcher-time" name="hour">#}
{#                                                                            </div>#}
{#                                                                            <div class="col-md-2 col-12">#}
{#                                                                                <button class="default-btn w-100"#}
{#                                                                                        type="submit">#}
{#                                                                                    تایید#}
{#                                                                                </button>#}
{#                                                                            </div>#}
{#                                                                        </div>#}
{#                                                                    </form>#}
{#                                                                </div>#}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    {% include 'expert/layouts/comment.html' with comments=comment project=project %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {% for project in projects %}
                        <div class="card box flow-root-display w-100">
                            <div class="box-header">
                                <h6>
                                    {{ project.project_form.project_title_persian }}
                                </h6>
                                {% calculate_date_past project.date_submitted_by_industry as date_past %}
                                <div class="data-modified">
                                    <span>{{ date_past }} قبل </span>
                                </div>
                                <div class="notification">
                                    <i class="far fa-comment-alt center-abs"></i>
                                    {% getUnseenComments project.pk request.user.expertuser as UnseenComments %}
                                    {% if UnseenComments != 0 %}
                                        <span class="unseen-comments"> {{ UnseenComments }} </span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-6 col-9">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="date text-center">
                                                    <div class="label">مهلت</div>
                                                    <div class="value">
                                                        <span>{% calculate_date_remaining project.date_finished %}</span>
                                                        <!-- <span>3</span>
                                                        <span>روز</span> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="status text-center">
                                                    <div class="label">بودجه</div>
                                                    <div class="value">
                                                        <span>{{ project.project_form.required_budget }}</span>
                                                        <span>ریال</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-3">
                                        <button class="default-btn preview-project type-{{ project.status }}"
                                                id={{ project.pk }}
                                                        data-url="{% url 'expert:show_project' %}" data-toggle="modal"
                                                data-target="#showProject">
                                            مشاهده
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="no-project-container">
                            <div class="no-project">
                                <img src="{% static 'img/no_project.svg' %}" alt="logo" class="icon">
                                <h4>متاسفانه، هنوز پروژه ای مرتبط با تخصص شما ثبت نشده است!</h4>
                                <p>پیشنهاد می کنیم دست از کار نکشید و با کلیک بر روی</p>
                                <span>
                                                            <i class="fas fa-cog"></i>
                                                            <span>اطلاعات کاربری</span>
                                                        </span>
                                <p>رزومه خود را کامل کنید تا در هنگام ارسال درخواست انجام پروژه، صنایع با شناخت
                                    و
                                    اطمینان کامل، پروژه شان را به شما بسپارند.</p>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            {#                {% for p in projects %}#}
            {#                    <div class="card active-question flow-root-display w-100">#}
            {#                        <div class="question-title w-50">#}
            {#                                            <span class="header">#}
            {#                                                {{ p.project_form.project_title_persian }}#}
            {#                                                <span class="sub-header">#}
            {#                                                    ( {% calculate_date_past p.date_submitted_by_industry %} قبل )#}
            {#                                                </span>#}
            {#                                            </span>#}
            {#                        </div>#}
            {#                        <div class="question-info w-50">#}
            {#                            <div class="date w-25">#}
            {#                                <span>{% calculate_date_remaining p.date_finished %}</span> تا اتمام پروژه#}
            {#                            </div>#}
            {#                            <div class="answers w-25"><i class="far fa-comments fa-lg"><span#}
            {#                                    class="num">{% getUnseenMessages p.pk request.user.expertuser %}</span></i>#}
            {#                            </div>#}
            {#                            <div class="status w-25"><span>{{ p.project_form.required_budget }}</span> ریال#}
            {#                            </div>#}
            {#                            <div class="show w-25">#}
            {#                                <button class="default-btn preview-project" id="{{ p.id }}"#}
            {#                                        data-url="{% url 'expert:show_project' %}">#}
            {#                                    مشاهده#}
            {#                                </button>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                            {% empty %}#}
            {#                                <div class="no-project-container">#}
            {#                                    <div class="no-project">#}
            {#                                        <img src="{% static 'img/no_project.svg' %}" alt="logo" class="icon">#}
            {#                                        <h4>متاسفانه، هنوز پروژه ای مرتبط با تخصص شما ثبت نشده است!</h4>#}
            {#                                        <p>پیشنهاد می کنیم دست از کار نکشید و با کلیک بر روی</p>#}
            {#                                        <span>#}
            {#                                                        <i class="fas fa-cog"></i>#}
            {#                                                        <span>پروفایل کاربری</span>#}
            {#                                                    </span>#}
            {#                                        <p>رزومه خود را کامل کنید تا در هنگام ارسال درخواست انجام پروژه، صنایع با شناخت#}
            {#                                            و#}
            {#                                            اطمینان کامل، پروژه شان را به شما بسپارند.</p>#}
            {#                                    </div>#}
            {#                                </div>#}
            {#                    <div class="row">#}
            {#                        <div class="col-lg-12">#}
            {#                            <div class="card project-item">#}
            {#                                {% if forloop.counter0 == 0 %}#}
            {#                                    <div class="alert"><span>فرم نظرسنجی فعال شده است!</span></div>#}
            {#                                {% endif %}#}
            {#                                <span class="header">{{ p.project_form.project_title_persian }} <span#}
            {#                                        class="sub-header"> ( {% calculate_date_past p.date_submitted_by_industry %} قبل ) </span></span>#}
            {#                                <span><i class="far fa-envelope"></i> پیام ها </span>#}
            {#                                <span><i#}
            {#                                        class="fas fa-dollar-sign"></i><span>{{ p.project_form.required_budget }}</span> ریال </span>#}
            {#                                <span><i#}
            {#                                        class="fas fa-hourglass-end"></i><span>{% calculate_date_remaining p.date_finished %}</span> تا اتمام پروژه</span>#}
            {#                                <button type="button" class="chamran-btn-info" id="{{ p.id }}"#}
            {#                                        data-url="{% url 'expert:show_project' %}">مشاهده#}
            {#                                </button>#}
            {#                                <button type="button" class="chamran-btn-delete">رد</button>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                    <div class="card active-question flow-root-display">#}
            {#                        <div class="question-title w-50">#}
            {#                                            <span class="header">#}
            {#                                                {{ p.project_form.project_title_persian }}#}
            {#                                                <span class="sub-header"> ( {% calculate_date_past p.date_submitted_by_industry %} قبل ) </span>#}
            {#                                            </span>#}
            {#                        </div>#}
            {#                        <div class="question-info w-50">#}
            {#                            <div class="date w-25">#}
            {#                                                <span>#}
            {#                                                    <i class="fas fa-hourglass-end"></i>#}
            {#                                                    <span>{% calculate_date_remaining p.date_finished %}</span>#}
            {#                                                    تا اتمام پروژه#}
            {#                                                </span>#}
            {#                            </div>#}
            {#                            <div class="answers w-25">#}
            {#                                <i class="far fa-envelope">#}
            {#                                    <span class="num">5</span>#}
            {#                                </i>#}
            {#                                پیام ها#}
            {#                            </div>#}
            {#                            <div class="status w-25">#}
            {#                                                <span>#}
            {#                                                    <i class="fas fa-dollar-sign"></i>#}
            {#                                                    <span>{{ p.cost_of_project }}</span>#}
            {#                                                    ریال#}
            {#                                                </span>#}
            {#                            </div>#}
            {#                            <div class="show w-25">#}
            {#                                <button class="default-btn show-btn chamran-btn-info" id="{{ p.id }}"#}
            {#                                        data-url="{% url 'expert:show_project' %}">مشاهده#}
            {#                                </button>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                {% endfor %}#}
        </div>
        {#        <div class="col-lg-3">col-lg-3</div>#}
    {% endif %}
    </div>
    <a href="#top" class="top-button">
        <i class="fas fa-angle-up"></i>
    </a>
{% endblock %}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    {#    <script src="{% static 'js/inputTags.jquery.min.js' %}" type="text/javascript"></script>#}
    {% if project.status == 2 %}
        <script type="text/javascript">
            $("#v-pills-roles-tab").click(function () {
                let role = "<div>" +
                    "<div class='question'>" +
                    "<span class='question-mark'>" +
                    "<i class='far fa-question-circle'></i>" +
                    "</span>" +
                    "از لحاظ نکات اخلاقی (کار با نمونه انسانی، حیوانی، مواد رادیواکتیو و...)، پروژه شما با چه چالش هایی روبه رو است؟" +
                    "</div>" +
                    "<div class='answer'>" +
                    "{{ project.project_form.policy }}" +
                    "</div>" +
                    "</div>";
                $(".project-info-content").html(role);
                $('*').persiaNumber();
            });
            $("#v-pills-resources-tab").click(function () {
                let resources = "<div>" +
                    "<div class='question'>" +
                    "<span class='question-mark'>" +
                    "<i class='far fa-question-circle'></i>" +
                    "</span>" +
                    "جهت انجام پروژه خود به چه امکانات یا آزمایشگاه هایی احتیاج دارید؟" +
                    "</div>" +
                    "<div class='answer'>" +
                    "{{ project.project_form.required_lab_equipment }}" +
                    "</div>" +
                    "</div>" +
                    "<div>" +
                    "<div class='question'>" +
                    "<span class='question-mark'>" +
                    "<i class='far fa-question-circle'></i>" +
                    "</span>" +
                    "جهت انجام پروژه خود به چه تخصص ها و چه تکنیک ها آزمایشگاهی ای احتیاج دارید؟" +
                    "</div>" +
                    "<div class='answer'>" +
                    "{{ project.project_form.required_method }}" +
                    "</div>" +
                    "</div>" +
                    "<div>" +
                    "<div class='question'>" +
                    "<span class='question-mark'>" +
                    "<i class='far fa-question-circle'></i>" +
                    "</span>" +
                    "لطفا مراحل انجام پروژه خود را مشخص کنید." +
                    "</div>" +
                    "<div class='answer'>" +
                    "{{ project.project_form.project_phase }}" +
                    "</div>" +
                    "</div>" +
                    "<div>" +
                    "<div class='question'>" +
                    "<span class='question-mark'>" +
                    "<i class='far fa-question-circle'></i>" +
                    "</span>" +
                    "پروژه شما به چه مقدار بودجه نیاز دارد؟" +
                    "</div>" +
                    "<div class='answer'>" +
                    numbersComma("{{ project.project_form.required_budget }}") + " ریال" +
                    "</div>" +
                    "</div>";
                $(".project-info-content").html(resources);
                $('*').persiaNumber();
            });
            $("#v-pills-approaches-tab").click(function () {
                let approach = "<div>" +
                    "<div class='question'>" +
                    "<span class='question-mark'>" +
                    "<i class='far fa-question-circle'></i>" +
                    "</span>" +
                    "لطفا راه حل خود را برای حل این مشکل به طور خلاصه توضیح دهید." +
                    "</div>" +
                    "<div class='answer'>" +
                    "{{ project.project_form.approach }}" +
                    "</div>" +
                    "</div>" +
                    "<div>" +
                    "<div class='question'>" +
                    "<span class='question-mark'>" +
                    "<i class='far fa-question-circle'></i>" +
                    "</span>" +
                    "این راه حل چه مشکلاتی می‌تواند داشته باشد؟" +
                    "</div>" +
                    "<div class='answer'>" +
                    "{{ project.project_form.potential_problems }}" +
                    "</div></div>";
                $(".project-info-content").html(approach);
                $('*').persiaNumber();
            });
            $("#v-pills-majors-tab").click(function () {
                let majors = "<div>" +
                    "<div class='question'>" +
                    "<span class='question-mark'>" +
                    "<i class='far fa-question-circle'></i>" +
                    "</span>" +
                    "لطفا مشکل اصلی که پروژه به حل آن پرداخته را توضیح و اهمیت آن را تبیین کنید." +
                    "</div>" +
                    "<div class='answer'>" +
                    "{{ project.project_form.main_problem_and_importance }}" +
                    "</div></div>" +
                    "<div>" +
                    "<div class='question'>" +
                    "<span class='question-mark'>" +
                    "<i class='far fa-question-circle'></i>" +
                    "</span>" +
                    "در صورت حل این مشکل، چه پیشرفتی در شیوه های درمانی / تجهیزات پزشکی / خدمات درمانی یا ... حاصل می شود؟" +
                    "</div>" +
                    "<div class='answer'>" +
                    "{{ project.project_form.progress_profitability }}" +
                    "</div></div>" +
                    "<div>" +
                    "<div class='question'>" +
                    "<span class='question-mark'>" +
                    "<i class='far fa-question-circle'></i>" +
                    "</span>" +
                    "برآورد شما از سود مالی این پروژه چگونه است؟" +
                    "</div>" +
                    "<div class='answer'>" +
                    numbersComma("{{ project.project_form.predict_profit }}") + " ریال" +
                    "</div></div>";
                $(".project-info-content").html(majors);
                $('*').persiaNumber();
            });
        </script>
        <script type="text/javascript">
            $(".comments .fa-trash-alt").closest(".dropdown-item").click(function () {
                deleteComment($(this).closest('.my-comment'));
            });
            dialog_comment_init();
        </script>
    {% endif %}
{% endblock %}