{% extends "expert/layouts/base_layout.html" %}
{% load static %}

{% block title %}پروژه ها{% endblock %}

{% block name %} {{ request.user.expertuser.expertform }}{% endblock %}

{% block dialog %}
    {% include 'expert/layouts/initial_information.html' %}
    {% include 'expert/layouts/project_details.html' %}
    {% include 'expert/layouts/showProject.html' %}
    {% include 'expert/layouts/vote_dialog_industry.html' %}
    {% include 'expert/layouts/vote_dialog_researcher.html' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card info-card">
                {% include 'expert/layouts/projectList.html' %}
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

{% endblock %}