{% extends "expert/layouts/base_layout.html" %}
{% load static %}

{% block title %}پروژه ها{% endblock %}

{% block name %} {{ request.user.expertuser.expertform }}{% endblock %}

{% block dialog %}
    {% include 'expert/layouts/initial_information.html' %}
    {% include 'expert/layouts/project_details.html' %}
    {% include 'expert/layouts/showProject.html' %}
    {% include 'expert/layouts/vote_dialog_industry.html' %}
    {% include 'expert/layouts/vote_dialog_researcher.html' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card info-card">
                <div class="row">
                    <div class="col-lg-12 col-xs-12">
                        <ul class="nav nav-tabs w-100" id="project-list">
                            <li class="nav-item"><a class="nav-link active" id="new-projects" href="#new-projects">جدیدترین
                                پروژه ها</a></li>
                            <li class="nav-item"><a class="nav-link" id="your-project" href="#your-project">پروژه های
                                مرتبط</a></li>
                            <li class="nav-item"><a class="nav-link" id="done-project" href="#done-project">پروژه های
                                انجام شده</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card project-item">
                                        <div class="alert"><span>فرم نظرسنجی فعال شده است!</span></div>
                                        <span class="header">محلول کشت سلولی <span
                                                class="sub-header">( 2 ماه قبل )</span></span>
                                        <span><i class="far fa-envelope"></i> پیام ها </span>
                                        <span><i class="fas fa-dollar-sign"></i><span>35,000,000</span> ریال </span>
                                        <span><i
                                                class="fas fa-hourglass-end"></i><span>8 ماه</span> تا اتمام پروژه</span>
                                        <button type="button" class="chamran-btn-info">مشاهده</button>
                                        <button type="button" class="chamran-btn-delete">رد</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card project-item">
                                        <span class="header">تولید واکسن اچ پی وی<span
                                                class="sub-header">( 3 ماه قبل )</span></span>
                                        <span><i class="far fa-envelope"></i> پیام ها </span>
                                        <span><i class="fas fa-dollar-sign"></i><span>5,000,000</span> ریال </span>
                                        <span><i
                                                class="fas fa-hourglass-end"></i><span>10 روز</span>تا اتمام پروژه </span>
                                        <button type="button" class="chamran-btn-info">مشاهده</button>
                                        <button type="button" class="chamran-btn-delete">رد</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card project-item">
                                        <span class="header">کیت تشخیصی سرطان<span
                                                class="sub-header">( 4 ماه قبل )</span></span>
                                        <span><i class="far fa-envelope"></i> پیام ها </span>
                                        <span><i class="fas fa-dollar-sign"></i><span>50,000,000</span> ریال </span>
                                        <span><i
                                                class="fas fa-hourglass-end"></i><span>2 ساعت</span>تا اتمام پروژه </span>
                                        <button type="button" class="chamran-btn-info">مشاهده</button>
                                        <button type="button" class="chamran-btn-delete">رد</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
{% endblock %}