{% extends "expert/layouts/base_layout.html" %}
{% load static %}
{% load date_tags %}

{% block title %}سوالات پژوهشی{% endblock %}

{% block name %}{{ request.user.expertuser.expertform }}{% endblock %}

{% block modals %}
    {% include 'expert/layouts/add_new_question.html' %}
    {% include 'expert/layouts/show_question.html' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 text-right">
            <h3 class="h3 p-top-15 {% if not research_questions %}border-bottom{% endif %}">سوالات پژوهشی</h3>
            <button class="add-new-question top-page-button border-button" data-toggle="modal" data-target="#addNewQuestion">
                <i class="fas fa-plus"></i>
                <span>ثبت سوال جدید</span>
            </button>
        </div>
    </div>
    <div class="row">
        {% if research_questions %}
            <div class="col-lg-12 text-right">
                <div class="project-info-tabs">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                         aria-orientation="vertical">
                        <a class="nav-link active fs-15" id="all-questions" data-toggle="pill"
                           role="tab" aria-selected="true">
                            همه
                        </a>
                        <a class="nav-link fs-15" id="active-questions" data-toggle="pill"
                           role="tab" aria-selected="false">
                            فعال
                        </a>
                        <a class="nav-link fs-15" id="check-questions" data-toggle="pill"
                           role="tab" aria-selected="false">
                            درحال بررسی
                        </a>
                        <a class="nav-link fs-15" id="answered-questions" data-toggle="pill"
                           role="tab" aria-selected="false">
                            پاسخ داده شده
                        </a>
                    </div>
                </div>
                <div class="tab-content cover-page">
                    {% for research_question in research_questions %}
                        {% if research_question.status == "not_answered" %}
                            <div class="card active-question box flow-root-display w-100">
                                <div class="box-header">
                                    <h6>{{ research_question.question_title }}</h6>
                                    <span class="active-status"></span>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-6 col-9">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="date text-center">
                                                        <div class="label">زمان ثبت</div>
                                                        <div class="value">
                                                            <span>{% calculate_date_past research_question.submitted_date %}</span>
                                                            <span>قبل</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="answers text-center">
                                                        <div class="label">پاسخ های جدید</div>
                                                        <div class="value">
                                                            <span>{{ research_question.get_answer_number }}</span>
                                                            <span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-3">
                                            <button class="default-btn show-btn" id="{{ research_question.id }}" data-toggle="modal" data-target="#showQuestion">
                                                مشاهده
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elif research_question.status == "waiting" %}
                            <div class="card check-question box flow-root-display w-100">
                                <div class="box-header">
                                    <h6>{{ research_question.question_title }}</h6>
                                    <span class="check-status"></span>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-6 col-9">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="date text-center">
                                                        <div class="label">زمان ثبت</div>
                                                        <div class="value">
                                                            <span>{% calculate_date_past research_question.submitted_date %}</span>
                                                            <span>قبل</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="answers text-center">
                                                        <div class="label">پاسخ های جدید</div>
                                                        <div class="value">
                                                            <span>{{ research_question.get_answer_number }}</span>
                                                            <span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-3">
                                            <button class="default-btn show-btn" id="{{ research_question.id }}" data-toggle="modal" data-target="#showQuestion">
                                                مشاهده
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elif research_question.status == "answered" %}
                            <div class="card close-question box flow-root-display w-100">
                                <div class="box-header">
                                    <h6>{{ research_question.question_title }}</h6>
                                    <span class="answered-status"></span>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-6 col-9">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="date text-center">
                                                        <div class="label">زمان ثبت</div>
                                                        <div class="value">
                                                            <span>{% calculate_date_past research_question.submitted_date %}</span>
                                                            <span>قبل</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="answers text-center">
                                                        <div class="label">پاسخ های جدید</div>
                                                        <div class="value">
                                                            <span>{{ research_question.get_answer_number }}</span>
                                                            <span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-3">
                                            <button class="default-btn show-btn" id="{{ research_question.id }}" data-toggle="modal" data-target="#showQuestion">
                                                مشاهده
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="col-12 text-center">
                <div class="empty-page">
                    <div class="empty-page-container">
                        <img src="{% static 'img/empty_question.svg' %}" alt="">
                        <h5>اولین سوال خود را طرح کنید!</h5>
                        <pre>با کلیک بر روی دکمه زیر می توانید اولین سوال پژوهشی خود را به آسانی بسازید.</pre>
                        <button class="add-new-question border-button" data-toggle="modal" data-target="#addNewQuestion">
                            <i class="fas fa-plus"></i>
                            <span>ثبت سوال جدید</span>
                        </button>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <a href="#top" class="top-button">
        <i class="fas fa-angle-up"></i>
    </a>
{% endblock %}

{% block script %}{% endblock %}