{% extends "expert/layouts/base_layout.html" %}

{% load static %}

{% block title %}درخواست‌های پژوهشگران{% endblock %}

{% block name %}{{ request.user.expertuser.expertform }}{% endblock %}

{% block dialog %}
    {% include 'expert/layouts/researcher_info_dialog.html' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 text-right">
            <h3 class="h3 p-top-15 border-bottom">درخواست‌های پژوهشگران</h3>
        </div>
    </div>
    <div class="row">
        {% if applications %}
            {% for project in applications %}
                {% for researcher in project.researchers_applied %}
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="card third-width box flow-root-display no-border has-image w-100 text-right">
                            <div class="box-image">
                                <img src="{{ researcher.profile.photo.url }}" alt="researcher-profile-image">
                            </div>
                            <div class="box-header">
                                <h5>
                                    {{ researcher.profile }}
                                </h5>
                                <div class="box-score">
                                    <span class="score-amount">{{ researcher.profile.researcher_user.points }}/10</span>
                                    <img src="{% static 'img/signs.svg' %}" alt="star">
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="box-item-list">
                                            <div class="researcher-uni">
                                                <span class="label">
                                                    دانشگاه
                                                </span>
                                                <span class="value">
                                                    {{ researcher.profile.university }}
                                                </span>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="researcher-field">
                                                <span class="label">
                                                    رشته
                                                </span>
                                                        <span class="value">
                                                    {{ researcher.profile.major }}
                                                </span>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="researcher-rank">
                                                        <span class="label">
                                                    مقطع
                                                        </span>
                                                        <span class="value">
                                                            {% if researcher.profile.grade == 1 %}
                                                                کارشناسی
                                                            {% elif researcher.profile.grade == 2 %}
                                                                کارشناسی ارشد
                                                            {% elif researcher.profile.grade == 3 %}
                                                                دکتری
                                                            {% elif researcher.profile.grade == 4 %}
                                                                دکتری عمومی
                                                            {% endif %}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            {#                                                   <button class="show-researcher">مشاهده</button>#}
                                            {#                                                   <button class="accept-researcher">تایید</button>#}
                                            {#                                                   <button class="refuse-researcher">رد</button>#}
{#                                            <button class="researcher-card-button-show" value="{{ project.id }}"#}
{#                                                    id="{{ researcher.profile.researcher_user.id }}"#}
{#                                                    data-url="{% url 'expert:show_researcher_preview' %}">مشاهده#}
{#                                            </button>#}
{#                                            <button class="researcher-card-button-check confirm-researcher"#}
{#                                                    id="{{ researcher.profile.id }}">تایید#}
{#                                            </button>#}
{#                                            <div class="close"></div>#}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="project-techniques">
                                            <ul class="mix-list hover">
                                                {% for tech in researcher.techniques %}
                                                    <li>{{ tech }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 text-left">
                                        <button class="default-btn researcher-card-button-show" value="{{ project.id }}"
                                                id="{{ researcher.profile.id }}"
                                                data-url="{% url 'expert:show_researcher_preview' %}">مشاهده
                                        </button>
                                    </div>
                                    <div class="col-6 text-right">
                                        <button class="border-button confirm-researcher"
                                                id="{{ researcher.profile.id }}" value="{{project.id}}">تایید
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% else %}
            <div class="col-12 text-center">
                <div class="empty-page">
                    <div class="empty-page-container">
                        <img src="{% static 'img/empty-tray.svg' %}" alt="">
                        <pre>هنوز پژوهشگری برای پروژه‌های شما درخواست نداده است.</pre>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}