{% extends "expert/layouts/base_layout.html" %}

{% load static %}

{% block title %}درخواست پژوهشگر{% endblock %}

{% block header %}

{% endblock %}

{% block name %}{{ request.user.expertuser.expertform }}{% endblock %}

{% block dialog %}
    {% include 'expert/layouts/researcher_info_dialog.html' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card info-card user-info text-right">
                {% if applications %}
                    {% for p in applications %}
                    <div class="card-header">{{ p.project }}</div>
                    <div class="inner-card card" style="margin-bottom: 0;">
                        {% for r in p.researchers_requested %}
                        <div class="researcher-request-info-innerDiv">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card researcher-info">
                                        <img src="{{ r.photo.url }}" alt="researcher-profile">
                                        <div class="researcher-info-innerDiv text-right">
                                            <h6>{{ r }}</h6>
                                            <div>{{ r.major }} - {{ r.university }}</div>
                                            <div>مقطع: <span> {% if r.grade == 1 %}
                                                                کارشناسی
                                                              {% elif r.grade == 2 %}
                                                                کارشناسی ارشد
                                                              {% elif r.grade == 3 %}
                                                                دکتری
                                                              {% elif r.grade == 4 %}
                                                                دکتری عمومی
                                                              {% endif %}</span></div>
                                            <div class="">
                                            {% for t in r.get_techniques %}
                                                <span class="border-span">t.technique.technique_title</span>
                                            {% endfor %}
                                            </div>
                                        </div>
                                        <div class="researcher-score">
                                            <span>امتیاز: </span>
                                            <span>10/</span>
                                            <span>r.points</span>
                                        </div>
{#                                                   <button class="show-researcher">مشاهده</button>#}
{#                                                   <button class="accept-researcher">تایید</button>#}
{#                                                   <button class="refuse-researcher">رد</button>#}
                                        <button class="researcher-card-button-show" id="{{ r.id }}" data-url="{% url 'expert:show_researcher_preview' %}">مشاهده</button>
                                        <button class="researcher-card-button-check" id="{{ r.id }}">تایید</button>
                                        <div class="close"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}

{% endblock %}