{% extends "expert/layouts/base_layout.html" %}
{% load static %}
{% block title %}تنظیمات کاربری{% endblock %}
{% block header %}
    <link rel="stylesheet" href="{% static 'expert/css/persian-datepicker.min.css' %}"
          xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="{% static 'expert/css/datepicker-style.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.30.2/skin-awesome/ui.fancytree.min.css" rel="stylesheet">
{% endblock %}

{% block name %}دکتر احسان شریف{% endblock %}

{% block dialog %}
    {% include 'expert/layouts/dialog.html' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card info-card">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="inner-card card">
                        <div class="row">
                        <div class="col-lg-12 text-center">
                            <label for="upload-input" class="upload text-center">
                                <i class="fas fa-pencil-alt"></i>
                            </label>
                            <img src="{% static 'expert/img/profile.jpg' %}" alt="profile" class="profile" width="150px" height="150px">
                            <input type="file" id="upload-input" accept="image/png, image/jpeg">
                        </div>
                    </div>
                        <div class="row">
                          <div class="col-lg-6">
                            <label for="FirstName">نام</label>
                            <input type="text" id="FirstName" class="w-100">
                          </div>
                          <div class="col-lg-6">
                            <label for="LastName">نام خانوادگی</label>
                            <input type="text" id="LastName" class="w-100">
                          </div>
                    </div>
                        <div class="row">
                        <div class="col-lg-6">
                              <label for="Field">حوزه تخصصی</label>
                              <input type="text" id="Field" class="w-100">
                        </div>
                        <div class="col-lg-6">
                            <label for="MelliCode">کد ملی</label>
                            <input type="text" id="MelliCode" class="w-100">
                        </div>
                    </div>
                        <div class="row">
                          <div class="col-lg-12 rankDiv">
                              <label class="rankLabel" for="rank">مرتبه علمی</label>
                              <select id="rank">
                                  <option selected dir="rtl">انتخاب کنید ...</option>
                                  <option value="1">مربی</option>
                                  <option value="2">استادیار</option>
                                  <option value="3">دانشیار</option>
                                  <option value="4">استاد</option>
                                  <option value="5">استاد تمام</option>
                                  <option value="6">پژوهشگر</option>
                              </select>
                          </div>
                      </div>
                        <div class="row">
                          <div class="col-lg-12">
                              <label for="Uni">دانشگاه محل فعالیت</label>
                              <input type="text" id="Uni" class="w-100">
{#                              <i class="fas fa-plus fa-lg"></i>#}
{#                              <div class="selected_uni"></div>#}
                          </div>
                      </div>
                        <div class="row">
                        <div class="col-lg-12">
                            <label for="Address">آدرس</label>
                            <textarea dir="rtl" rows="3" class="w-100" id="Address"></textarea>
                        </div>
                    </div>
                        <div class="row">
                        <div class="col-lg-6">
                            <label for="HomeNum">تلفن منزل</label>
                            <input type="text" id="HomeNum" class="w-100">
                        </div>
                        <div class="col-lg-6">
                            <label for="PhoneNum">تلفن همراه</label>
                            <input type="text" id="PhoneNum" class="w-100">
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-lg-12">
                            <label for="Email">پست الکترونیکی</label>
                            <input type="text" id="Email" class="w-100">
                        </div>
                        </div>
                    </div>
                    <div class="inner-card card">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <span class="label header">سوابق علمی</span>
                                <div class="education text-center w-100">
                                    <span class="initial-value" style="border: 1px dashed #bdbdbd;width: fit-content;border-radius: 0.25em;padding: 5px 10px;font-size: 13px;font-weight: 300;">برای افزودن سابقه جدید روی <i class="fas fa-plus"></i>  کلیک کنید!  </span>
                                </div>
                                <span class="education-btn"><i class="fas fa-plus fa-lg" data-toggle="tooltip" data-placement="left" title="افزودن"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="inner-card card">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <span class="label header">سوابق اجرایی</span>
                                <div class="executive text-center w-100">
                                    <span class="initial-value" style="border: 1px dashed #bdbdbd;width: fit-content;border-radius: 0.25em;padding: 5px 10px;font-size: 13px;font-weight: 300;">برای افزودن سابقه جدید روی <i class="fas fa-plus"></i>  کلیک کنید!  </span>
                                </div>
                                <span class="executive-btn"><i class="fas fa-plus fa-lg" data-toggle="tooltip" data-placement="left" title="افزودن"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="inner-card card">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <span class="label header">سوابق پژوهشی <span class="sub-header">(بهترین ها طی پنج سال گذشته)</span></span>
                                <div class="studious text-center w-100">
                                    <span class="initial-value" style="border: 1px dashed #bdbdbd;width: fit-content;border-radius: 0.25em;padding: 5px 10px;font-size: 13px;font-weight: 300;">برای افزودن سابقه جدید روی <i class="fas fa-plus"></i>  کلیک کنید!  </span>
                                </div>
                                <span class="studious-btn"><i class="fas fa-plus fa-lg" data-toggle="tooltip" data-placement="left" title="افزودن"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="inner-card card">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <span class="label header">مقالات <span class="sub-header">(چند مورد از بهترین مقالات)</span></span>
                                <div class="article text-center w-100">
                                    <span class="initial-value" style="border: 1px dashed #bdbdbd;width: fit-content;border-radius: 0.25em;padding: 5px 10px;font-size: 13px;font-weight: 300;">برای افزودن سابقه جدید روی <i class="fas fa-plus"></i>  کلیک کنید!  </span>
                                </div>
                                <span class="article-btn"><i class="fas fa-plus fa-lg" data-toggle="tooltip" data-placement="left" title="افزودن"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="inner-card card">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <span class="label header">افتخارات <span class="sub-header">(چند نمونه از بهترین افتخارات - مقالات خاص، جوایز و ...- به همراه سال وقوع)</span></span>
                                <textarea dir="rtl" rows="5" class="w-100" id="honours" placeholder="اینجا وارد کنید ..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="inner-card card">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <span class="label header">هوش هیجانی <span class="sub-header"></span></span>
                                <div class="w-100 text-center">
                                    <table class="w-75">
                                        <tr>
                                            <td class="text-right">روحیه کار تیمی</td>
                                            <td><input type="radio" name="group-work" id="group-work-1" value="1"><label for="group-work-1" class="radio-label"></label></td>
                                            <td><input type="radio" name="group-work" id="group-work-2" value="2"><label for="group-work-2" class="radio-label"></label></td>
                                            <td><input type="radio" name="group-work" id="group-work-3" value="3"><label for="group-work-3" class="radio-label"></label></td>
                                            <td><input type="radio" name="group-work" id="group-work-4" value="4"><label for="group-work-4" class="radio-label"></label></td>
                                            <td><input type="radio" name="group-work" id="group-work-5" value="5"><label for="group-work-5" class="radio-label"></label></td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">تفکر خلاقانه</td>
                                            <td><input type="radio" name="creative-thinking" id="creative-thinking-1" value="1"><label for="creative-thinking-1" class="radio-label"></label></td>
                                            <td><input type="radio" name="creative-thinking" id="creative-thinking-2" value="2"><label for="creative-thinking-2" class="radio-label"></label></td>
                                            <td><input type="radio" name="creative-thinking" id="creative-thinking-3" value="3"><label for="creative-thinking-3" class="radio-label"></label></td>
                                            <td><input type="radio" name="creative-thinking" id="creative-thinking-4" value="4"><label for="creative-thinking-4" class="radio-label"></label></td>
                                            <td><input type="radio" name="creative-thinking" id="creative-thinking-5" value="5"><label for="creative-thinking-5" class="radio-label"></label></td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">تعهد داشتن و از خودگذشتگی</td>
                                            <td><input type="radio" name="sacrifice" id="sacrifice-1" value="1"><label for="sacrifice-1" class="radio-label"></label></td>
                                            <td><input type="radio" name="sacrifice" id="sacrifice-2" value="2"><label for="sacrifice-2" class="radio-label"></label></td>
                                            <td><input type="radio" name="sacrifice" id="sacrifice-3" value="3"><label for="sacrifice-3" class="radio-label"></label></td>
                                            <td><input type="radio" name="sacrifice" id="sacrifice-4" value="4"><label for="sacrifice-4" class="radio-label"></label></td>
                                            <td><input type="radio" name="sacrifice" id="sacrifice-5" value="5"><label for="sacrifice-5" class="radio-label"></label></td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">انجام پژوهش محصول محور</td>
                                            <td><input type="radio" name="researching" id="researching-1" value="1"><label for="researching-1" class="radio-label"></label></td>
                                            <td><input type="radio" name="researching" id="researching-2" value="2"><label for="researching-2" class="radio-label"></label></td>
                                            <td><input type="radio" name="researching" id="researching-3" value="3"><label for="researching-3" class="radio-label"></label></td>
                                            <td><input type="radio" name="researching" id="researching-4" value="4"><label for="researching-4" class="radio-label"></label></td>
                                            <td><input type="radio" name="researching" id="researching-5" value="5"><label for="researching-5" class="radio-label"></label></td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">تعهد ملی</td>
                                            <td><input type="radio" name="obligation" id="obligation-1" value="1"><label for="obligation-1" class="radio-label"></label></td>
                                            <td><input type="radio" name="obligation" id="obligation-2" value="2"><label for="obligation-2" class="radio-label"></label></td>
                                            <td><input type="radio" name="obligation" id="obligation-3" value="3"><label for="obligation-3" class="radio-label"></label></td>
                                            <td><input type="radio" name="obligation" id="obligation-4" value="4"><label for="obligation-4" class="radio-label"></label></td>
                                            <td><input type="radio" name="obligation" id="obligation-5" value="5"><label for="obligation-5" class="radio-label"></label></td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">جمع آوری داده</td>
                                            <td><input type="radio" name="data-collection" id="data-collection-1" value="1"><label for="data-collection-1" class="radio-label"></label></td>
                                            <td><input type="radio" name="data-collection" id="data-collection-2" value="2"><label for="data-collection-2" class="radio-label"></label></td>
                                            <td><input type="radio" name="data-collection" id="data-collection-3" value="3"><label for="data-collection-3" class="radio-label"></label></td>
                                            <td><input type="radio" name="data-collection" id="data-collection-4" value="4"><label for="data-collection-4" class="radio-label"></label></td>
                                            <td><input type="radio" name="data-collection" id="data-collection-5" value="5"><label for="data-collection-5" class="radio-label"></label></td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">روحیه بیزنسی</td>
                                            <td><input type="radio" name="morale" id="morale-1" value="1"><label for="morale-1" class="radio-label"></label></td>
                                            <td><input type="radio" name="morale" id="morale-2" value="2"><label for="morale-2" class="radio-label"></label></td>
                                            <td><input type="radio" name="morale" id="morale-3" value="3"><label for="morale-3" class="radio-label"></label></td>
                                            <td><input type="radio" name="morale" id="morale-4" value="4"><label for="morale-4" class="radio-label"></label></td>
                                            <td><input type="radio" name="morale" id="morale-5" value="5"><label for="morale-5" class="radio-label"></label></td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">ریسک پذیری</td>
                                            <td><input type="radio" name="risk" id="risk-1" value="1"><label for="risk-1" class="radio-label"></label></td>
                                            <td><input type="radio" name="risk" id="risk-2" value="2"><label for="risk-2" class="radio-label"></label></td>
                                            <td><input type="radio" name="risk" id="risk-3" value="3"><label for="risk-3" class="radio-label"></label></td>
                                            <td><input type="radio" name="risk" id="risk-4" value="4"><label for="risk-4" class="radio-label"></label></td>
                                            <td><input type="radio" name="risk" id="risk-5" value="5"><label for="risk-5" class="radio-label"></label></td>
                                        </tr>
                                    </table>
                                </div>
                                <span class="sub-header"><span class="star-warning"></span>اگر از توانایی هایتان در موارد بالا اطمینان کامل ندارید می تواند از این آزمون کمک بگیرید! <a href="#">تست هوش هیجانی (EQ)</a> </span>
                            </div>
                        </div>
                    </div>
                    <div class="card inner-card">
                        <div class="row">
                            <div class="col-lg-12">
                                <textarea dir="rtl" class="w-100" rows="3" id="introduction-method"></textarea>
                                <label for="introduction-method">نحوه آشنایی شما با چمران تیم</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <span class="sub-header">در حال حاضر،چه تعداد دانشجو تحت نظر شما، در حال انجام فعالیت های پژوهشی هستند؟</span>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <input type="radio" id="student_num0" name="student_num" value="1-10" class="label-check-radio">
                                        <label for="student_num0">1 تا 10 نفر</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="radio" id="student_num1" name="student_num" value="1-10" class="label-check-radio">
                                        <label for="student_num1">11 تا 30 نفر</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="radio" id="student_num2" name="student_num" value="1-10" class="label-check-radio">
                                        <label for="student_num2">31 تا 60 نفر</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="radio" id="student_num3" name="student_num" value="1-10" class="label-check-radio">
                                        <label for="student_num3">بیش از 60 نفر</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8 text-right">
                                <span class="sub-header" style="top: 10px;position: relative;">آیا تا به حال با شرکت های خارج دانشگاه قرارداد پژوهشی داشته اید؟</span>
                            </div>
                            <div class="col-lg-2">
                                <input type="radio" id="foreign_yes" name="foreign_work" value="1-10" class="label-check-radio">
                                <label for="foreign_yes">آری</label>
                            </div>
                            <div class="col-lg-2">
                                <input type="radio" id="foreign_no" name="foreign_work" value="1-10" class="label-check-radio">
                                <label for="foreign_no">خیر</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <span class="sub-header">مجموعاً، تا به حال چند بار موفق به دریافت گرنت شده اید؟</span>
                                <textarea dir="rtl" class="w-100" rows="4" placeholder="اینجا وارد کنید ..." style="margin-top: 0;"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <span class="sub-header">لطفا در صورت تسلط بر زبانهای خارجی، زبان مورد نظر و مقدار تسلط خود را ذکر بفرمایید.</span>
                                <textarea dir="rtl" class="w-100" rows="4" placeholder="اینجا وارد کنید ..." style="margin-top: 0;"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="inner-card card">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <span class="label header">تکنیک ها</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <button class="chamran_btn technique" type="button">افزودن</button>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="chamran_btn" style="left: 0;bottom: -1px;">اعمال تغییرات</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{% static 'expert/js/persian-datepicker.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.30.2/jquery.fancytree-all-deps.min.js"></script>
    <script type="text/javascript">
        $("#fancy-tree").fancytree({
          extensions: ["glyph"],
          // checkbox: true,
          source: [{"title": "Node 1", "key": "1"},
                 {"title": "تکنیک شماره یک", "key": "2", "folder": true, "children": [
                    {"title": "Node 2.1", "key": "3"},
                    {"title": "Node 2.2", "key": "4"}
                  ]},
                  {"title": "Node 1", "key": "1"},
                 {"title": "Folder 2", "key": "2", "folder": true, "children": [
                    {"title": "Node 2.1", "key": "3"},
                    {"title": "Node 2.2", "key": "4"}
                  ]},
                  {"title": "Node 1", "key": "1"},
                 {"title": "Folder 2", "key": "2", "folder": true, "children": [
                    {"title": "Node 2.1", "key": "3"},
                    {"title": "Node 2.2", "key": "4"}
                  ]},
                  {"title": "Node 1", "key": "1"},
                 {"title": "Folder 2", "key": "2", "folder": true, "children": [
                    {"title": "Node 2.1", "key": "3"},
                    {"title": "Node 2.2", "key": "4"}
                  ]},
                  {"title": "Node 1", "key": "1"},
                 {"title": "Folder 2", "key": "2", "folder": true, "children": [
                    {"title": "Node 2.1", "key": "3"},
                    {"title": "Node 2.2", "key": "4"}
                  ]},
                  {"title": "Node 1", "key": "1"},
                 {"title": "Folder 2", "key": "2", "folder": true, "children": [
                    {"title": "Node 2.1", "key": "3"},
                    {"title": "Node 2.2", "key": "4"}
                  ]},
                  {"title": "Node 1", "key": "1"},
                 {"title": "Folder 2", "key": "2", "folder": true, "children": [
                    {"title": "Node 2.1", "key": "3"},
                    {"title": "Node 2.2", "key": "4"}
                  ]},
                  {"title": "Node 1", "key": "1"},
                 {"title": "Folder 2", "key": "2", "folder": true, "children": [
                    {"title": "Node 2.1", "key": "3"},
                    {"title": "Node 2.2", "key": "4"}
                  ]}
                  ],
          glyph: {
              preset: "awesome5",
              map: {
                  _addClass: "",
                  checkbox: "fas fa-square",
                  checkboxSelected: "fas fa-check-square",
                  checkboxUnknown: "fas fa-square",
                  radio: "fas fa-circle",
                  radioSelected: "fas fa-circle",
                  radioUnknown: "fas fa-dot-circle",
                  dragHelper: "fas fa-arrow-right",
                  dropMarker: "fas fa-long-arrow-right",
                  error: "fas fa-exclamation-triangle",
                  expanderClosed: "fas fa-chevron-left",
                  expanderLazy: "fas fa-angle-right",
                  expanderOpen: "fas fa-chevron-down",
                  loading: "fas fa-spinner fa-pulse",
                  nodata: "fas fa-meh",
                  noExpander: "",
                  // Default node icons.
                  // (Use tree.options.icon callback to define custom icons based on node data)
                  doc: "fas fa-screwdriver",
                  docOpen: "fas fa-screwdriver",
                  folder: "fas fa-tools",
                  folderOpen: "fas fa-tools"
              }
          },
      });
    </script>
{% endblock %}