<div class="dialog-main">
    <div class="dialog card text-right">
        <div class="row technique-dialog">
            <div class="col-lg-12 text-right">
                <div class="close">
                    <i class="fas fa-times"></i>
                </div>
                <span class="label header">تکنیک ها</span>
            </div>
        </div>
        <div class='row'>
            <div class='col-lg-12'>
                <span class='sub-header'>از میان تکنیک های طبقه بندی شده زیر، با کدام یک آشنایی دارید و میزان توانایی شما در هرکدام چقدر است؟<br> (لازم به ذکر است که آموزش تکنیک ها در تیم چمران ،به عنوان امتیاز بیشتر برای استاد گرامی تلقی می شود.)</span>
            </div>
        </div>
        <div class="row">
            <div class='col-lg-12'>
                <input type='text' dir='rtl' name='search_technique' placeholder='جستجو ...' id='search_technique' class="solid-label"><label for='search_technique'><i class='fas fa-search fa-lg'></i></label>
{#                <ul class='technique-list w-100'>#}
{#                    <li class='technique-list-item'>#}
{#                        <span><i class="fas fa-chevron-left"></i></span>#}
{#                        <span><i class="fas fa-tools"></i></span>#}
{#                        <span>تکنیک شماره یک</span>#}
{#                        <ul class="sub-technique-list display-toggle">#}
{#                            <li class='technique-list-item'>#}
{#                                <span><i class="fas fa-chevron-left"></i></span>#}
{#                                <span><i class="fas fa-tools"></i></span>#}
{#                                <span>تکنیک شماره یک-یک</span>#}
{#                                <ul class="sub-technique-list display-toggle">#}
{#                                    <li class='technique-list-item'>#}
{#                                        <span><i class="fas fa-screwdriver"></i></span>#}
{#                                        <span>تکنیک شماره یک-یک جزییات</span>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </li>#}
{#                            <li class='technique-list-item'>#}
{#                                <span><i class="fas fa-chevron-left"></i></span>#}
{#                                <span><i class="fas fa-tools"></i></span>#}
{#                                <span>تکنیک شماره یک-دو</span>#}
{#                            </li>#}
{#                            <li class='technique-list-item'>#}
{#                                <span><i class="fas fa-chevron-left"></i></span>#}
{#                                <span><i class="fas fa-tools"></i></span>#}
{#                                <span>تکنیک شماره یک-سه</span>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </li>#}
{#                    <li class='technique-list-item'>#}
{#                        <span><i class="fas fa-chevron-left"></i></span>#}
{#                        <span><i class="fas fa-tools"></i></span>#}
{#                        <span>تکنیک شماره دو</span>#}
{#                    </li>#}
{#                </ul>#}
                <div id="fancy-tree"></div>
            </div>
        </div>
        <button type="button" class="chamran_btn" style="left: 0;bottom: -1px;">افزودن تکنیک</button>
    </div>
</div>