{% load static %}
{% load widget_tweaks %}
<div class="fixed-back initial-information"{% if expert_user.status == "signed_up" %} style="display: block" {% endif %}>
    <div class="card text-right">
        <div class="card-head">اطلاعات اولیه</div>
        <div class="container">
            <form action="{% url 'expert:index' %}" method="post" novalidate>
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <label for="upload-input" class="upload text-center">
                                    <i class="fas fa-pencil-alt"></i>
                                </label>
                                <img src="{% static 'expert/img/profile.jpg' %}" alt="profile" class="profile"
                                     width="150px" height="150px">
                                <input type="file" id="upload-input" accept="image/png, image/jpeg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                {#for adding error add class "error" to input or textarea then add following div after that#}
                                <label for="FirstName">نام</label>
                                {% if form.first_name.errors %}
                                    {% render_field form.first_name class="error w-100" %}
                                {% else %}
                                    {% render_field form.first_name class="w-100" %}
                                {% endif %}
                                <div class="error">
                                    <span class="error-body">{% render_field form.first_name.errors %}</span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label for="LastName">نام خانوادگی</label>
                                {% if form.last_name.errors %}
                                    {% render_field form.last_name class="error w-100" %}
                                {% else %}
                                    {% render_field form.last_name class="w-100" %}
                                {% endif %}
                                <div class="error">
                                    <span class="error-body">{% render_field form.last_name.errors %}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label for="Field">حوزه تخصصی</label>
                                {% if form.special_field.errors %}
                                    {% render_field form.special_field class="error w-100" %}
                                {% else %}
                                    {% render_field form.special_field class="w-100" %}
                                {% endif %}
                                <div class="error">
                                    <span class="error-body">{% render_field form.special_field.errors %}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label for="MelliCode">کد ملی</label>
                                {% if form.melli_code.errors %}
                                    {% render_field form.melli_code class="error w-100" %}
                                {% else %}
                                    {% render_field form.melli_code class="w-100" %}
                                {% endif %}
                                <div class="error">
                                    <span class="error-body">{% render_field form.melli_code.errors %}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 rankDiv">
                                <label class="rankLabel" for="rank">مرتبه علمی</label>
                                <select id="rank" name="scientific_rank">
                                    <option selected dir="rtl">انتخاب کنید ...</option>
                                    <option value="1">مربی</option>
                                    <option value="2">استادیار</option>
                                    <option value="3">دانشیار</option>
                                    <option value="4">استاد</option>
                                    <option value="5">استاد تمام</option>
                                    <option value="6">پژوهشگر</option>
                                </select>
                                <div class="error">
                                    <span class="error-body">{% render_field form.scientific_rank.errors %}</span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label for="Uni">دانشگاه محل فعالیت</label>
                                {% if form.university.errors %}
                                    {% render_field form.university class="error w-100" %}
                                {% else %}
                                    {% render_field form.university class="w-100" %}
                                {% endif %}
                                <div class="error">
                                    <span class="error-body">{% render_field form.university.errors %}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label for="Address">آدرس</label>
                                {% if form.address.errors %}
                                    {% render_field form.address class="error w-100" %}
                                {% else %}
                                    {% render_field form.address class="w-100" %}
                                {% endif %}
                                <div class="error">
                                    <span class="error-body">{% render_field form.address.errors %}</span>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="HomeNum">تلفن منزل</label>
                                {% if form.home_number.errors %}
                                    {% render_field form.home_number class="error w-100" %}
                                {% else %}
                                    {% render_field form.home_number class="w-100" %}
                                {% endif %}
                                <div class="error">
                                    <span class="error-body">{% render_field form.home_number.errors %}</span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label for="PhoneNum">تلفن همراه</label>
                                {% if form.phone_number.errors %}
                                    {% render_field form.phone_number class="error w-100" %}
                                {% else %}
                                    {% render_field form.phone_number class="w-100" %}
                                {% endif %}
                                <div class="error">
                                    <span class="error-body">{% render_field form.phone_number.errors %}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label for="Email">پست الکترونیکی</label>
                                {% if form.email_address.errors %}
                                    {% render_field form.email_address class="error w-100" %}
                                {% else %}
                                    {% render_field form.email_address class="w-100" %}
                                {% endif %}
                                <div class="error">
                                    <span class="error-body">{% render_field form.email_address.errors %}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <input class="save-btn" type="submit" value="ذخیره">
                </div>
            </form>
        </div>
    </div>
</div>