{% load static %}
{% load widget_tweaks %}
<div class="fixed-back paper_form">
    <div class="card small-card text-right">
        <div class="close"></div>
        <div class="card-head">ثبت مقاله</div>
        <div class="container">
            <form method="post" action="" class="ajax-paper-form" data-url="{% url 'expert:ajax_paper' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-6">
                        <div class='row'>
                            <div class='col-lg-12'>
                                <label for='article-name'>عنوان مقاله</label>
                                {{ paper_form.research_title|attr:"id:article-name"|attr:"class:w-100" }}
                            </div>
                        </div>
                        <div class="row">
                            <div class='col-lg-12'>
                                <label for='publish-date'>تاریخ انتشار</label>
                                {{ paper_form.date_published|attr:"id:publish-date"|attr:"class:w-100" }}
                            </div>
                        </div>
                        <div class="row">
                            <div class='col-lg-12'>
                                <label for='published-at'>محل دقیق انتشار</label>
                                {{ paper_form.published_at|attr:"id:published-at"|attr:"class:w-100" }}
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-lg-12'>
                                <label for='impact-factor'>Impact Factor</label>
                                {{ paper_form.impact_factor|attr:"id:impact-factor"|attr:"class:w-100" }}
                            </div>
                        </div>
                        <div class="row">
                            <div class='col-lg-12'>
                                <label for='referring-num'>تعداد ارجاع به مقاله شما</label>
                                {{ paper_form.citation|attr:"id:referring-num"|attr:"class:w-100" }}
                            </div>
                        </div>
                    </div>
                    <div class="col-6 flex-display">
                        <img src="{% static '/img/paper.svg' %}" alt="paper img" class="form-image">
                    </div>
                </div>
                <div class="card-footer">
                    <button class="save-btn" type="submit">افزودن</button>
                    <button class="reject-btn" type="reset">لغو</button>
                </div>
            </form>
        </div>
    </div>
</div>