{% load static%}
<div class="dialog-main project-details">
    <div class="card text-right dialog">
        <div class="close"></div>
        <div class="container">
            <div class="row mbottom-lg-25">
               <div class="col-lg-12">
                   <h6 class="project-title"> محلول کشت سلولی ( FBS )</h6>
               </div>
            </div>
            <div class="row mbottom-lg-25">
                <div class="col-lg-12 text-right">
                    <div class="project-info custom-border-title">
                        <span class="title">جزییات پروژه</span>
                        <span class="title-back"></span>
                        <div>
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label for="industry-name">کارفرما</label>
                                            <input type="text" class="w-100" id="industry-name" value="شرکت طب باکس" disabled>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label for="enforced-name">مجری</label>
                                            <input type="text" class="w-100" id="enforced-name" value="نمی دونم!" disabled>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label for="executive-info">توضیحات اجرایی</label>
                                            <textarea class="w-100" rows="4" id="executive-info" disabled>توضیحات</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="industry-logo-preview">
                                        <img src="{% static 'expert/img/industry.jpg' %}" alt="industry-logo">
                                    </div>
                                    <div class="budget-section">
                                        <div class="budget">
                                            <div class="budget-header">بودجه</div>
                                            <div class="budget-content">
                                                <div class="budget-amount">5,000,000</div>
                                                <div>ریال</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="project-process">
                                <div class="progress-row">
                                    <div class="step-top">
                                        <div class="time">
                                            12/12/1212
                                        </div>
                                    </div>
                                    <div class="step-top">
                                        <div class="step-content">
                                            فاز اول
                                        </div>
                                    <div class="step-circle"></div>
                                    </div>
                                    <div class="step-top">
                                        <div class="date">
                                            12/12/1212
                                        </div>
                                    </div>
                                    <div class="step-top">
                                        <div class="step-content">
                                            فاز سوم
                                        </div>
                                        <div class="step-circle"></div>
                                    </div>
                                    <div class="step-top">
                                        <div class="date">
                                            12/12/1212
                                        </div>
                                    </div>
                                </div>
                                <div class="line-100">
                                    <div class="arrow"></div>
                                </div>
                                <div class="progress-row">
                                    <div class="step-down">
                                        <div class="step-content">
                                            شروع پروژه
                                        </div>
                                        <div class="step-circle"></div>
                                    </div>
                                    <div class="step-down">
                                        <div class="date">
                                            12/12/1212
                                        </div>
                                    </div>
                                    <div class="step-down">
                                        <div class="step-content">
                                            فاز دوم
                                        </div>
                                        <div class="step-circle"></div>
                                    </div>
                                    <div class="step-down">
                                        <div class="date">
                                            12/12/1212
                                        </div>
                                    </div>
                                    <div class="step-down">
                                        <div class="step-content">
                                            اتمام پروژه
                                        </div>
                                        <div class="step-circle"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-lg-9">
                                            <input class="w-100" type="text" name="researcher-num" value="" id="researcher-num">
                                            <label for="researcher-num">تعداد پژوهشگر ها</label>
                                        </div>
                                        <div class="col-lg-3">
                                            <button class="save-input">ثبت</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-lg-9">
                                            <input class="w-100" type="text" name="researcher-time" value="" id="researcher-time">
                                            <label for="researcher-time">زمان هفتگی  مورد نیاز هر پژوهشگر</label>
                                        </div>
                                        <div class="col-lg-3">
                                            <button class="save-input">ثبت</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mbottom-lg-25">
                <div class="col-lg-12 text-right">
                    <div class="project-info custom-border-title">
                        <span class="title">اطلاعات پروژه</span>
                        <span class="title-back"></span>
                        <div class="row">
                            <div class="col-lg-12 project-detail">
                                <span class="border-span">محیط کشت سلولی </span>
                                <span class="border-span">PCR</span>
                                <span class="border-span">فلوسایتومتری</span>
                                <span class="border-span">فلوسایتومتری</span>
                                <span class="border-span">PCR</span>
                                <span class="border-span">PCR</span>
                            </div>
                        </div>
                        <div class="project-info-innerDiv">
                            <div class="project-info-tabs">
                                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                                        <span>شاخص ها</span>
                                    </a>
                                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                                        <span>راهکارها</span>
                                    </a>
                                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                                        <span>منابع مورد نیاز</span>
                                    </a>
                                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                                        <span>قوانین</span>
                                    </a>
                                </div>
                            </div>
                            <div class="project-info-content">
                                <div>
                                    <div class="question">
                                        <span class="question-mark">
                                            <i class="far fa-question-circle"></i>
                                        </span>
                                        لطفا مشکل اصلی که پروژه به حل آن پرداخته را توضیح و اهمیت آن را تبیین کنید.
                                    </div>
                                    <div class="answer">
                                        نمونه های موجود در بازار همه از خارج از کشور وارد میشوند و ادعا میشود که از خون جنین گاو در تولید آن ها استفاده میشود ولی این کار بسیار هزینه بر است.
                                    </div>
                                </div>
                                <div>
                                    <div class="question">
                                        <span class="question-mark">
                                            <i class="far fa-question-circle"></i>
                                        </span>
                                        در صورت حل این مشکل، چه پیشرفتی در شیوه های درمانی / تجهیزات پزشکی / خدمات درمانی یا ... حاصل می شود؟
                                    </div>
                                    <div class="answer">
                                        مصرف کننده های این محصول ، داروسازی ها و مراکز پژوهشی میباشد که در حال حاضر تولیدکننده این محصول شرکت THERMO FISHER میباشد. اگر کیفیت محصول تولیدی خوب باشد میتواند جایگزین نمونه خارجی شود.
                                    </div>
                                </div>
                                <div>
                                    <div class="question">
                                        <span class="question-mark">
                                            <i class="far fa-question-circle"></i>
                                        </span>
                                        برآورد شما از سود مالی این پروژه چگونه است؟
                                    </div>
                                    <div class="answer">
                                        براورد دقیقی از سود حاصل در دست نیست ولی این پروژه سود زیادی دارد.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mbottom-lg-25">
                <div class="col-lg-12 text-right">
                    <div class="project-comment custom-border-title">
                        <span class="title">نظرات</span>
                        <span class="title-back"></span>
                        <div class="project-comment-innerDiv">
                            <div class="add-comment">
                                <form action="" method="post">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label for="comment">ثبت نظر جدید</label>
                                            <textarea dir="rtl" id="comment" class="w-100" name="" rows="5"></textarea>
                                            <button class="chamran_btn" type="button" style="left: 16px;bottom: 8px;">ثبت نظر</button>
                                        </div>
                                    </div>
                                </form>
                                <hr>
                                <div class="comments">
                                    تاکنون نظری ثبت نشده
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>