{% load static%}
<div class="dialog-main researcher-info-dialog">
    <div class="card text-right dialog">
        <div class="close"></div>
        <div class="container">
            <div class="row">
               <div class="col-lg-12">
                   <div class="row mbottom-lg-25">
                       <div class="col-lg-12">
                           <div class="researcher-personal-info">
                               <div class="researcher-profile">
                                    <img src="{% static 'expert/img/photo.jpg' %}" alt="profile-img">
                               </div>
                               <div class="information">
                                   <h6>علی جعفرزاده</h6>
                                   <div>رشته تحصیلی: <span>مهندسی کامپیوتر-نرم افزار</span></div>
                                   <div>مقطع: <span>کارشناسی</span></div>
                                   <div>محل تحصیل: <span>دانشگاه تهران</span></div>
                                   <div>سال ورود: <span>1395</span></div>
                                   <div>
                                       <span class="border-span">برنامه نویس Django </span>
                                       <span class="border-span">python</span>
                                       <span class="border-span">برنامه نویس BackEnd</span>
                                       <span class="border-span">مسلط به Git</span>
                                       <span class="border-span">مسلط به Finglish</span>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="row mbottom-lg-25">
                       <div class="col-lg-12 text-right">
                           <div class="education-info custom-border-title">
                               <span class="title">سوابق علمی<i class="fas fa-chevron-down1"></i></span>
                               <span class="title-back"></span>
                               <div class="education-info-innerDiv">
                                   <table class="table table-bordered text-center">
                                       <thead>
                                            <tr>
                                                <td scope="col">رشته تحصیلی</td>
                                                <td scope="col">مقطع تحصیلی</td>
                                                <td scope="col">دانشگاه محل تحصیل</td>
                                                <td scope="col">شهر</td>
                                                <td scope="col">سال ورود</td>
                                            </tr>
                                       </thead>
                                       <tbody>
                                            <tr>
                                                <td>مهندسی کامپیوتر - نرم افزار</td>
                                                <td>کارشناسی</td>
                                                <td>دانشگاه تهران</td>
                                                <td>تهران</td>
                                                <td>1395</td>
                                            </tr>
                                       </tbody>
                                   </table>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="row mbottom-lg-25">
                       <div class="col-lg-12 text-right">
                           <div class="project-info custom-border-title">
                               <span class="title">سوابق اجرایی <i class="fas fa-chevron-down1"></i></span>
                               <span class="title-back"></span>
                               <div class="education-info-innerDiv">
                                   <table class="table table-bordered text-center">
                                       <thead>
                                            <tr>
                                                <td scope="col" rowspan="2">سمت</td>
                                                <td scope="col" rowspan="2">محل خدمت</td>
                                                <td scope="col" rowspan="2">شهر</td>
                                                <td scope="col" colspan="2">تاریخ</td>
                                            </tr>
                                            <tr>
                                                <td scope="col">شروع</td>
                                                <td scope="col">اتمام</td>
                                            </tr>
                                       </thead>
                                       <tbody>
                                            <tr>
                                                <td>برنامه نویس</td>
                                                <td>چمران تیم</td>
                                                <td>تهران</td>
                                                <td>22/2/1398</td>
                                                <td>22/7/1398</td>
                                            </tr>
                                       </tbody>
                                   </table>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="row mbottom-lg-25">
                       <div class="col-lg-12 text-right">
                           <div class="project-info custom-border-title">
                               <span class="title">سوابق پژوهشی <i class="fas fa-chevron-down1"></i></span>
                               <span class="title-back"></span>
                               <div class="education-info-innerDiv">
                                   <table class="table table-bordered text-center">
                                       <thead>
                                            <tr>
                                                <td scope="col">عنوان طرح پژوهشی</td>
                                                <td scope="col">نام مجری</td>
                                                <td scope="col">مسئول اجرا/همکار</td>
                                                <td scope="col">وضعیت طرح پژوهشی</td>
                                            </tr>
                                       </thead>
                                       <tbody>
                                            <tr>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>فعال</td>
                                            </tr>
                                       </tbody>
                                   </table>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="row mbottom-lg-25">
                       <div class="col-lg-12 text-right">
                           {% include 'expert/layouts/comment.html' %}
                       </div>
                   </div>
               </div>
            </div>
        </div>
    </div>
</div>