{% load static %}

<div class="fixed-back showProject">
    <div class="card text-right">
        <div class="close"></div>
        <div class="card-head"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 techniques"></div>
            </div>
            <div class="row">
                <div class="col-6"></div>
                <div class="col-6 text-left">
                    <div class="row">
                        <div class="col-6">
                            <div class="establish-time">
                                <div class="time-head">ثبت</div>
                                <div class="time-body">تاریخ ثبت</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="time-left">
                                <div class="time-head">مهلت</div>
                                <div class="time-body">مهلت</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mbottom-lg-25">
                <div class="col-lg-12 text-right">
                    <span class="section-title">اطلاعات پروژه</span>
                    <div class="project-info-tabs">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                             aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-majors-tab" data-toggle="pill"
                               role="tab" aria-controls="v-pills-majors"
                               aria-selected="true">
                                شاخص ها
                            </a>
                            <a class="nav-link" id="v-pills-approaches-tab" data-toggle="pill"
                               role="tab" aria-controls="v-pills-approaches"
                               aria-selected="false">
                                راهکار ها
                            </a>
                            <a class="nav-link" id="v-pills-resources-tab" data-toggle="pill"
                               role="tab" aria-controls="v-pills-resources"
                               aria-selected="false">
                                منابع مورد نیاز
                            </a>
                            <a class="nav-link" id="v-pills-roles-tab" data-toggle="pill"
                               role="tab" aria-controls="v-pills-roles"
                               aria-selected="false">
                                قوانین
                            </a>
                        </div>
                    </div>
                    <div class="section">
                        <div class="project-info-innerDiv">
                            <div class="project-info-content">
                                <div>
                                    <div class="question">
                                        <span class="question-mark">
                                            <i class="far fa-question-circle"></i>
                                        </span>
                                        لطفا مشکل اصلی که پروژه به حل آن پرداخته را توضیح و اهمیت آن را تبیین کنید.
                                    </div>
                                    <div class="answer"></div>
                                </div>
                                <div>
                                    <div class="question">
                                        <span class="question-mark">
                                            <i class="far fa-question-circle"></i>
                                        </span>
                                        در صورت حل این مشکل، چه پیشرفتی در شیوه های درمانی / تجهیزات پزشکی / خدمات
                                        درمانی یا ... حاصل می شود؟
                                    </div>
                                    <div class="answer"></div>
                                </div>
                                <div>
                                    <div class="question">
                                        <span class="question-mark">
                                            <i class="far fa-question-circle"></i>
                                        </span>
                                        برآورد شما از سود مالی این پروژه چگونه است؟
                                    </div>
                                    <div class="answer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mbottom-lg-25">
                <div class="col-lg-12 text-right">
                    {% include 'expert/layouts/comment.html' %}
                </div>
            </div>
            <div class="card-footer">
                <button class="save-btn confirm_project" id="accept-project">
                    تایید و شروع پروژه
                </button>
            </div>
        </div>
    </div>
</div>