{% load static%}
<div class="fixed-back show-question">
    <div class="card text-right">
        <div class="close"></div>
        <div class="card-head">عنوان سوال پژوهشی</div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="question-info">
                        <div class="status active">
                            <span class="question-status">فعال</span>
                        </div>
                        <div class="date">
                            <span>تاریخ:</span>
                            <span class="question-date">1398/5/12</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="pre-header">
                        <span>متن سوال</span>
                    </div>
                    <pre dir="rtl" class="w-100" id="question-body"></pre>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="question-attach text-left">
                        <ul class="inline-list">
                            <li class="list-item">
                                <a href="#" class="attach-file">
                                    <span class="attachment"></span>
                                    <span class="attach-name">ضمیمه ای وجود ندارد</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <span class="section-title">پاسخ ها</span>
                    <button class="default-btn close-answer">بستن پاسخ جدید</button>
                    <div class="section">
                        <div class="row all-answers"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>