{% load static%}
<div class="dialog-main voting researcher-voting">
    <div class="card text-right center-dialog">
        <div class="close"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="vote-progress">
                        <div class="progress-line"></div>
                        <ul class="vote-list">
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="custom-border-title">
                        <div class="row mbottom-10">
                            <div class="col-lg-12">
                                <div class="vote-question"><span>?</span></div>
                                <div class="vote-question-text">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                                </div>
                                <div class="card p-2 btl-4">
                                    <div class="swiper-container w-100">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        1
                                                        -
                                                    </span>
                                                    <span>
                                                        به چه میزان دانشجو مطابق زمان از پیش اعلام شده در هفته، برای کار زمان تخصیص داد؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        2
                                                        -
                                                    </span>
                                                    <span>
                                                        میزان رضایت شما از انعطاف زمانبندی ارائه شده توسط دانشجو، چقدر است؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        3
                                                        -
                                                    </span>
                                                    <span>
                                                        دانشجو تسلط بر تکنیک های اعلام شده چه میزان بوده است؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        4
                                                        -
                                                    </span>
                                                    <span>
                                                        صحت سوابق و مهارتهای اعلام شده توسط دانشجو چقدر بوده است؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        5
                                                        -
                                                    </span>
                                                    <span>
                                                        میزان رضایت شما از رفتار حرفه ای دانشجو، چه اندازه است؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        6
                                                        -
                                                    </span>
                                                    <span>
                                                        دانشجو چه میزان همکاری سازنده با سایر اعضای تیم داشته است؟(کمک به ارتقای سطح دانش علمی و عملی گروه)
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        7
                                                        -
                                                    </span>
                                                    <span>
                                                        میزان رضایت شما از دانشجو در ازای ارائه نتایج عملکرد به شما چقدر بوده است ؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        8
                                                        -
                                                    </span>
                                                    <span>
                                                        میزان رضایت کلی شما از دانشجو چه اندازه است؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        9
                                                        -
                                                    </span>
                                                    <span>
                                                        چقدر تمایل دارید در همکاری های بعدی با دانشجو همکاری کنید؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        10
                                                        -
                                                    </span>
                                                    <span>
                                                        میزان رضایت شما از عملکرد چمران تیم در این پروژه چقدر بوده است؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <span class="next-button">
                                    <i class="fas fa-arrow-right"></i>
                                    بعدی
                                </span>
                                <span class="prev-button disabled">
                                    قبلی
                                    <i class="fas fa-arrow-left"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>