{% load static%}
<div class="dialog-main voting">
    <div class="card text-right center-dialog">
        <div class="close"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="vote-progress">
                        <div class="progress-line"></div>
                        <ul class="vote-list">
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                            <li class="vote-item"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="custom-border-title">
                        <div class="row mbottom-10">
                            <div class="col-lg-12">
                                <div class="card p-1 btl-4">
                                    <div class="vote-question"><span>?</span></div>
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <div class="vote-question-text">درباره این دیالوگ</div>
                                                    <span class="number">
                                                        1
                                                        -
                                                    </span>
                                                    <span>
                                                        به چه میزان دانشجو مطابق زمان از پیش اعلام شده در هفته، برای کار زمان تخصیص داد؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="vote-content">
                                                    <span class="number">
                                                        2
                                                        -
                                                    </span>
                                                    <span>
                                                        به چه میزان دانشجو مطابق زمان از پیش اعلام شده در هفته، برای کار زمان تخصیص داد؟
                                                    </span>
                                                </div>
                                                <div class="text-center vote-select-parent pt-20 pb-40">
                                                    <div>
                                                        <input type="radio" class="vote-select xxl" id="vote0" name="vote-researcher-question1" value="0" hidden><label for="vote0" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote1" name="vote-researcher-question1" value="1" hidden><label for="vote1" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select l" id="vote2" name="vote-researcher-question1" value="2" hidden><label for="vote2" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xl" id="vote3" name="vote-researcher-question1" value="3" hidden><label for="vote3" class="vote-select-label"></label>
                                                        <input type="radio" class="vote-select xxl" id="vote4" name="vote-researcher-question1" value="4" hidden><label for="vote4" class="vote-select-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <span class="next-button">
                                    <i class="fas fa-arrow-right"></i>
                                    بعدی
                                </span>
                                <span class="prev-button">
                                    قبلی
                                    <i class="fas fa-arrow-left"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>